<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage Units</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
















    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">

            <div class="mb-9">
                {% if message %}
                    <div class="alert alert-soft-danger alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>

                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    {% endif %}
                <div data-list='{"valueNames":["slno","id","name","status"],"page":20,"pagination":true}'
                     id="projectSummary">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Units<span class="fw-normal text-700 ms-3">({{units_list|length}})</span>
                            </h2>
                        </div>
                    </div>
                    <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
                        <li class="nav-item"><a aria-current="page" class="nav-link filter active" href="#filter-all-status">All</a>
                        </li>
                        <li class="nav-item"><a aria-current="page" class="nav-link filter" href="#filter-filterIn_Active-status">Active</a>
                        </li>
                        <li class="nav-item"><a aria-current="page" class="nav-link filter"
                                                href="#filter-filterIn_InActive-status">Inactive</a></li>
                    </ul>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search Units" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#addUnit"
                                            class="btn btn-primary px-5"><i
                                            class="fa-solid fa-plus me-2"></i>Add a Unit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addUnit" tabindex="-1" aria-labelledby="addUnitModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addUnitModalLabel">Add new unit</h5>
                                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span class="fas fa-times fs--1"></span></button>
                                </div>
                                <form action="{% url 'add_Master_units' %}"
                                      class="row g-3 needs-validation ps-4 pe-4"
                                      method="post" novalidate="">
                                    {% csrf_token %}
                                    <div class="col-md-12">

                                        <label class="form-label" for="unitName">Unit name</label>

                                        <input class="form-control" id="unitName" name="unit_name" required=""
                                               type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');"
                                               value=""/>
                                        <div class="invalid-feedback">Unit Name is mandatory.</div>

                                    </div>


                                    <input required type="hidden" name="created_by"

                                           value="{{ request.session.id }}">
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="updateUnit" tabindex="-1" aria-labelledby="updateUnitModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateUnitModalLabel">Add new unit</h5>
                                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span class="fas fa-times fs--1"></span></button>
                                </div>
                                <form action="{% url 'edit_master_units' %}"
                                      class="row g-3 needs-validation ps-4 pe-4"
                                      method="post" novalidate="">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <input hidden class="form-control" id="edit_unit_id" name="unit_id" required=""
                                               type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');"
                                               value=""/>
                                        <label class="form-label" for="unitName">Unit name</label>

                                        <input class="form-control" id="edit_unit_name" name="unit_name" required=""
                                               type="text"
                                               value=""/>
                                        <div class="invalid-feedback">Unit Name is mandatory.</div>

                                    </div>


                                    <input required type="hidden" name="updated_by"

                                           value="{{ request.session.id }}">
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive scrollbar col-auto">
                        <table class="table fs--1 mb-0 border-top border-200" id="myTable">
                            <thead>
                            <tr>

                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="slno"
                                    scope="col" style="width:10%;">SL NO
                                </th>
                                <th class="sort align-middle ps-3" data-sort="name" scope="col" style="width:10%;">
                                    UNIT NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="status" scope="col" style="width:10%;">
                                    STATUS
                                </th>
                                <!--                                <th class="sort align-middle ps-3" data-sort="start" scope="col" style="width:10%;">-->
                                <!--                                    CREATED ON-->
                                <!--                                </th>-->
                                <!--                                <th class="sort align-middle ps-3" data-sort="deadline" scope="col" style="width:15%;">-->
                                <!--                                    CREATED BY-->
                                <!--                                </th>-->
                                <!--                                <th class="sort align-middle ps-3" data-sort="projectprogress" scope="col"-->
                                <!--                                    style="width:5%;">UPDATED ON-->
                                <!--                                </th>-->

                                <!--                                <th class="sort align-middle ps-3" data-sort="projectprogress" scope="col"-->
                                <!--                                    style="width:5%;">UPDATED BY-->
                                <!--                                </th>-->

                                <th class="sort align-middle text-end" scope="col" style="width:10%;">ACTION</th>
                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for units in units_list %}
                            <tr class="position-static" data-category="{{ units.unit_status }}">
                                <td class="align-middle white-space-nowrap py-0 slno"></td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 name">
                                    <p class="mb-0 fs--1 text-900">{{units.unit_name}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 status">
                                    {% if units.unit_status == 0 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-danger">
                                        <p style="display: none;">filterIn_InActive</p>InActive</span>
                                    {% elif units.unit_status == 1 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-success">
                                        <p style="display: none;">filterIn_Active</p>Active</span>
                                    {% endif %}
                                </td>
                                <!--                                <td class="align-middle white-space-nowrap task ps-3 py-4">-->
                                <!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{units.created_on}}</p>-->
                                <!--                                </td>-->
                                <!--                                <td class="align-middle white-space-nowrap deadline ps-3 py-4">-->
                                <!--                                    <p class="mb-0 fs&#45;&#45;1 text-900">{{units.creator_name}}</p>-->
                                <!--                                </td>-->
                                <!--                                <td class="align-middle white-space-nowrap task ps-3 py-4">-->
                                <!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{units.last_updated_on}}</p>-->
                                <!--                                </td>-->
                                <!--                                <td class="align-middle white-space-nowrap task ps-3 py-4">-->
                                <!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{units.updater_name}}</p>-->
                                <!--                                </td>-->

                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2">
                                            <a class="dropdown-item view-button" data-bs-toggle="modalView"
                                               data-category-info="{{ units | safe }}"
                                               type="button"
                                            >View</a>

                                            <a class="dropdown-item"
                                               type="button"
                                               data-unit-id="{{ units.unit_unit_id }}"
                                               data-unit-name="{{ units.unit_name }}"
                                               data-bs-toggle="modal"
                                               data-bs-target="#updateUnit"
                                            >Update</a>
                                            <div class="dropdown-divider"></div>
                                            {% if units.unit_status == 0 %}
                                            <a class="dropdown-item text-success"
                                               type="button"
                                               data-bs-role="Units"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ units.unit_unit_id }}"
                                               data-employee-name="{{ units.unit_name }}"
                                               data-action-type="enable"
                                               data-action-url="{% url 'enable_disable_master_units' units.unit_unit_id 1 %}">Make
                                                Active</a>
                                            {% elif units.unit_status == 1 %}
                                            <a class="dropdown-item text-danger"
                                               type="button"
                                               data-bs-role="Units"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ units.unit_unit_id }}"
                                               data-employee-name="{{ units.unit_name }}"
                                               data-action-type="disable"
                                               data-action-url="{% url 'enable_disable_master_units' units.unit_unit_id 0 %}">Make
                                                Inactive</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
                {% include 'modal_warning.html' %}
                {% include 'modal_master_view.html' %}
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }






    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/custom_modals.js' %}"></script>
<script src="{% static 'js/custom_master_view_modals.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
document.addEventListener("DOMContentLoaded", function () {
    document.body.addEventListener('click', function (event) {
    var editUnitButton = document.querySelectorAll('[data-bs-target="#updateUnit"]');
    var unitIdField = document.getElementById('edit_unit_id');
    var unitNameField = document.getElementById('edit_unit_name');
        editUnitButton.forEach(function (button) {
            button.addEventListener('click', function (event) {
                var unitId = event.currentTarget.getAttribute('data-unit-id');
                var unitName = event.currentTarget.getAttribute('data-unit-name');
                unitIdField.value = unitId;
                unitNameField.value = unitName;
            });
        });
    });
});

</script>
</body>

</html>