<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage Rejected Stock requests</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }







    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}


        <div class="content">

            <div class="mb-9">
                <div data-list='{"valueNames":["projectName","assigness","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'
                     id="projectSummary">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Rejected Stock requests<span class="fw-normal text-700 ms-3">(6)</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search Store or products" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="projectName"
                                    scope="col" style="width:30%;">STORE NAME
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="projectName"
                                    scope="col" style="width:30%;">STORE TYPE
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="projectName"
                                    scope="col" style="width:30%;">PRODUCT NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="start" scope="col" style="width:10%;">
                                    PRODUCT ID
                                </th>
                                <th class="sort align-middle ps-3" data-sort="assigness" scope="col" style="width:10%;">
                                    QUANTITY
                                </th>

                                <th class="sort align-middle ps-3" data-sort="assigness" scope="col" style="width:10%;">
                                    PRICE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="start" scope="col" style="width:10%;">
                                    REQUESTED DATE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="start" scope="col" style="width:10%;">
                                    MOVED DATE
                                </th>

                                <th class="sort align-middle ps-3" data-sort="projectprogress" scope="col"
                                    style="width:5%;">APPROVAL STATUS
                                </th>

                                <th class="sort align-middle ps-3" data-sort="projectprogress" scope="col"
                                    style="width:5%;">DELIVERY STATUS
                                </th>

                                <th class="sort align-middle text-end" scope="col" style="width:10%;"></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for stock in stocks_request_list %}
                            <tr class="position-static">
                                <td class="align-middle time white-space-nowrap ps-0 projectName py-4">
                                    {% if stock.store_type == 1 %}
                                    <a
                                        class="text-decoration-none fw-bold fs-0"
                                        href="{% url 'view_own_store' stock.store_id %}">{{stock.store_name}}</a>
                                    {% else %}
                                    <a
                                        class="text-decoration-none fw-bold fs-0"
                                        href="{% url 'view_franchise_store' stock.store_id %}">{{stock.store_name}}</a>
                                    {% endif %}
                                </td>

                                <td class="align-middle white-space-nowrap start py-4">
                                    {% if stock.store_type == 1 %}
                                    <p class="mb-0 fs--1 text-900">OWN STORE</p>
                                    {% else %}
                                    <p class="mb-0 fs--1 text-900">FRANCHISE STORE</p>
                                    {% endif %}
                                </td>

                                <td class="product align-middle">
                                    <a class="fw-semi-bold line-clamp-3 mb-0" href="#!">{{stock.product_name}}</a></td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">{{stock.product_id}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">{{stock.request_product_quantity}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">₹{{stock.sale_price}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap deadline ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">{{stock.request_product_created_on}}</p>
                                </td>
                                <td class="align-middle white-space-nowrap deadline ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">{{stock.last_updated_on}}</p>
                                </td>
                                <td class="align-middle white-space-nowrap text-end statuses"><span
                                        class="badge badge-phoenix fs--2 badge-phoenix-danger">{{stock.request_status}}</span>
                                </td>
                                <td class="align-middle white-space-nowrap text-end statuses"><span
                                        class="badge badge-phoenix fs--2 badge-phoenix-danger">NOT DELIVERED YET</span>
                                </td>

                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                                                             href="{% url 'view_own_store' 1%}">View</a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-success" href="#!">Accept</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#!">Reject</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }







    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>

</body>

</html>