<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style>
        .container {
    display: flex;
    flex-direction: column; /* align items vertically */
    align-items: left;    /* center items horizontally */
}
 .horizontal{
     justify-content: space-between; /* or 'space-around' or 'space-evenly' */

    display: flex;
}
.horizontal .item:not(:last-child) {
    margin-right: 20px; /* Adjust the margin as needed */
}
        body {
            font-family: Arial, sans-serif;
        }

        .mb-3 {
            margin-bottom: 1.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        @media print {
         .print-button {
        display: none;
    }
            .form-check-input:checked::before {
                content: '\2714';
                text-align: center;
                font-size: 0.6em;
                position: relative;
                top: -4px;
            }
        }


.btnP {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.vertical-center {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%; /* Set height to 100% to make vertical centering work */
}

    </style>
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{{order_detail.0.order_id}}-Authenticity_Card</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- Favicon and Manifest -->
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        <div class="content">
            <div class="row mb-4">
                <div class="col-xl-9">
                        {% csrf_token %}
                        <div class="tab-pane" role="tabpanel"
                             aria-labelledby="bootstrap-wizard-validation-tab2"
                             id="bootstrap-wizard-validation-tab2">
                            <div>
                                <div id="customer_info" class="horizontal">
                                        <h4 class="item">Order ID : {{order_detail.0.order_id}}</h4>
                                        <h4 class="item">Manufacturing Date : {{order_detail.0.created_on}}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 mt-3 mb-3">
                            <div class="col-12">
                                {% if order_detail.0.category_id == 2 %}
                                <table class="table mb-0 border-top border-200">
                                    <thead>
                                    <tr>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col"></th>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col">SPH
                                        </th>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col">CYL
                                        </th>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col">AXIS
                                        </th>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col">ADD
                                        </th>
                                        <th class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4"
                                            scope="col">IPD
                                        </th>
                                    </tr>
                                    </thead>
                                    {% if order_detail.0.power_attribute.stock_type == 'stock' %}
                                    <tbody>
                                    <tr>
                                        <th scope="row">R</th>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensSphStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensCylStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensAxisStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensAddStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensPdStock}}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">L</th>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensSphStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensCylStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensAxisStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-3">
                                            <p>{{order_detail.0.power_attribute.rightLensAddStock}}</p>
                                        </td>
                                        <td class="col-6 col-lg-3">
                                            <p>
                                                {{order_detail.0.power_attribute.rightLensPdStock}}
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% else %}
                                    <tbody>
                                    <tr>
                                        <th scope="row">R</th>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensSphRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensCylRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensAxisRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensAddRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.leftLensPdRx}}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">L</th>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensSphRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensCylRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-2">
                                            <p>{{order_detail.0.power_attribute.rightLensAxisRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-3">
                                            <p>{{order_detail.0.power_attribute.rightLensAddRx}}</p>
                                        </td>
                                        <td class="col-6 col-lg-3">
                                            <p>{{order_detail.0.power_attribute.rightLensPdRx}}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                                {% endif %}


                                <div class="row g-3 mt-3 mb-3">
<!--                                    <div class="mb2 col-12">-->
<!--                                        <h5 class="mb-3">Frame</h5>-->
<!--                                        <input disabled class="form-control" style="color: black;"-->
<!--                                               type="text" value="{{frame}}"/>-->
<!--                                    </div>-->
                                    <div class="mb2 col-12">
                                        <h5 class="mb-3">Lens: {{order_detail.0.product_name}}</h5>
                                    </div>
                                </div>
<!--                                <div class="row g-3 mt-3 mb-3">-->
<!--                                    <div class="mb2 col-6">-->
<!--                                        <h5 class="mb-3">Lens Type</h5>-->
<!--                                        <input disabled class="form-control" style="color: black;"-->
<!--                                               type="text" value="{{order_detail.0.power_attribute.lens_type}}"/>-->
<!--                                    </div>-->
<!--                                    <div class="mb2 col-6">-->
<!--                                        <h5 class="mb-3">Stock Type</h5>-->
<!--                                        <input disabled class="form-control" style="color: black;"-->
<!--                                               type="text" value="{{order_detail.0.power_attribute.stock_type}}"/>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>

                            <div>
                            <button class="btn btn-phoenix-secondary" onclick="window.print()"><span
                                    class="fa-solid fa-print me-sm-2"></span><span class="d-none d-sm-inline-block">Print</span>
                            </button>
                        </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6O2CG9zBAksJH4SCgCZlbx3XRWVwzY1E&libraries=places&callback=initMap"></script>

</body>

{{ customers_list|json_script:"customersList" }}

<script>

function updateCustomerFields(selectCustomerField) {
    var customers_list = JSON.parse(document.getElementById('customersList').textContent);
    let selectCustomer = customers_list.find(customer => customer.phone == selectCustomerField.value);

    var customerNameInput = document.getElementsByName("customer_name")[0];
    var customerEmailInput = document.getElementsByName("customer_email")[0];
    var customerPhoneInput = document.getElementsByName("customer_phone")[0];
    var customerAgeInput = document.getElementsByName("customer_age")[0];
    var customerGenderSelect = document.getElementsByName("customer_gender")[0];
    var customerCityInput = document.getElementsByName("customer_city")[0];
    var customerLanguageSelect = document.getElementsByName("customer_language")[0];
    var customerAddressTextarea = document.getElementsByName("customer_address")[0];
    //customerDataField
    var customerDataTextarea = document.getElementsByName("customerData")[0];

    if (selectCustomer) {
        customerNameInput.value = selectCustomer.name;
        customerEmailInput.value = selectCustomer.email;
        customerPhoneInput.value = selectCustomer.phone;
        customerAgeInput.value = selectCustomer.age;
        customerGenderSelect.value = selectCustomer.gender;
        customerCityInput.value = selectCustomer.city;
        customerLanguageSelect.value = selectCustomer.language;
        customerAddressTextarea.value = selectCustomer.address;
    } else {
        customerNameInput.value = '';
        customerEmailInput.value = '';
        customerPhoneInput.value = '';
        customerAgeInput.value = '';
        customerGenderSelect.value = '';
        customerCityInput.value = '';
        customerLanguageSelect.value = '';
        customerAddressTextarea.value = '';
        customerDataTextarea.value = '';
    }
}
</script>
</html>