<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Update product</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/dropzone/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }



    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">
            <form action="{% url 'update_product' product_data.product_id %}" class="mb-9 needs-validation"
                  method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="row g-3 flex-between-end mb-5">
                    <div class="col-auto">
                        <h2 class="mb-2">Update a product</h2>
                        <h5 class="text-700 fw-semi-bold">Update product :{{product_data.product_name}} </h5>
                    </div>
                    <div class="col-auto">
                        <!--                        <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0">Discard</button>-->
                        <!--                                                <button class="btn btn-phoenix-primary me-2 mb-2 mb-sm-0">Save draft</button>-->
                        <button class="btn btn-primary mb-2 mb-sm-0" type="submit">Update product</button>
                    </div>
                </div>
                <h4 class="mb-3">Product Title</h4>
                <div class="row g-5">
                    <div class="col-12 col-xl-8">
                        <div class="mb-5">
                            <input class="form-control" name="productTitle" placeholder="Write product title here..."
                                   type="text" value="{{product_data.product_name}}" required/>
                            <div class="invalid-feedback">Please provide a valid Product title.</div>
                        </div>
                        <div class="mb-6">
                            <h4 class="mb-3"> Product Description</h4>
                            <textarea required class="tinymce"
                                      data-tinymce='{"height":"15rem","placeholder":"Write a description here..."}'
                                      name="productDescription">{{product_data.product_description}}</textarea>
                            <div class="invalid-feedback">Please provide a Product description.</div>
                        </div>


                        <!--                        New code-->
                        {% if product_data.category_id == 2 %}
                        <div class="row mb-3 pt-3  bg-200 lens-widget ">

                            <div class="row mb-3">
                                <div class="mb-3">
                                    <h5 class="text-1000 ">Type</h5>
                                    <div class="col-12 col-lg-3">
                                        <input class="form-check-input" id="stockType" type="checkbox"
                                               name="stockType"
                                               value="stock"/>
                                        <label class="form-check-label" for="stockType">Stock</label>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <input class="form-check-input" id="visionType4" type="checkbox"
                                               name="stockType"
                                               value="rx"/>
                                        <label class="form-check-label" for="visionType4">Rx</label>
                                    </div>
                                </div>

                                <h5 class="text-1000 ">Vision Type</h5>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="visionType1" type="checkbox"
                                           name="visionType"
                                           value="single_vision"/>
                                    <label class="form-check-label" for="visionType1">Single Vision</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="visionType2" type="checkbox"
                                           name="visionType"
                                           value="bifocal"/>
                                    <label class="form-check-label" for="visionType2">Bi-Focal</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="visionType3" type="checkbox"
                                           name="visionType"
                                           value="progressive"/>
                                    <label class="form-check-label" for="visionType3">Progressive</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <h4 class="mb-3">Index</h4>
                                <select class="form-select" id="index" name="index" required="required">
                                    <option value="0.1">0.1</option>
                                    <option value="0.2">0.2</option>
                                    <option value="0.3">0.3</option>
                                </select>
                                <div class="invalid-feedback">Please provide a valid Index.</div>
                            </div>
                        </div>
                        {% endif %}

                        {% if product_data.category_id == 3 %}
                        <div id="contactLensForm" class="row mb-3 pt-3 pb-3 bg-200 contact-lens-widget">
                            <div class="row mb-3">
                                <div class="mb-3">
                                    <h5 class="text-1000 ">Type</h5>
                                    <div class="col-12 col-lg-3">
                                        <input class="form-check-input" id="ContactLensStockType" type="checkbox"
                                               name="ContactLensStockType"
                                               value="stock"/>
                                        <label class="form-check-label" for="ContactLensStockType">Stock</label>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <input class="form-check-input" id="ContactLensRxType" type="checkbox"
                                               name="ContactLensStockType"
                                               value="rx"/>
                                        <label class="form-check-label" for="ContactLensRxType">Rx</label>
                                    </div>
                                </div>
                                <h5 class="text-1000 ">Contact Lens Type</h5>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_type1" type="checkbox"
                                           name="contact_lens_type"
                                           value="Soft"/>
                                    <label class="form-check-label" for="contact_lens_type1">Soft</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_type2" type="checkbox"
                                           name="contact_lens_type"
                                           value="Semi Soft"/>
                                    <label class="form-check-label" for="contact_lens_type2">Semi Soft</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_type3" type="checkbox"
                                           name="contact_lens_type"
                                           value="Hard"/>
                                    <label class="form-check-label" for="contact_lens_type3">Hard</label>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <h5 class="text-1000 ">Contact Lens Disposablity</h5>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_disposability1" type="checkbox"
                                           name="contact_lens_disposability"
                                           value="Daily"/>
                                    <label class="form-check-label" for="contact_lens_disposability1">Daily</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_disposability2" type="checkbox"
                                           name="contact_lens_disposability"
                                           value="1 Month"/>
                                    <label class="form-check-label" for="contact_lens_disposability2">1 Month</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_disposability3" type="checkbox"
                                           name="contact_lens_disposability"
                                           value="3 Month"/>
                                    <label class="form-check-label" for="contact_lens_disposability3">3 Month</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_disposability4" type="checkbox"
                                           name="contact_lens_disposability"
                                           value="6 Month"/>
                                    <label class="form-check-label" for="contact_lens_disposability4">6 Month</label>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <input class="form-check-input" id="contact_lens_disposability5" type="checkbox"
                                           name="contact_lens_disposability"
                                           value="Yearly"/>
                                    <label class="form-check-label" for="contact_lens_disposability5">Yearly</label>
                                </div>
                            </div>
                        </div>
                        {% endif %}


                        <div class="row g-3 mb-3">
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Quantity</h5>
                                <input name="productQuantity" class="form-control" placeholder="Quantity" type="number"
                                       min="1" value="{{product_data.product_quantity}}" required/>
                                <div class="invalid-feedback">Please provide valid quantity.</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">GST</h5>
                                <input name="productGSTIN" class="form-control" placeholder="%" type="number"
                                       min="0" value="{{product_data.product_gst}}" required/>
                                <div class="invalid-feedback">Please provide valid GST.</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Discount</h5>
                                <input name="discount" class="form-control" placeholder="%" type="number"
                                       min="0" maxlength="2" max="99" value="{{product_data.discount}}" required/>
                                <div class="invalid-feedback">Please provide valid discount percentage.</div>
                            </div>
                        </div>

                        <h4 class="mb-3">Pricing</h4>
                        <div class="row g-3 mb-3">
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Cost price</h5>
                                <input name="costPrice" class="form-control" placeholder="₹"
                                       value="{{product_data.cost_price}}" type="number" min="1" required/>
                                <div class="invalid-feedback">Please provide valid cost price.</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Sale price</h5>
                                <input name="salePrice" class="form-control" placeholder="₹" type="number"
                                       value="{{product_data.sale_price}}" min="1" required/>
                                <div class="invalid-feedback">Please provide valid sale price.</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Franchise Sale price</h5>
                                <input name="franchiseSalePrice" class="form-control" placeholder="₹" type="number"
                                min="1" value="{{product_data.franchise_sale_price}}" required/>
                                <div class="invalid-feedback">Please provide valid franchise sale price.</div>
                            </div>
                        </div>
                        <h4 class="mb-3">Models Data</h4>
                        <div class="row g-3 mb-3">
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">Model Number</h5>
                                <input name="modelNumber" class="form-control" placeholder="Model Number"
                                       value="{{product_data.model_number}}" type="text"
                                       required/>
                                <div class="invalid-feedback">Please provide valid model number.</div>

                            </div>
                            <div class="col-12 col-lg-6">
                                <h5 class="mb-2 text-1000">HSN Number</h5>
                                <input name="hsnNumber" class="form-control" placeholder="HSN Number"
                                       value="{{product_data.hsn}}" type="text"
                                       required/>
                                <div class="invalid-feedback">Please provide valid HSN price.</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="row g-2">
                            <div class="col-12 col-xl-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Organize</h4>
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="d-flex flex-wrap justify-content-between mb-2">
                                                    <h5 class="mb-0 text-1000">Category</h5>
                                                    <a class="fw-bold fs--1" href="{% url 'add_product_category' %}">
                                                        Add new category</a>

                                                </div>
                                                <select id="categorySelect" name="categoryId" required
                                                        aria-label="category" class="form-select mb-3"
                                                        onchange="handleCategoryChange()">
                                                    <option value="{{product_data.category_id}}">
                                                        {{product_data.category_name}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">Please select category.</div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="d-flex flex-wrap justify-content-between mb-2">
                                                    <h5 class="mb-0 text-1000">Brand</h5><a class="fw-bold fs--1"
                                                                                            href="{% url 'add_product_brand' %}">Add
                                                    new
                                                    Brand</a>
                                                </div>
                                                <select name="brandId" required aria-label="brands"
                                                        class="form-select mb-3">
                                                    <option value="{{product_data.brand_id}}">
                                                        {{product_data.brand_name}}
                                                    </option>
                                                    {% for brand in response.product_brands %}
                                                    <option value="{{brand.brand_id}}">{{brand.brand_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">Please select a brand.</div>
                                            </div>

                                            <div id="only_frame_options" class="d-none">
                                                <div class="col-12 col-sm-6 col-xl-12">
                                                    <div class="d-flex flex-wrap justify-content-between mb-2">
                                                        <h5 class="text-1000">Material</h5><a class="fw-bold fs--1"
                                                                                              href="{% url 'add_master_material' %}">Add
                                                        new material</a>
                                                    </div>
                                                    <select name="materialId" required class="form-select mb-3">
                                                        <option value="{{product_data.material_id}}">
                                                            {{product_data.material_name}}
                                                        </option>
                                                        {% for material in response.product_materials %}
                                                        <option value="{{material.material_id}}">
                                                            {{material.material_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">Please select material.</div>

                                                </div>

                                                <div class="col-12 col-sm-6 col-xl-12">
                                                    <div class="d-flex flex-wrap justify-content-between mb-2">
                                                        <h5 class="text-1000">Frame Type</h5><a class="fw-bold fs--1"
                                                                                                href="{% url 'add_frame_type' %}">Add
                                                        new frame type</a>
                                                    </div>
                                                    <select name="frameTypeId" required class="form-select mb-3">
                                                        <option value="{{product_data.frame_type_id}}">
                                                            {{product_data.frame_type_name}}
                                                        </option>
                                                        {% for type in response.frame_types %}
                                                        <option value="{{type.frame_id}}">{{type.frame_type_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">Please select frame type.</div>


                                                </div>

                                                <div class="col-12 col-sm-6 col-xl-12">
                                                    <div class="d-flex flex-wrap justify-content-between mb-2">
                                                        <h5 class="text-1000">Frame Shape</h5><a class="fw-bold fs--1"
                                                                                                 href="{% url 'add_frame_shape' %}">Add
                                                        new Shape</a>
                                                    </div>
                                                    <select name="frameShapeId" required class="form-select mb-3">
                                                        <option value="{{product_data.frame_shape_id}}">
                                                            {{product_data.shape_name}}
                                                        </option>
                                                        {% for frame_shape in response.frame_shapes %}
                                                        <option value="{{frame_shape.shape_id}}">
                                                            {{frame_shape.shape_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">Please select frame shape.</div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Variants</h4>
                                        <div class="row g-3 g-xl-5">
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="border-dashed-bottom pb-4 pb-xl-0">
                                                    <div class="d-flex flex-wrap justify-content-between mb-2">
                                                        <h5 class="text-1000">Color</h5><a class="fw-bold fs--1"
                                                                                           href="{% url 'add_master_color' %}">Add
                                                        new Color</a>
                                                    </div>
                                                    <select name="colorId" required class="form-select">
                                                        <option value="{{product_data.color_id}}">
                                                            {{product_data.color_name}}
                                                        </option>
                                                        {% for color in response.colors %}
                                                        <option value="{{color.color_id}}">
                                                            {{color.color_name}} -
                                                            {{color.color_code}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">Please select color.</div>

                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="d-flex flex-wrap justify-content-between mb-2">
                                                    <h5 class="text-1000">Unit</h5>
                                                </div>
                                                <select name="unitId" required class="form-select">
                                                    <option value="{{product_data.unit_id}}">
                                                        {{product_data.unit_name}}
                                                    </option>
                                                    {% for unit in response.master_units %}
                                                    <option value="{{unit.unit_id}}">{{unit.unit_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">Please select unit.</div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="d-flex flex-wrap justify-content-between mb-2">
                                                    <h5 class="mb-0 text-1000">Origin</h5>
                                                </div>
                                                <select name="origin" required aria-label="origin" class="form-select">
                                                    <option value="{{product_data.origin}}">{{product_data.origin}}
                                                    </option>
                                                    <option value="Indian">Indian</option>
                                                    <option value="Foreign">Foreign</option>
                                                    <option value="Domestic">Domestic</option>
                                                </select>
                                                <div class="invalid-feedback">Please select origin.</div>

                                            </div>
                                            <input name="created_by" required type="hidden"

                                                   value="{{ request.session.id }}">
                                            <input name="last_updated_by" required type="hidden"

                                                   value="{{ request.session.id }}">


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }




    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/file-upload-preview.js' %}"></script>

<script>
    //set valuesfor lens power attribute
    document.addEventListener("DOMContentLoaded", function() {
        var stockData = {
            "vision_type": "{{product_data.power_attribute.vision_type}}",
            "stock_type": "{{product_data.power_attribute.stock_type}}",
            "index": "{{product_data.power_attribute.index}}",
            };

        // Function to check the corresponding checkbox based on the value
        function checkCheckbox(elementId, valueToCheck) {
            var checkbox = document.getElementById(elementId);
            if (checkbox && checkbox.value === valueToCheck) {
                checkbox.checked = true;
            }
        }

        function setSelectValue(selectId, valueToSelect) {
            var select = document.getElementById(selectId);
            if (select) {
                for (var i = 0; i < select.options.length; i++) {
                    if (select.options[i].value === valueToSelect) {
                        select.selectedIndex = i;
                        break;
                    }
                }
            }
        }

        setSelectValue("index", stockData.index);

        // Check vision type checkboxes
        checkCheckbox("visionType1", stockData.vision_type);
        checkCheckbox("visionType2", stockData.vision_type);
        checkCheckbox("visionType3", stockData.vision_type);

        // Check stock type checkboxes
        checkCheckbox("stockType", stockData.stock_type);
        checkCheckbox("visionType4", stockData.stock_type);
    });



</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var stockData = {
            "stock_type": "{{product_data.power_attribute.stock_type}}",
            "contact_lens_type": "{{product_data.power_attribute.contact_lens_type}}",
            "contact_lens_disposability": "{{product_data.power_attribute.contact_lens_disposability}}"
        };

        // Function to set the checked attribute for checkboxes
        function setCheckboxValue(elementId, valueToCheck) {
            var checkbox = document.getElementById(elementId);
            if (checkbox && checkbox.value === valueToCheck) {
                checkbox.checked = true;
            }
        }

        // Set checkbox values
        setCheckboxValue("ContactLensStockType", stockData.stock_type);
        setCheckboxValue("ContactLensRxType", stockData.stock_type);
        setCheckboxValue("contact_lens_type1", stockData.contact_lens_type);
        setCheckboxValue("contact_lens_type2", stockData.contact_lens_type);
        setCheckboxValue("contact_lens_type3", stockData.contact_lens_type);
        setCheckboxValue("contact_lens_disposability1", stockData.contact_lens_disposability);
        setCheckboxValue("contact_lens_disposability2", stockData.contact_lens_disposability);
        setCheckboxValue("contact_lens_disposability3", stockData.contact_lens_disposability);
        setCheckboxValue("contact_lens_disposability4", stockData.contact_lens_disposability);
        setCheckboxValue("contact_lens_disposability5", stockData.contact_lens_disposability);

        });

</script>


<script>
    // Add an event listener to set the new values for checkboxes
    const visionTypeCheckboxes = document.querySelectorAll('input[name="visionType"]');
    const stockTypeCheckboxes = document.querySelectorAll('input[name="stockType"]');
    const contactLensTypeCheckboxes = document.querySelectorAll('input[name="contact_lens_type"]');
    const contactLensDisposabilityCheckboxes = document.querySelectorAll('input[name="contact_lens_disposability"]');
    const ContactLensStockTypeCheckboxes = document.querySelectorAll('input[name="ContactLensStockType"]');

    visionTypeCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            // Uncheck other checkboxes if one is checked
            visionTypeCheckboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });
        });
    });


     stockTypeCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            // Uncheck other checkboxes if one is checked
            stockTypeCheckboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });
        });
    });

     contactLensTypeCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            // Uncheck other checkboxes if one is checked
            contactLensTypeCheckboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });
        });
    });

    contactLensDisposabilityCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            // Uncheck other checkboxes if one is checked
            contactLensDisposabilityCheckboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });
        });
    });

    ContactLensStockTypeCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            // Uncheck other checkboxes if one is checked
            ContactLensStockTypeCheckboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });
        });
    });




</script>
<script src="{% static 'js/breadcrumbs.js' %}"></script>

</body>

</html>