<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage All Stock requests</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }











    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}

        <div class="content">

            <div class="mb-9">
                <div data-list='{"valueNames":["slno","storeName","storeType","productName","category","quantity","price","requestDate","movedDate","movementType","deliverFrom","deliverStatus","action"],"page":20,"pagination":true}'
                     id="projectSummary">
                    {% if message %}
                    <div class="alert alert-soft-danger alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>

                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    {% endif %}
                    <div class="row mb-3 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Moved Stocks <span class="fw-normal text-700 ms-3">({{moved_stocks|length}})</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search Store or products" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto"><a class="btn btn-primary px-5"
                                                 data-bs-target="#verticallyCentered"
                                                 data-bs-toggle="modal" type="button"><i
                                class="fa-solid fa-plus me-2"></i>Move Stock</a></div>
                        <div class="col-auto">
                            <button id="btnExport" class="btn btn-link text-900 me-4 px-0"><span
                                    class="fa-solid fa-file-export fs--1 me-2"></span>Export
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200" id="myTable">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="slno"
                                    scope="col" style="width:30%;">SL No
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="storeName"
                                    scope="col" style="width:30%;">STORE NAME
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="storeType"
                                    scope="col" style="width:30%;">STORE TYPE
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="productName"
                                    scope="col" style="width:30%;">PRODUCT NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="category" scope="col" style="width:10%;">
                                    CATEGORY
                                </th>
                                <th class="sort align-middle ps-3" data-sort="quantity" scope="col" style="width:10%;">
                                    QUANTITY
                                </th>

                                <th class="sort align-middle ps-3" data-sort="price" scope="col" style="width:10%;">
                                    PRICE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="requestDate" scope="col"
                                    style="width:10%;">
                                    REQUESTED DATE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="movedDate" scope="col" style="width:10%;">
                                    MOVED DATE
                                </th>

                                <th class="sort align-middle ps-3" data-sort="movementType" scope="col"
                                    style="width:5%;">MOVEMENT TYPE
                                </th>

                                <th class="sort align-middle ps-3" data-sort="deliverFrom" scope="col"
                                    style="width:5%;">DELIVERED FROM
                                </th>
                                <th class="sort align-middle ps-3" data-sort="deliverStatus" scope="col"
                                    style="width:5%;">DELIVERY STATUS
                                </th>
                                <th class="sort align-middle ps-3" scope="col"
                                    style="width:5%;">ACTION
                                </th>

                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for stock in moved_stocks %}
                            <tr class="position-static">
                                <td class="align-middle time white-space-nowrap ps-0 py-4 slno"></td>
                                <td class="align-middle time white-space-nowrap ps-0 py-4">
                                    {% if stock.pr_store_type == 1 %}
                                    <a
                                            class="text-decoration-none fw-bold fs-0"
                                            href="{% url 'view_own_store' stock.pr_store_id %}">{{stock.store_name}}</a>
                                    {% else %}
                                    <a
                                            class="text-decoration-none fw-bold fs-0"
                                            href="{% url 'view_franchise_store' stock.pr_store_id %}">{{stock.store_name}}</a>
                                    {% endif %}
                                </td>
                                <td style="display:none;" class="align-middle time white-space-nowrap ps-0 py-4 storeName">
                                    {% if stock.pr_store_type == 1 %}
                                    {{stock.store_name}}
                                    {% else %}
                                    {{stock.store_name}}
                                    {% endif %}
                                </td>

                                <td class="align-middle white-space-nowrap py-4 storeType">
                                    {% if stock.pr_store_type == 1 %}
                                    <p class="mb-0 fs--1 text-900">OWN STORE</p>
                                    {% else %}
                                    <p class="mb-0 fs--1 text-900">FRANCHISE STORE</p>
                                    {% endif %}
                                </td>

                                <td class="align-middle">
                                    <a class="fw-semi-bold line-clamp-3 mb-0" href="{% url 'view_products' stock.pr_product_id %}">{{stock.ci_product_name}}</a></td>
                                <td style="display:none;" class="align-middle productName">
                                    {{stock.ci_product_name}}</td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 categoryName">
                                    <p class="mb-0 fs--1 text-900">{{stock.pc_category_name}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 quantity text-end">
                                    <p class="mb-0 fs--1 text-900">{{stock.pr_product_quantity}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 price text-end">
                                    <p class="mb-0 fs--1 text-900">₹{{stock.ci_cost_price}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap ps-3 py-4 requestDate">
                                    {% if stock.is_requested == 1 %}
                                    <p class="mb-0 fs--1 text-900">{{stock.request_product_created_on|date:"d/m/Y h:i A"}}</p>
                                    {% else %}
                                    <p class="mb-0 fs--1 text-900">NOT APPLICABLE</p>
                                    {% endif %}

                                </td>
                                <td class="align-middle white-space-nowrap ps-3 py-4 movedDate">
                                    <p class="mb-0 fs--1 text-900">{{stock.pr_last_updated_on|date:"d/m/Y h:i A"}}</p>
                                </td>
                                <td class="align-middle white-space-nowrap movementType">
                                    {% if stock.pr_is_requested == 1 %}
                                    <p class="mb-0 fs--1 text-900">REQUESTED</p>
                                    {% else %}
                                    <p class="mb-0 fs--1 text-900">SELF</p>
                                    {% endif %}
                                </td>
                                <td class="align-middle white-space-nowrap deliverFrom">
                                    {% if stock.sender_store != None %}
                                    <a class="fw-semi-bold line-clamp-3 mb-0"
                                       href="{% url 'view_own_store' stock.pr_request_to_store_id %}">{{stock.sender_store}}</a>
                                    {% else %}
                                    <p class="mb-0 fs--1 text-900">CENTRAL INVENTORY</p>
                                    {% endif %}
                                </td>
                                <td class="align-middle white-space-nowrap deliverStatus">
                                    {% if stock.pr_delivery_status == 0 %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-secondary">PENDING</span>
                                    {% elif stock.pr_delivery_status == 1 %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-secondary">DISPATCHED</span>
                                    {% elif stock.pr_delivery_status == 2 %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-success">DELIVERED</span>
                                    {% elif stock.pr_delivery_status == 3 %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-danger">CANCELLED</span>
                                    {% endif %}
                                </td>

                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    {% if stock.pr_store_type == 2 %}
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2">

                                            <a class="dropdown-item view-button"
                                               href="{% url 'stock_request_invoice' stock.pr_request_products_id %}"
                                               type="button" target="_blank">View Invoice</a>


                                        </div>
                                    </div>
                                    {% endif %}
                                </td>


<!--                                <td class="align-middle text-end white-space-nowrap pe-0 action">-->
<!--                                    <div class="font-sans-serif btn-reveal-trigger position-static">-->
<!--                                        <button aria-expanded="false"-->
<!--                                                aria-haspopup="true"-->
<!--                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs&#45;&#45;2"-->
<!--                                                data-boundary="window"-->
<!--                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">-->
<!--                                            <span class="fas fa-ellipsis-h fs&#45;&#45;2"></span></button>-->
<!--                                        <div class="dropdown-menu dropdown-menu-end py-2">-->

<!--                                            <a class="dropdown-item view-button" data-bs-toggle="modalView"-->
<!--                                               type="button"-->
<!--                                               data-category-info="{{ stock }}">View</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
                {% include 'modal_master_view.html' %}
            </div>
            {% include 'footer.html' %}
        </div>
        <div aria-hidden="true" aria-labelledby="verticallyCenteredModalLabel"
             class="modal fade"
             id="verticallyCentered" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="verticallyCenteredModalLabel">Move a
                            product</h5>
                        <button aria-label="Close" class="btn p-1" data-bs-dismiss="modal"
                                type="button"><span class="fas fa-times fs--1"></span></button>
                    </div>
                    <div class="p-4 code-to-copy">
                        <form action="{% url 'manageMoveStocks' %}"
                              class="row g-3 needs-validation"
                              method='POST' novalidate="">
                            {% csrf_token %}
                            <div class="mb2 col-12">
                                <h5 class="mb-3">Select Product</h5>
                                <select class="form-select" data-choices="data-choices"
                                        data-options='{"removeItemButton":true,"placeholder":true}'
                                        name="product_id" required="required">
                                    <option value="">Select Product</option>
                                    {% for products in products %}
<!--                                    <option value="{{products.product_id}}">{{products.product_name}}</option>-->
                                    <option value="{{ products.ci_product_id }}" data-quantity="{{ products.ci_product_quantity }}">{{ products.ci_product_name }}</option>

                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">This field is required.</div>
                            </div>
                            <span id="availableQuantity" data-gantt-scale="mt-2"></span>
                            <div class="mb-2 col-12">
                                <h5 class="mb-3 ">Select Store Type</h5>
                                <select class="form-select"
                                        id="storeType"
                                        name="store_type"
                                        required="required">
                                    <option value="">Select Store Type</option>
                                    <option value="1">Own Store</option>
                                    <option value="2">Franchise Store</option>
                                </select>
                                <div class="invalid-feedback">This field is required.</div>
                            </div>

                            <div class="mb2 col-12" id="ownStoreSelectDiv">
                                <h5 class="mb-3">Select Own Store</h5>
                                <select class="form-select" data-choices="data-choices" id="ownStoreSelect"
                                        data-options='{"removeItemButton":true,"placeholder":true}'
                                        name="own_store_id">
                                    <option value="">Choose Store to move</option>
                                    {% for store in own_store_list %}
                                    <option value="{{store.os_store_id}}">{{store.os_store_name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="custom-error" style="color: red;"></div>
                            </div>

                            <div class="mb2 col-12" id="franchiseStoreSelectDiv">
                                <h5 class="mb-3">Select Franchise Store</h5>
                                <select class="form-select" data-choices="data-choices"
                                        data-options='{"removeItemButton":true,"placeholder":true}'
                                        name="franchise_store_id" id="franchiseStoreSelect">
                                    <option value="">Choose Store to move</option>
                                    {% for store in franchise_store_list %}
                                    <option value="{{store.fs_store_id}}">{{store.fs_store_name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="custom-error" style="color: red;"></div>
                            </div>

                            <div class="col-12">

                                <h5 class="mb-3">Quantity</h5>

                                <input class="form-control" id="qty" maxlength="256" required name="product_quantity"
                                       type="number"
                                       value="" min="1">
                                <div class="invalid-feedback">Enter Valid available Quantity!</div>
                            </div>

                            <div class="col-12">

                                <h5 class="mb-3">Comments</h5>

                                <textarea class="form-control" id="expense_reason" maxlength="256"
                                       required="" name="comments" rows="3"></textarea>
                                <div class="invalid-feedback">Enter any comments!</div>
                            </div>

                            <input name="created_by" required type="hidden"
                                   value="{{ request.session.id }}">

                            <input name="unit_cost" required type="hidden"
                                   value="{{ request.session.id }}">

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button class="btn btn-outline-primary" data-bs-dismiss="modal"
                                        type="reset">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }


    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/csvExport.js' %}"></script>
<script src="{% static 'js/custom_master_view_modals.js' %}"></script>

<script>
$(document).ready(function() {
    // Hide the "Select Own Store" and "Select Franchise Store" divs by default
    $('#ownStoreSelectDiv').hide();
    $('#franchiseStoreSelectDiv').hide();

    // Add an event handler to the "Select Store Type" select box
    $('#storeType').change(function() {
        var selectedValue = $(this).val();
        if (selectedValue === '1') {
            $('#ownStoreSelectDiv').show();
            $('#franchiseStoreSelectDiv').hide();
            $('#ownStoreSelect').prop('required', true);
            $('#franchiseStoreSelect').prop('required', false);
        } else if (selectedValue === '2') {
            $('#ownStoreSelectDiv').hide();
            $('#franchiseStoreSelectDiv').show();
             $('#franchiseStoreSelect').prop('required', true);
            $('#ownStoreSelect').prop('required', false);
        } else {
            $('#ownStoreSelectDiv').hide();
            $('#franchiseStoreSelectDiv').hide();
            $('#ownStoreSelect').prop('required', false);
            $('#franchiseStoreSelect').prop('required', false);
        }
    });

    // Trigger the change event to handle the initial state
    $('#storeType').trigger('change');
});




</script>
<script>
    // Get references to relevant elements
    var productSelect = document.querySelector('[name="product_id"]');
    var quantityInput = document.getElementById('qty');
    var availableQuantityElement = document.getElementById('availableQuantity');

    // Event listener for product selection change
    productSelect.addEventListener('change', function () {
        // Get the selected product quantity
        var selectedProduct = document.querySelector('[name="product_id"] option:checked');
        var availableQuantity = selectedProduct.getAttribute('data-quantity');

        // Update the available quantity display
        availableQuantityElement.textContent = 'Available Quantity: ' + availableQuantity;

        // Enforce the constraint on the quantity input field
        quantityInput.setAttribute('max', availableQuantity);
    });
</script>

</body>

</html>