<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Create Store Manager</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- Favicon and Manifest -->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <!-- JavaScript Dependencies -->
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        {% for optimetry in optimetry %}
        <div class="content">

            <h2 class="mb-4">Update documents - Optimetry</h2>
            <div class="row mb-4">
                <div class="col-xl-9">
                    <form action="{% url 'add_franchise_store_employee_image' optimetry.employee_id %}"  class="row g-3" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="border-top border-dashed border-300 pt-4">
                            <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                                <h6 class="mb-2">Document 1</h6>
                                <div class="mb-3">
                                    <select id="document1Type" aria-label="Default select example" class="form-select"
                                            name="document_1_type">
                                        {% if optimetry.document_1_type == "Aadhar" %}
                                        <option selected value="Aadhar">Aadhar</option>
                                        <option value="Driving Licence">Driving Licence</option>
                                        <option value="Ration Card">Ration Card</option>
                                        <option value="Voter Id">Voter Id</option>
                                        {% elif optimetry.document_1_type == "Driving Licence" %}
                                        <option value="Aadhar">Aadhar</option>
                                        <option selected value="Driving Licence">Driving Licence</option>
                                        <option value="Ration Card">Ration Card</option>
                                        <option value="Voter Id">Voter Id</option>
                                        {% elif optimetry.document_1_type == "Voter Id" %}
                                        <option value="Aadhar">Aadhar</option>
                                        <option value="Driving Licence">Driving Licence</option>
                                        <option value="Ration Card">Ration Card</option>
                                        <option selected value="Voter Id">Voter Id</option>
                                        {% elif optimetry.document_1_type == "Ration Card" %}
                                        <option value="Aadhar">Aadhar</option>
                                        <option value="Driving Licence">Driving Licence</option>
                                        <option selected value="Ration Card">Ration Card</option>
                                        <option value="Voter Id">Voter Id</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="d-flex flex-wrap">
                                    {% for doc in optimetry.document_1_url %}
                                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column me-3">
                                        <div class="border border-300 p-2 rounded-2 me-2 mb-2">
                                            <a href="{{ MEDIA_URL }}{{ doc }}" target="_blank">
                                                <img class="rounded-2 dz-image" width="100px"
                                                     height="100px" src="{{ MEDIA_URL }}{{ doc }}"
                                                     onerror="this.src = 'http://via.placeholder.com/100x100';"
                                                     alt="..." data-dz-thumbnail="data-dz-thumbnail"/>
                                            </a>
                                        </div>
                                        <a data-bs-toggle="modal"
                                           data-bs-target="#delete_document"
                                           data-employee-id="{{ optimetry.employee_id }}"
                                           data-employee-name="{{ optimetry.name }}"
                                           data-document-preview="{{ MEDIA_URL }}{{ doc }}"
                                           data-action-type="delete"
                                           data-action-href="{% url 'delete_franchise_store_employee_document' optimetry.employee_id doc 'document_1_url' %}"
                                           class="btn btn-soft-danger me-1 mb-1" type="button">
                                            <i class="fa fa-trash me-1"></i> Delete
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3  mt-2">

                                    <label class="form-label" for="document1">Document 1 Upload (Can choose
                                        multiple)</label>

                                    <input class="form-control" id="document1" multiple="multiple" name="document1"
                                           type="file" accept="image/*,application/pdf"/>
                                </div>

                                <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column"
                                     id="documentPreviews"></div>
                            </div>


                            <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column mt-3">
                                <h6 class="mb-2">Document 2</h6>
                                <div class="mb-3">
                                    <select aria-label="Default select example" class="form-select"
                                            name="document_2_type">
                                        {% if optimetry.document_2_type == "Pan Card" %}
                                        <option>Open this select menu</option>
                                        <option selected value="Pan Card">Pan Card</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="d-flex flex-wrap">
                                    {% for doc in optimetry.document_2_url %}
                                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column me-3">
                                        <div class="border border-300 p-2 rounded-2 me-2 mb-2">
                                            <a href="{{ MEDIA_URL }}{{ doc }}" target="_blank">
                                                <img class="rounded-2 dz-image" width="100px"
                                                     height="100px" src="{{ MEDIA_URL }}{{ doc }}"
                                                     onerror="this.src = 'http://via.placeholder.com/100x100';"
                                                     alt="..." data-dz-thumbnail="data-dz-thumbnail"/>
                                            </a>
                                        </div>
                                        <a data-bs-toggle="modal"
                                           data-bs-target="#delete_document"
                                           data-employee-id="{{ optimetry.employee_id }}"
                                           data-employee-name="{{ optimetry.name }}"
                                           data-document-preview="{{ MEDIA_URL }}{{ doc }}"
                                           data-action-type="delete"
                                           data-action-href="{% url 'delete_franchise_store_employee_document' optimetry.employee_id doc 'document_2_url' %}"
                                           class="btn btn-soft-danger me-1 mb-1" type="button">
                                            <i class="fa fa-trash me-1"></i> Delete
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3 mt-2">

                                    <label class="form-label" for="document2">Document 2 Upload (Can choose
                                        multiple)</label>

                                    <input class="form-control" id="document2" multiple="multiple" name="document2"
                                           type="file" accept="image/*,application/pdf"/>
                                </div>

                                <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column"
                                     id="document2Previews"></div>
                            </div>

                            <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column mt-3">
                                <h6 class="mb-2">Certificates</h6>
                                <div class="d-flex flex-wrap">
                                    {% for doc in optimetry.certificates %}
                                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column me-3">
                                        <div class="border border-300 p-2 rounded-2 me-2 mb-2">
                                            <a href="{{ MEDIA_URL }}{{ doc }}" target="_blank">
                                                <img class="rounded-2 dz-image" width="100px"
                                                     height="100px" src="{{ MEDIA_URL }}{{ doc }}"
                                                     onerror="this.src = 'http://via.placeholder.com/100x100';"
                                                     alt="..." data-dz-thumbnail="data-dz-thumbnail"/>
                                            </a>
                                        </div>
                                        <a data-bs-toggle="modal"
                                           data-bs-target="#delete_document"
                                           data-employee-id="{{ optimetry.employee_id }}"
                                           data-employee-name="{{ optimetry.name }}"
                                           data-document-preview="{{ MEDIA_URL }}{{ doc }}"
                                           data-action-type="delete"
                                           data-action-href="{% url 'delete_franchise_store_employee_document' optimetry.employee_id doc 'certificates' %}"
                                           class="btn btn-soft-danger me-1 mb-1" type="button">
                                            <i class="fa fa-trash me-1"></i> Delete
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3 mt-2">

                                    <label class="form-label" for="document2">Certificates Upload (Can choose
                                        multiple)</label>

                                    <input class="form-control" id="certificates" multiple="multiple" name="certificates"
                                           type="file" accept="image/*,application/pdf"/>
                                </div>

                                <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column"
                                     id="certificatesPreviews"></div>
                            </div>

                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </form>

                </div>
                <div class="modal fade" id="delete_document" tabindex="-1"
                     aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white" id="staticBackdropLabel"></h5>
                                <button class="btn p-1" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span class="fas fa-times fs--1 text-white"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-700 lh-lg mb-0"></p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary modal-submit" type="button">Confirm</a>
                                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}

        </div>
        {% endfor %}
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'vendors/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'js/file-upload-preview.js' %}"></script>


<script>
document.addEventListener("DOMContentLoaded", function () {
    var enableDisableButtons = document.querySelectorAll('[data-bs-target="#delete_document"]');
    var modal = document.getElementById('delete_document');
    var modalTitle = modal.querySelector('.modal-title');
    var modalContent = modal.querySelector('.modal-body');
    var modalSubmit = modal.querySelector('.modal-submit');

    enableDisableButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            var storeId = event.currentTarget.getAttribute('data-employee-id');
            var storeName = event.currentTarget.getAttribute('data-employee-name');
            var actionUrl = event.currentTarget.getAttribute('data-document-preview');
            var actionType = event.currentTarget.getAttribute('data-action-type');
            var actionHref = event.currentTarget.getAttribute('data-action-href');

            modalTitle.textContent = "Delete - Document?";
            modalContent.innerHTML = `Are you sure you want to ${actionType} Document ?<br><strong>${actionUrl}</strong> for ${storeName}`;
            modalSubmit.href = actionHref;
            console.log({{store_optimetry | safe}});
        });
    });
});
</script>
<script src="{% static 'js/breadcrumbs.js' %}"></script>

</body>

</html>