<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens {{request.session.store_name}} - Refunded Orders</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!-- Stylesheets -->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }

    </script>

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar_franchise.html' %}

        <div class="content">

            <div class="mb-9">
                <div class="row g-2 mb-4">
                    <div class="col-auto">
                        <h2 class="mb-0">Refunded Orders<span class="fw-normal text-700 ms-3">({{orders_list|length}})</span>
                        </h2>
                    </div>
                </div>

                <div data-list='{"valueNames":["SlNo","order","total","customer","paymentStatus","orderStatus","createdBy","createdOn","updatedBy","updatedOn"],"page":20,"pagination":true}'
                     id="orderTable">
                    <div class="mb-4">
                        <div class="row g-3">
                            <div class="col-auto">
                                <div class="search-box">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search orders" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>

                                    </form>
                                </div>
                            </div>
                            <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                                <div class="btn-group position-static" role="group">

                                </div>
                            </div>
                            <div class="col-auto">
                                <button id="btnExport" class="btn btn-link text-900 me-4 px-0"><span
                                        class="fa-solid fa-file-export fs--1 me-2"></span>Export
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table table-sm fs--1 mb-0" id="myTable">
                                <thead>
                                <tr>
                                    <th class="sort white-space-nowrap align-middle ps-0" data-sort="SlNo"
                                    scope="col" style="width:10%;">SL NO
                                    </th>
                                    <th class="sort white-space-nowrap align-middle pe-3" data-sort="order" scope="col"
                                        style="width:5%;">ORDER ID
                                    </th>
                                    <th class="sort align-middle text-end" data-sort="total" scope="col"
                                        style="width:6%; min-width: 100px;">TOTAL
                                    </th>
                                    <th class="sort align-middle ps-8" data-sort="customer" scope="col"
                                        style="width:28%; min-width: 250px;">CUSTOMER
                                    </th>
                                    <th class="sort align-middle pe-3" data-sort="paymentStatus" scope="col"
                                        style="width:10%;">PAYMENT STATUS
                                    </th>
                                    <th class="sort align-middle text-start pe-3" data-sort="orderStatus"
                                        scope="col" style="width:12%; min-width: 200px;">ORDER
                                        STATUS
                                    </th>
                                    <th class="sort align-middle text-start" data-sort="createdBy" scope="col"
                                        style="width:30%;">CREATED BY
                                    </th>
                                    <th class="sort align-middle text-start" data-sort="createdOn" scope="col"
                                        style="width:30%;">CREATED ON
                                    </th>
                                    <th class="sort align-middle text-start" data-sort="updatedBy" scope="col"
                                        style="width:30%;">UPDATED BY
                                    </th>
                                    <th class="sort align-middle text-start" data-sort="updatedOn" scope="col"
                                        style="width:30%;">UPDATED ON
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list" id="order-table-body">
                                {% for order in orders_list %}
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                    data-category="{{ order.so_order_status }}">
                                    <td class="fs--1 align-middle px-0 py-3 SlNo"></td>
                                    <td class="order align-middle white-space-nowrap py-0"><a class="fw-semi-bold"
                                                                                              href="{% url 'order_details_franchise_store' order.so_order_id %}">{{order.so_order_id}}</a>
                                    </td>
                                    <td class="align-middle text-end fw-semi-bold text-1000">₹{{order.total_cost}}
                                    </td>
                                    <td style="display:none;" class="total align-middle text-end fw-semi-bold text-1000">
                                        {{order.total_cost}}
                                    </td>
                                    <td class="customer align-middle white-space-nowrap ps-8">
                                        <a class="d-flex align-items-center"
                                           href="{% url 'view_franchise_store_customer_details' order.so_customer_id %}">
                                            <div class="avatar avatar-m">
                                                <div class="avatar-name rounded-circle">
                                                    <span>{{order.customer_name.0}}</span></div>
                                            </div>
                                            <h6 class="mb-0 ms-3 text-900">{{order.customer_name}}</h6>
                                        </a>
                                    </td>
                                    <td class="paymentStatus align-middle white-space-nowrap text-start fw-bold text-700">
                                        {% if order.so_payment_status == 1 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label">PENDING</span></span>
                                        {% elif order.so_payment_status == 2 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                class="badge-label">COMPLETE</span></span>
                                        {% elif order.so_payment_status == 3 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                class="badge-label">REFUNDED</span></span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle white-space-nowrap text-start fw-bold text-700">
                                        {% if order.so_order_status == 1 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label">NEW</span></span>
                                        {% elif order.so_order_status == 2 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label">PROCESSING</span></span>
                                        {% elif order.so_order_status == 3 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label"><span style="display: none;">filterIn_READY IN LAB</span>READY IN LAB</span></span>
                                        {% elif order.so_order_status == 4 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label">DISPATCHED</span></span>
                                        {% elif order.so_order_status == 5 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                class="badge-label">READY IN STORE</span></span>
                                        {% elif order.so_order_status == 6 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                class="badge-label">DELIVERED CUSTOMER</span></span>
                                        {% elif order.so_order_status == 7 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                class="badge-label">CANCELLED</span></span>
                                        {% endif %}

                                    </td>
                                    <td style="display:none;" class="orderStatus align-middle white-space-nowrap text-start fw-bold text-700">
                                        {% if order.so_order_status == 1 %}
                                        NEW
                                        {% elif order.so_order_status == 2 %}
                                        PROCESSING
                                        {% elif order.so_order_status == 3 %}
                                        READY IN LAB
                                        {% elif order.so_order_status == 4 %}
                                        DISPATCHED
                                        {% elif order.so_order_status == 5 %}
                                        READY IN STORE
                                        {% elif order.so_order_status == 6 %}
                                        DELIVERED CUSTOMER
                                        {% elif order.so_order_status == 7 %}
                                        CANCELLED
                                        {% endif %}
                                    </td>
                                    <td class=" align-middle white-space-nowrap text-900 fs--1 text-start">
                                        <a href="{% url 'view_franchise_store_employee_details' order.so_created_by %}">{{order.creator_name}}</a>
                                    </td>
                                    <td style="display:none;" class="createdBy align-middle white-space-nowrap">
                                        {{order.updater_name}}
                                    </td>
                                    <td class="createdOn align-middle white-space-nowrap text-700 ">
                                        {{order.so_created_on|date:"d/m/Y h:i A"}}
                                    </td>
                                    <td class="align-middle white-space-nowrap text-900 fs--1 text-start">
                                        <a href="{% url 'view_franchise_store_employee_details' order.so_updated_by %}">{{order.updater_name}}</a>
                                    </td>
                                    <td style="display:none;" class="updatedBy align-middle white-space-nowrap">
                                        {{order.updater_name}}
                                    </td>
                                    <td class="updatedOn align-middle white-space-nowrap text-700 ">
                                        {{order.so_updated_on|date:"d/m/Y h:i A"}}
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                            <div class="col-auto d-flex">
                                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                   data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*"
                                                                          href="#!">View all<span
                                    class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                    class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                    class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                            </div>
                            <div class="col-auto d-flex">
                                <button class="page-link" data-list-pagination="prev"><span
                                        class="fas fa-chevron-left"></span></button>
                                <ul class="mb-0 pagination"></ul>
                                <button class="page-link pe-0" data-list-pagination="next"><span
                                        class="fas fa-chevron-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/csvExport.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>

</body>

</html>