<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

        .mb-3 {
            margin-bottom: 1.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .form-check-input {
            margin-right: 5px;
        }

        .form-label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        @media print {
            .form-check-input:checked::before {
                content: '\2714';
                text-align: center;
                font-size: 0.6em;
                position: relative;
                top: -4px;
            }
            .print-button {
                display: none;
            }
        }




    </style>
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title> {{eye_test_list.0.customer_phone}}_eye_test_{{eye_test_list.0.eye_test_id}}</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- Favicon and Manifest -->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <!-- JavaScript Dependencies -->
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }






    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main p-5" id="top">
    {% for test in eye_test_list %}
    <div class="d-flex flex-column align-items-center">
        <img src="{% static 'img/icons/logo.png' %}" alt="Logo" style="max-height: 40px;">
        <h1 class="mt-2">Indolens</h1>
    </div>
    <h3 class="mb-3 mt-2" style="text-align: center;">Eye Test Report</h3>
    <h5 class="mb-4" style="text-align: center; max-width: 500px; margin-left: auto; margin-right: auto;">
        {{test.store_address}} </h5>
    <!--    <h5 class="mb-4" style="text-align: center; max-width: 500px; margin-left: auto; margin-right: auto;">-->
    <!--        Test: {{test.customer_phone}}_eye_test_{{test.eye_test_id}} </h5>-->
    <div class="col-xl-9">
        {% csrf_token %}
        <div class="tab-pane">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Customer Name</th>
                    <td>
                        <input disabled style="color: black;" type="text"
                               value="{{test.customer_name}}"/>
                    </td>
                    <th scope="row">Date</th>
                    <td>
                        <input disabled style="color: black;" type="email"
                               value="{{test.created_on}}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Customer Phone</th>
                    <td>
                        <input disabled style="color: black;" type="text"
                               value="{{test.customer_phone}}"/>
                    </td>
                    <th scope="row">Customer Age</th>
                    <td>
                        <input disabled style="color: black;" type="text"
                               value="{{test.customer_age}}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row mb-3 stock_power_card"
             id="stock_power_card">
            <div class="col-12">
                <h5 class="mb-3">Right Eye Test Data</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">SPH</th>
                        <th scope="col">CYL</th>
                        <th scope="col">AXIS</th>
                        <th scope="col">VISION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">D/V</th>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightDvSph}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightDvCyl}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightDvAxis}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightDvVision}}"/>

                        </td>
                    </tr>

                    <tr>
                        <th scope="row">N/V</th>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightNvSph}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightNvCyl}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightNvAxis}}"/>

                        </td>
                        <td class="col-6 col-lg-3">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.RightNvVision}}"/>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 class="mb-3">Left Eye Test Data</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">SPH</th>
                        <th scope="col">CYL</th>
                        <th scope="col">AXIS</th>
                        <th scope="col">VISION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">D/V</th>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftDvSph}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftDvCyl}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftDvAxis}}"/>

                        </td>
                        <td class="col-6 col-lg-3">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftDvVision}}"/>

                        </td>

                    </tr>

                    <tr>
                        <th scope="row">N/V</th>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftNvSph}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftNvCyl}}"/>

                        </td>
                        <td class="col-6 col-lg-2">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftNvAxis}}"/>

                        </td>
                        <td class="col-6 col-lg-3">
                            <input disabled style="color: black;"
                                   type="text" value="{{test.power_attributes.LeftNvVision}}"/>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mb-3">
            <div class="row mb-3 pt-3">
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="unifocal"
                           value="1"/>
                    <label>UNIFOCAL</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="bifocal"
                           value="1"/>
                    <label>BIFOCAL</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="progressive"
                           value="1"/>
                    <label>PROGRESSIVE</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="cr39"
                           value="1"/>
                    <label>CR39</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="arc"
                           value="1"/>
                    <label>ARC</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="glass"
                           value="1"/>
                    <label>GLASS</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="highIndex"
                           value="1"/>
                    <label>HIGH INDEX</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="pg" value="1"/>
                    <label>PG</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="constant"
                           value="1"/>
                    <label>CONSTANT</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="distance"
                           value="1"/>
                    <label>DISTANCE</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input disabled style="color: black;" class="form-check-input" type="checkbox" name="near"
                           value="1"/>
                    <label>NEAR</label>
                </div>

                <div class="row mb-3 pt-3">
                    <div class="col-4 col-lg-3">
                        <label class="form-label">PDR</label>
                        <input disabled style="color: black;" type="text" name="pdr"
                               value="{{test.power_attributes.pdr}}"/>
                    </div>
                    <div class="col-4 col-lg-3">
                        <label class="form-label">PDL</label>
                        <input disabled style="color: black;" type="text" name="pdl"
                               value="{{test.power_attributes.pdl}}"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="btn print-button" onclick="window.print()">
                <span class="fa-solid fa-print me-sm-2"></span>
                <span class="d-none d-sm-inline-block">Print</span>
            </button>
        </div>
    </div>


    {% endfor %}
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script>
    var powerAttributes = {{eye_test_list.0.power_attributes | safe}};
    console.log(powerAttributes);
    updateCheckboxes();

    function updateCheckboxes() {
        var checkboxes = document.querySelectorAll('.form-check-input');

        checkboxes.forEach(function (checkbox) {
            var name = checkbox.getAttribute('name');
            if (powerAttributes[name] === '1') {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
            }
        });
    }



</script>
</body>
</html>