<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens {{request.session.store_name}} - Create Stock request</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/prism/prism-okaidia.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }




    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar_store.html' %}

        <div class="content">

            <div class="col-12 col-xxl-6">
                <div data-list='{"valueNames":["SlNo","prodId","product","price","category","brand","store","inStock","publishedOn"],"page":20,"pagination":true}'
                     id="projectSummary">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Create stock request<span class="fw-normal text-700 ms-3">({{product_list|length}})</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search for product" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0" id="myTable">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle pe-3" data-sort="SlNo" scope="col"
                                    style="width:5%;">SL NO
                                </th>
                                <th class="sort white-space-nowrap align-middle pe-3" data-sort="prodId" scope="col"
                                    style="width:5%;">PRODUCT ID
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-4" data-sort="product"
                                    scope="col" style="width:350px;">PRODUCT NAME
                                </th>
                                <th class="sort align-middle text-end ps-4" data-sort="price" scope="col"
                                    style="width:150px;">PRICE
                                </th>
                                <th class="sort align-middle ps-4" data-sort="category" scope="col"
                                    style="width:150px;">CATEGORY
                                </th>
                                <th class="sort align-middle ps-4" data-sort="brand" scope="col"
                                    style="width:150px;">BRAND
                                </th>
                                <th class="sort align-middle ps-4" data-sort="store" scope="col"
                                    style="width:150px;">STORE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="inStock" scope="col"
                                    style="width:250px;">MY STOCK
                                </th>
                                <th class="sort align-middle ps-4" data-sort="publishedOn" scope="col"
                                    style="width:50px;">PUBLISHED ON
                                </th>
                                <th class="sort text-end align-middle pe-0 ps-4" scope="col">ACTION</th>
                            </tr>
                            </thead>
                            <tbody class="list" id="products-table-body">

                            {% for product in product_list %}
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="align-middle white-space-nowrap py-0 SlNo"></td>
                                <td class="align-middle white-space-nowrap py-0 prodId">PID{{ product.ci_product_id }}</td>

                                <td class="align-middle ps-4">
                                    <a class="fw-semi-bold line-clamp-2 mb-0 "
                                       href="{% url 'view_central_inventory_products' product.ci_product_id %}">
                                        {{product.ci_product_name}}</a>

                                </td>
                                <td style="display:none;" class="product align-middle ps-4">
                                    {{product.ci_product_name}}
                                </td>
                                <td class="align-middle white-space-nowrap fw-bold text-700 ps-4">
                                    ₹{{product.ci_sale_price}}
                                </td>
                                <td style="display:none;" class="price align-middle white-space-nowrap fw-bold text-700 ps-4">
                                    {{product.ci_cost_price}}
                                </td>
                                <td class="category align-middle white-space-nowrap text-600 fs--1 ps-4 fw-semi-bold">
                                    {{product.pc_category_name}}
                                </td>
                                <td class="brand align-middle white-space-nowrap text-600 fs--1 ps-4 fw-semi-bold">
                                    {{product.brand_name}}
                                </td>
                                <td class="store align-middle white-space-nowrap text-600 fs--1 ps-4 fw-semi-bold">
                                    {% if product.target_store_name == 0 %}
                                    CENTRAL INVENTORY
                                    {% else %}
                                    {{product.target_store_name}}
                                    {% endif %}
                                </td>

                                <td class="inStock align-middle white-space-nowrap fw-bold text-700 ps-4">
                                    {% if product.store_quantity == None %}
                                    0
                                    {% else %}
                                    {{product.store_quantity}}
                                    {% endif %}

                                </td>
                                <td class="publishedOn align-middle white-space-nowrap text-600 ps-4">
                                    {{product.ci_created_on|date:"d/m/Y h:i A"}}
                                </td>
                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window" data-bs-reference="parent"
                                                data-bs-toggle="dropdown" type="button"><span
                                                class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                class="dropdown-item" data-bs-target="#verticallyCentered"
                                                data-bs-product-id="{{product.ci_product_id}}"
                                                data-bs-target-store-id="{{product.target_store_id}}"
                                                data-bs-unit-cost="{{product.ci_cost_price}}"
                                                data-bs-toggle="modal">Request</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-hidden="true" aria-labelledby="verticallyCenteredModalLabel" class="modal fade"
                         id="verticallyCentered" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="verticallyCenteredModalLabel">Request for
                                        stock</h5>
                                    <button aria-label="Close" class="btn p-1" data-bs-dismiss="modal"
                                            type="button"><span class="fas fa-times fs--1"></span></button>
                                </div>
                                <div class="p-4 code-to-copy">
                                    <form action="{% url 'create_request_store' %}" class="row g-3 needs-validation"
                                          method='POST'
                                          novalidate="">
                                        {% csrf_token %}
                                        <div class="col-12">

                                            <label class="form-label" for="product_id">Product
                                                ID</label>

                                            <input class="form-control" readonly id="product_id_show"
                                                   required="" name="product_id_show"
                                                   type="text"/>
                                            <input class="form-control" readonly id="product_id"
                                                   required="" name="product_id"
                                                   type="hidden"/>
                                        </div>

                                        <div class="col-12">

                                            <label class="form-label" for="expense_reason">Request
                                                Quantity</label>

                                            <input class="form-control" id="expense_reason" maxlength="256"
                                                   required="" name="product_quantity" min="1"
                                                   type="number" value=""/>
                                            <div class="invalid-feedback">Enter valid quantity!</div>
                                        </div>
                                        <input id="request_to_store_id" name="request_to_store_id" type="hidden"/>
                                        <input id="unit_cost" name="unit_cost" type="hidden"/>
                                        <input name="request_from_store_id" type="hidden"
                                               value="{{request.session.assigned_store_id}}"/>
                                        <input name="created_by" type="hidden" value="{{request.session.id}}"/>
                                        <input name="store_type" type="hidden" value="{{request.session.store_type}}"/>
                                        <input name="route" type="hidden" value="create_request_store"/>

                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                            <button class="btn btn-outline-primary" data-bs-dismiss="modal"
                                                    type="reset">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>

            </div>

            {% include 'footer.html' %}

        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }






    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/prism/prism.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>


<script>
document.addEventListener("DOMContentLoaded", function () {
    document.body.addEventListener('click', function (event) {
    var enableDisableButtons = document.querySelectorAll('[data-bs-target="#verticallyCentered"]');
    var modal = document.getElementById('verticallyCentered');
    var productIdField = modal.querySelector('#product_id');
    var targetStoreField = modal.querySelector('#request_to_store_id');
    var unitCostField = modal.querySelector('#unit_cost');
        enableDisableButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                var productId = event.currentTarget.getAttribute('data-bs-product-id');
                var productIdFieldShow = modal.querySelector('#product_id_show');
                var targetStore = event.currentTarget.getAttribute('data-bs-target-store-id');
                var unitCost = event.currentTarget.getAttribute('data-bs-unit-cost');

                productIdField.value = productId;
                productIdFieldShow.value = "PID"+productId;
                targetStoreField.value = targetStore;
                unitCostField.value = unitCost;
            });
        });
    });
});


</script>


</body>

</html>