<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage Optimetry</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }








    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}


        <div class="content">

            <div class="mb-9">
                <div data-list='{"valueNames":["name","phone","email","store","status","createdDate","createdBy","updatedDate","updatedBy","address"],"page":6,"pagination":true}'
                     id="projectSummary">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Optimetry<span class="fw-normal text-700 ms-3">(2)</span></h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>
                                <div class="col-auto"><a class="btn btn-primary px-5"
                                                         href="{% url 'create_optimetry' %}"><i
                                        class="fa-solid fa-plus me-2"></i>Add Optimetry</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200">
                            <thead>
                            <tr>
                                <th class="sort align-middle text-end" scope="col" style="width:10%;"></th>

                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="name"
                                    scope="col" style="width:30%;">NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="phone" scope="col" style="width:10%;">
                                    PHONE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="email" scope="col" style="width:10%;">
                                    EMAIL
                                </th>
                                <th class="sort align-middle ps-3" data-sort="store" scope="col"
                                    style="width:5%;">ASSIGNED STORE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="status" scope="col"
                                    style="width:5%;">STATUS
                                </th>
<!--                                <th class="sort align-middle ps-3" data-sort="createdDate" scope="col"-->
<!--                                    style="width:10%;">-->
<!--                                    CREATED AT-->
<!--                                </th>-->
<!--                                <th class="sort align-middle ps-3" data-sort="createdBy" scope="col" style="width:15%;">-->
<!--                                    CREATED BY-->
<!--                                </th>-->
<!--                                <th class="sort align-middle ps-3" data-sort="updatedDate" scope="col"-->
<!--                                    style="width:5%;">UPDATED ON-->
<!--                                </th>-->

<!--                                <th class="sort align-middle ps-3" data-sort="updatedBy" scope="col"-->
<!--                                    style="width:5%;">UPDATED BY-->
<!--                                </th>-->

                                <th class="sort align-middle ps-3" data-sort="address" scope="col"
                                    style="width:5%;">ADDRESS
                                </th>


                                <th class="sort align-middle text-end" scope="col" style="width:10%;"></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for opti in optimetry_list %}
                            <tr class="position-static">
                                <td>
                                    <a href="{{MEDIA_URL}}{{opti.profile_pic}}" target="_blank">
                                    <div class="avatar avatar-m">
                                        <img alt="" class="rounded-circle" src="{{MEDIA_URL}}{{opti.profile_pic}}"/>
                                    </div>
                                        </a>
                                </td>
                                <td class="align-middle time white-space-nowrap ps-0 name py-4"><a
                                        class="text-decoration-none fw-bold fs-0"
                                        href="{% url 'view_optimetry' opti.employee_id %}">{{opti.name}}</a>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4 phone">
                                    <p class="mb-0 fs--1 text-900">{{opti.phone}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4 email">
                                    <p class="mb-0 fs--1 text-900">{{opti.email}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4 store">
                                    {% if opti.assigned_store_id != 0 %}
                                    <a class="text-decoration-none fw-semi-bold fs-0"
                                       href="{%url 'view_own_store' opti.assigned_store_id %}">
                                        {{opti.store_name}}
                                    </a>
                                    {% else %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-danger">UNASSIGNED</span>
                                    {% endif %}
                                </td>

                                <td class="align-middle white-space-nowrap text-end status">
                                    {% if opti.status == 0 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-danger">InActive</span>
                                {% elif opti.status == 1 %}
                                <span class="badge badge-phoenix fs--2 badge-phoenix-success">Active</span>
                                {% endif %}
<!--                                <td class="align-middle white-space-nowrap deadline ps-3 py-4 createdDate">-->
<!--                                    <p class="mb-0 fs&#45;&#45;1 text-900">{{opti.created_on}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap task ps-3 py-4 createdBy">-->
<!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{opti.creator_name}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap deadline ps-3 py-4 updatedDate">-->
<!--                                    <p class="mb-0 fs&#45;&#45;1 text-900">{{opti.last_updated_on}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap task ps-3 py-4 updatedBy">-->
<!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{opti.updater_name}}</p>-->
<!--                                </td>-->
                                <td class="align-middle white-space-nowrap task ps-3 py-4 address">
                                    <p class="fw-bo text-900 fs--1 mb-0">{{opti.address}}</p>
                                </td>

                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>



                                        <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                class="dropdown-item">View</a>
                                            {% if opti.status == 1 %}
                                            {% if opti.assigned_store_id == 0 %}
                                            <a class="dropdown-item"
                                               type="button"
                                               data-bs-role="Optimetry"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ opti.employee_id }}"
                                               data-employee-name="{{ opti.name }}"
                                               data-action-type="allocate">
                                                Allocate Store
                                            </a>
                                            {% else %}
                                            <a class="dropdown-item"
                                               type="button"
                                               data-bs-role="Optimetry"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ opti.employee_id }}"
                                               data-employee-name="{{ opti.name }}"
                                               data-store-name="{{opti.store_name}}"
                                               data-action-type="unallocate"
                                               data-action-url="{% url 'un_assign_optimetry_own_store' opti.employee_id opti.assigned_store_id %}">
                                                Un allocate Store
                                            </a>
                                            {% endif %}

                                            <a class="dropdown-item"
                                               href="{% url 'edit_optimetry' opti.employee_id %}">Send password
                                                reset link</a>
                                            {% endif %}

                                            <a class="dropdown-item"
                                               href="{% url 'edit_optimetry' opti.employee_id %}">Update
                                                Profile</a>

                                            <a class="dropdown-item"
                                               href="{% url 'update_optimetry_documents' opti.employee_id %}">Update
                                                Documents</a>

                                            <div class="dropdown-divider"></div>
                                            {% if opti.status == 0 %}
                                            <a class="dropdown-item text-success"
                                               type="button"
                                               data-bs-role="Optimetry"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ opti.employee_id }}"
                                               data-employee-name="{{ opti.name }}"
                                               data-action-type="enable"
                                               data-action-url="{% url 'enable_disable_optimetry' opti.employee_id 1 %}">
                                                Make Active
                                            </a>

                                            {% elif opti.status == 1 %}
                                            <a class="dropdown-item text-danger"
                                               type="button"
                                               data-bs-role="Optimetry"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ opti.employee_id }}"
                                               data-employee-name="{{ opti.name }}"
                                               data-action-type="disable"
                                               data-action-url="{% url 'enable_disable_optimetry' opti.employee_id 0 %}">
                                                Make Inactive
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="operations_modal" tabindex="-1"
                             aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h5 class="modal-title text-white" id="modal_title"></h5>
                                        <button class="btn p-1" type="button" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span class="fas fa-times fs--1 text-white"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modal_content">
                                        <!-- Form for Allocate Store -->
                                        <form class="row g-3 needs-validation allocate-store-form" method="post"
                                              action="{% url 'assign_optimetry_own_store' %}" novalidate="novalidate">
                                            {% csrf_token %}
                                            <input type="hidden" name="emp_id" id="emp_id">
                                            <h5 class="mb-3">Select Store (Only active and unallocated stores appear
                                                here)</h5>
                                            <select class="form-select" data-choices="data-choices"
                                                    data-options='{"placeholder":true}' name="store_id"
                                                    required="required">
                                                <option value="">Select a store</option>
                                                {% for store in available_stores %}
                                                <option value="{{store.store_id}}">{{store.store_name}}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="custom-error" style="color: red;"></div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary modal-submit" type="submit">Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="footer_div" class="modal-footer">
                                        <a class="btn btn-primary modal-submit" type="button"
                                           id="modal_submit">Confirm</a>
                                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var operationsButtons = document.querySelectorAll('[data-bs-target="#operations_modal"]');
    var modal = document.getElementById('operations_modal');
    var modalTitle = document.getElementById('modal_title');
    var modalContent = document.getElementById('modal_content');
    var modalSubmit = document.getElementById('modal_submit');
    var modalForm = document.querySelector('.allocate-store-form'); // Select the existing form

    operationsButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            var empId = event.currentTarget.getAttribute('data-employee-id');
            var empName = event.currentTarget.getAttribute('data-employee-name');
            var actionType = event.currentTarget.getAttribute('data-action-type');
            var actionUrl = event.currentTarget.getAttribute('data-action-url');
            var role = event.currentTarget.getAttribute('data-bs-role');

            if (actionType === 'enable' || actionType === 'disable') {
                modalTitle.textContent = actionType === "enable" ? "Enable " +role+" - " + empName : "Disable " +role+ "- " + empName;
                modalContent.innerHTML = `Are you sure you want to ${actionType} ?<br><strong>${empName}</strong> (ID: ${empId})`;
                modalSubmit.href = actionUrl;
                // Hide the form for non-"Allocate" actions
                modalForm.style.display = 'none';
            } else if (actionType === 'allocate') {
                document.getElementById('footer_div').style.display = 'none';
                modalTitle.textContent = "Allocate store for - " + empName;
                document.getElementById('emp_id').value = empId;
                modalSubmit.href = actionUrl;
                // Show the form for "Allocate" action
                modalForm.style.display = 'block';
            } else if (actionType === 'unallocate') {
                modalTitle.textContent = "Unallocate Store - " + empName;
                modalContent.innerHTML = `Are you sure you want to unallocate the store <br><strong>${event.currentTarget.getAttribute('data-store-name')}</strong> for <strong>${empName}</strong> (ID: ${empId})?`;
                modalSubmit.href = actionUrl;
                // Hide the form for "Unallocate" action
                modalForm.style.display = 'none';
            }

             // Use data-bs-toggle and data-bs-target attributes to trigger the modal
            var targetModal = event.currentTarget.getAttribute('data-bs-target');
            var backdrop = event.currentTarget.getAttribute('data-bs-backdrop');
            modal.setAttribute('data-bs-target', targetModal);
            modal.setAttribute('data-bs-backdrop', backdrop);
        });
    });
});
</script>
</body>

</html>