<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens -Admin Settings</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- Favicon and Manifest -->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <!-- JavaScript Dependencies -->
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }














    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">

            <h2 class="mb-4">Admin Settings</h2>
            <div class="row mb-4">
                <div class="col-xl-9">
                    <form id="settingsForm" action="{% url 'indolens_admin_setting' %}" class="row g-3 needs-validation"
                          method="post"
                          novalidate="">
                        {% csrf_token %}
                        <div class="tab-pane" role="tabpanel"
                             aria-labelledby="bootstrap-wizard-validation-tab2"
                             id="bootstrap-wizard-validation-tab2">
                            <div>
                                <h5 class="mb-3">INDOLENS URL</h5>
                                <div class="mb2 col-12">
                                    <h5 class="mb-3">Base URL</h5>
                                    <input class="form-control"
                                           name="base_url"
                                           placeholder="Base Url"
                                           required="required"
                                           type="text" value="{{admin_setting.base_url}}"/>
                                    <div class="invalid-feedback">Base URL is mandatory.</div>
                                </div>
                                <h5 class="mb-3 mt-3 mb-3 mt-6">Email Notification Settings</h5>
                                <div id="customer_info" class="row g-3 mb-3">
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">EmailJS URL</h5>
                                        <input class="form-control"
                                               name="emailjs_url"
                                               placeholder="EmailJS Url"
                                               required="required"
                                               type="text" value="{{admin_setting.emailjs_attribute.emailjs_url}}"/>
                                        <div class="invalid-feedback">EmailJS URL is mandatory.</div>
                                    </div>
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">EmailJS Service Id</h5>
                                        <input class="form-control"
                                               name="emailjs_service_id"
                                               placeholder="EmailJS Service Id"
                                               required="required"
                                               type="text"
                                               value="{{admin_setting.emailjs_attribute.emailjs_service_id}}"/>
                                        <div class="invalid-feedback">EmailJS Service Id is mandatory.</div>
                                    </div>
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">EmailJS Template Id</h5>
                                        <input class="form-control"
                                               name="emailjs_template_id"
                                               placeholder="EmailJS Template Id"
                                               required="required"
                                               type="text"
                                               value="{{admin_setting.emailjs_attribute.emailjs_template_id}}"/>
                                        <div class="invalid-feedback">EmailJS Template Id is mandatory.</div>
                                    </div>
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">EmailJS User Id</h5>
                                        <input class="form-control"
                                               name="emailjs_user_id"
                                               placeholder="EmailJS User Id"
                                               required="required"
                                               type="text" value="{{admin_setting.emailjs_attribute.emailjs_user_id}}"/>
                                        <div class="invalid-feedback">EmailJS User Id is mandatory.</div>
                                    </div>
                                </div>
                                <h5 class="mb-3 mt-6">INDOLENS Support Info</h5>
                                <div class="row g-3 mb-3">
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">Support Email</h5>
                                        <input class="form-control"
                                               name="support_email"
                                               placeholder="Support team email"
                                               required="required"
                                               type="email" value="{{admin_setting.support_attributes.support_email}}"/>
                                        <div class="invalid-feedback">Email is mandatory.</div>
                                    </div>
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">Support Phone</h5>
                                        <input class="form-control"
                                               name="support_phone"
                                               placeholder="Support Phone"
                                               required="required"
                                               type="number"
                                               max="9999999999" min="1111111111"
                                               value="{{admin_setting.support_attributes.support_phone}}"/>
                                        <div class="invalid-feedback">Support Phone is mandatory.</div>
                                    </div>
                                    <div class="mb2 col-6">
                                        <h5 class="mb-3">Support Hours</h5>
                                        <input class="form-control"
                                               name="support_hours"
                                               placeholder="support Hours"
                                               required="required"
                                               type="text"
                                               value="{{admin_setting.support_attributes.support_hour}}"/>
                                        <div class="invalid-feedback">Support Hour is mandatory.</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#operations_modal">Save
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="operations_modal" tabindex="-1"
                     aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white" id="modal_title">Confirm save</h5>
                                <button class="btn p-1" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span class="fas fa-times fs--1 text-white"></span>
                                </button>
                            </div>
                            <div class="modal-body" id="modal_content">
                                <p>Are you sure you want to save changes?</p>
                                <!-- Form for Allocate Store -->
                            </div>
                            <div id="footer_div" class="modal-footer">
                                <a class="btn btn-primary modal-submit" type="button" onclick="submitForm();"
                                   id="modal_submit">Confirm</a>
                                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% include 'footer.html' %}

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script>
    function submitForm(){
        var form = document.getElementById('settingsForm');
        form.submit();
    }



</script>
</body>

</html>