<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Dashboard</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% load static %}

    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }





    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}

        <div class="content">
            <div class="pb-5">
                <div class="row g-4">
                    <div class="col-12 col-xxl-6">
                        <div class="mb-8">
                            <h2 class="mb-2">Hi {admin name}</h2>
                            <h5 class="text-700 fw-semi-bold">Here’s what’s going on at your business right now</h5>
                        </div>

                        <div class="row align-items-center g-4">
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt="" height="46" src="{% static 'img/icons/illustrations/4l.png' %}"
                                        width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0">₹18,000 Sales</h4>
                                        <p class="text-800 fs--1 mb-0">From Own Stores Today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/3l.png' %}" width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0">₹12,000 Sales</h4>
                                        <p class="text-800 fs--1 mb-0">From Franchise Stores Today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/2l.png' %}" width="46"/>
                                    <div class="ms-3">
                                        <h4 class="mb-0">15 Orders</h4>
                                        <p class="text-800 fs--1 mb-0">From Own Stores Today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/2l.png' %}" width="46"/>
                                    <div class="ms-3">
                                        <h4 class="mb-0">5 Delivered</h4>
                                        <p class="text-800 fs--1 mb-0">From Franchise Stores Today</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center g-4 mt-2">
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt="" height="46" src="{% static 'img/icons/illustrations/4l.png' %}"
                                        width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0"><a href="{% url 'pending_orders' %}">57
                                            new orders</a></h4>
                                        <p class="text-800 fs--1 mb-0">Pending orders</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/3l.png' %}" width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0"><a href="{% url 'delivered_orders' %}">5 Delivered</a></h4>
                                        <p class="text-800 fs--1 mb-0">Orders delivered today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/2l.png' %}" width="46"/>
                                    <div class="ms-3">
                                        <h4 class="mb-0"><a href="{% url 'manage_out_of_stock' %}">15 products</a>
                                        </h4>
                                        <p class="text-800 fs--1 mb-0">Out of stock</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center g-4 mt-2">
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt="" height="46" src="{% static 'img/icons/illustrations/4l.png' %}"
                                        width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0"><a href="{% url 'manage_own_stores' %}">9 Own stores</a></h4>
                                        <p class="text-800 fs--1 mb-0">Indolens owns them</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex align-items-center"><img
                                        alt=""
                                        height="46" src="{% static 'img/icons/illustrations/3l.png' %}" width="46"/>

                                    <div class="ms-3">
                                        <h4 class="mb-0"><a href="{% url 'manage_Franchise_stores' %}">5 Franchise
                                            stores</a>
                                        </h4>
                                        <p class="text-800 fs--1 mb-0">For franchise owners</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="bg-200 mb-6 mt-4"/>
                        <div class="row flex-between-center mb-4 g-3">
                            <div class="col-auto">
                                <h3>Total sells Own Stores v/s Franchise</h3>
                                <p class="text-700 lh-sm mb-0">Payment received across all channels</p>
                            </div>
                            <div class="col-8 col-sm-4">
                                <select class="form-select form-select-sm mt-2" id="select-gross-revenue-month">
                                    <option>Mar 1 - 31, 2022</option>
                                    <option>April 1 - 30, 2022</option>
                                    <option>May 1 - 31, 2022</option>
                                </select>
                            </div>
                        </div>
                        <div class="echart-total-sales-chart" data-echart-responsive="data-echart-responsive"
                             style="min-height:320px;width:100%"></div>
                        <!--  OWN STORE FRANCHISE ANALYTICS STARTS HERE-->

                        <div class="row gx-6">
                            <div class="col-12 col-xl-6">
                                <div class="mb-5 mt-7">
                                    <h3>Own stores - Analytics</h3>
                                    <p class="text-700">Glimpses of revenue and spend for own stores</p>
                                    <div class="col-12 col-sm-auto">
                                        <div class="btn-group" data-gantt-scale="data-gantt-scale" role="group">
                                            <input checked="" class="btn-check" id="own_stores_weekView"
                                                   name="scaleView"
                                                   type="radio" value="week"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="own_stores_weekView">Week</label>
                                            <input class="btn-check" id="own_stores_monthView" name="scaleView"
                                                   type="radio"
                                                   value="month"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="own_stores_monthView">Month</label>
                                            <input class="btn-check" id="own_stores_yearView" name="scaleView"
                                                   type="radio"
                                                   value="year"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="own_stores_yearView">Year</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive scrollbar">
                                    <table class="table fs--2 mb-0">
                                        <thead>
                                        <tr>
                                            <th class="border-top border-200 ps-0 align-middle" scope="col"
                                                style="width:32%">
                                                SHOP
                                            </th>
                                            <th class="border-top border-200 align-middle" scope="col"
                                                style="width:17%">SALES
                                            </th>
                                            <th class="border-top border-200 text-end align-middle" scope="col"
                                                style="width:16%">
                                                EXPENSES
                                            </th>
                                            <th class="border-top border-200 text-end align-middle" scope="col"
                                                style="width:20%">
                                                NET BALANCE
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody class="list">
                                        <tr>
                                            <td class="align-middle py-4">
                                                <h4 class="mb-0 fw-normal">5</h4>
                                            </td>
                                            <td class="align-middle py-4">
                                                <h4 class="mb-0 fw-normal">₹22,367</h4>

                                            </td>
                                            <td class="align-middle text-end py-4">
                                                <h4 class="mb-0 fw-normal">₹2,367</h4>
                                            </td>
                                            <td class="align-middle text-end py-4">
                                                <h4 class="mb-0 fw-normal">₹15,758</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">1. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1"><a
                                                                href="{% url 'view_own_store' %}">Nelamangala</a></p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">2. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Bagalugunte</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">3. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Basavanagudi</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">4. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Mysore central</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">5. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Bidadi</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <!--                                <div class="d-flex align-items-center justify-content-between py-2 fs&#45;&#45;1 mb-1">-->
                                <!--                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="">1 to-->
                                <!--                                        5 <span-->
                                <!--                                                class="text-600"> Items of </span> 15</p><a class="fw-semi-bold"-->
                                <!--                                                                                            href="#!"-->
                                <!--                                                                                            data-list-view="*">View-->
                                <!--                                    all<span-->
                                <!--                                            class="fas fa-angle-right ms-2" data-fa-transform="down-1"></span></a>-->
                                <!--                                </div>-->
                            </div>


                            <div class="col-12 col-xl-6">
                                <div class="mb-5 mt-7">
                                    <h3>Franchise stores - Analytics</h3>
                                    <p class="text-700">Glimpses of revenue and spend for franchise stores</p>
                                    <div class="col-12 col-sm-auto">
                                        <div class="btn-group" data-gantt-scale="data-gantt-scale" role="group">
                                            <input checked="" class="btn-check" id="weekView2" name="scaleView"
                                                   type="radio" value="week"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="weekView2">Week</label>
                                            <input class="btn-check" id="monthView2" name="scaleView" type="radio"
                                                   value="month"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="monthView2">Month</label>
                                            <input class="btn-check" id="yearView2" name="scaleView" type="radio"
                                                   value="year"/>
                                            <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                   for="yearView2">Year</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive scrollbar">
                                    <table class="table fs--2 mb-0">
                                        <thead>
                                        <tr>
                                            <th class="border-top border-200 ps-0 align-middle" scope="col"
                                                style="width:32%">
                                                SHOP
                                            </th>
                                            <th class="border-top border-200 align-middle" scope="col"
                                                style="width:17%">SALES
                                            </th>
                                            <th class="border-top border-200 text-end align-middle" scope="col"
                                                style="width:16%">
                                                EXPENSES
                                            </th>
                                            <th class="border-top border-200 text-end align-middle" scope="col"
                                                style="width:20%">
                                                NET BALANCE
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody class="list">
                                        <tr>
                                            <td class="align-middle py-4">
                                                <h4 class="mb-0 fw-normal">5</h4>
                                            </td>
                                            <td class="align-middle py-4">
                                                <h4 class="mb-0 fw-normal">₹377,620</h4>
                                            </td>
                                            <td class="align-middle text-end py-4">
                                                <h4 class="mb-0 fw-normal">₹2,367</h4>
                                            </td>
                                            <td class="align-middle text-end py-4">
                                                <h4 class="mb-0 fw-normal">₹15,758</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">1. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1"><a
                                                                href="{% url 'view_franchise_store' %}">Jalahalli</a>
                                                        </p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">2. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Chikpet</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">3. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Hessarghatta</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">4. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">Hebbala</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="white-space-nowrap ps-0" style="width:32%">
                                                <div class="d-flex align-items-center">
                                                    <h6 class="mb-0 me-3">5. </h6><a href="#!">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-primary fw-bold fs--1">KR Puram</p>
                                                    </div>
                                                </a>
                                                </div>
                                            </td>
                                            <td class="align-middle" style="width:17%">
                                                <h6 class="mb-0">92896<span
                                                        class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">67<span
                                                        class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                                            </td>
                                            <td class="align-middle text-end" style="width:17%">
                                                <h6 class="mb-0">₹7560<span
                                                        class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <!--                                <div class="d-flex align-items-center justify-content-between py-2 fs&#45;&#45;1 mb-1">-->
                                <!--                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="">1 to-->
                                <!--                                        5 <span-->
                                <!--                                                class="text-600"> Items of </span> 15</p><a class="fw-semi-bold"-->
                                <!--                                                                                            href="#!"-->
                                <!--                                                                                            data-list-view="*">View-->
                                <!--                                    all<span-->
                                <!--                                            class="fas fa-angle-right ms-2" data-fa-transform="down-1"></span></a>-->
                                <!--                                </div>-->
                            </div>
                        </div>

                        <!-- OWN STORE FRANCHISE ANALYTICS ENDS HERE-->

                    </div>
                    <div class="col-12 col-xxl-6">
                        <div class="row g-3">
                            <div class="col-12 col-md-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 class="mb-1">Total orders<span
                                                        class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"><span
                                                        class="badge-label">-6.8%</span></span></h5>
                                                <div class="col-12 col-sm-auto">
                                                    <div class="btn-group" data-gantt-scale="data-gantt-scale"
                                                         role="group">
                                                        <input checked="" class="btn-check" id="weekView3"
                                                               name="scaleView" type="radio" value="week"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="weekView3">Week</label>
                                                        <input class="btn-check" id="monthView3" name="scaleView"
                                                               type="radio" value="month"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="monthView3">Month</label>
                                                        <input class="btn-check" id="yearView3" name="scaleView"
                                                               type="radio" value="year"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="yearView3">Year</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>16,247</h4>
                                        </div>
                                        <div class="d-flex justify-content-center px-4 py-6">
                                            <div class="echart-total-orders" style="height:85px;width:115px"></div>
                                        </div>
                                        <div class="mt-2">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="bullet-item bg-primary me-2"></div>
                                                <h6 class="text-900 fw-semi-bold flex-1 mb-0">Completed</h6>
                                                <h6 class="text-900 fw-semi-bold mb-0">52%</h6>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="bullet-item bg-primary-100 me-2"></div>
                                                <h6 class="text-900 fw-semi-bold flex-1 mb-0">Pending payment</h6>
                                                <h6 class="text-900 fw-semi-bold mb-0">48%</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 class="mb-1">New customers<span
                                                        class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"> <span
                                                        class="badge-label">+26.5%</span></span></h5>
                                                <div class="col-12 col-sm-auto">
                                                    <div class="btn-group" data-gantt-scale="data-gantt-scale"
                                                         role="group">
                                                        <input checked="" class="btn-check" id="weekView4"
                                                               name="scaleView" type="radio" value="week"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="weekView4">Week</label>
                                                        <input class="btn-check" id="monthView4" name="scaleView"
                                                               type="radio" value="month"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="monthView4">Month</label>
                                                        <input class="btn-check" id="yearView4" name="scaleView"
                                                               type="radio" value="year"/>
                                                        <label class="btn btn-phoenix-secondary hover-bg-100 fs--2 py-1 mb-0"
                                                               for="yearView4">Year</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>356</h4>
                                        </div>
                                        <div class="pb-0 pt-4">
                                            <div class="echarts-new-customers" data-echart-responsive="true"
                                                 style="height:180px;width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 border-y border-300">
                <div data-list='{"valueNames":["product","customer","rating","review","time"],"page":6}'>
                    <div class="row align-items-end justify-content-between pb-5 g-3">
                        <div class="col-auto">
                            <h3>Latest Sales</h3>
                            <p class="text-700 lh-sm mb-0">Latest sales across all Stores</p>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="row g-2 gy-3">
                                <div class="col-auto flex-1">
                                    <div class="search-box">
                                        <form class="position-relative" data-bs-display="static"
                                              data-bs-toggle="search">
                                            <input aria-label="Search"
                                                   class="form-control search-input search form-control-sm"
                                                   placeholder="Search" type="search"/>
                                            <span class="fas fa-search search-box-icon"></span>

                                        </form>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-sm btn-phoenix-secondary bg-white hover-bg-100 me-2"
                                       href="{% url 'all_orders' %}"
                                       type="button">View All Sales
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mx-n1 px-1 scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200">
                            <thead>
                            <tr>
                                <th class="white-space-nowrap fs--1 ps-0 align-middle">
                                    <div class="form-check mb-0 fs-0">
                                        <!--                                        <input class="form-check-input" type="checkbox"/>-->
                                    </div>
                                </th>
                                <th class="sort white-space-nowrap align-middle" scope="col"></th>
                                <th class="sort white-space-nowrap align-middle" data-sort="product" scope="col"
                                    style="min-width:360px;">PRODUCT
                                </th>
                                <th class="sort align-middle" data-sort="customer" scope="col" style="min-width:200px;">
                                    CUSTOMER
                                </th>
                                <th class="sort align-middle" data-sort="rating" scope="col" style="min-width:110px;">
                                    STORE
                                </th>
                                <!--                                <th class="sort align-middle" scope="col" style="max-width:350px;" data-sort="review">-->
                                <!--                                    REVIEW-->
                                <!--                                </th>-->
                                <th class="sort text-start ps-5 align-middle" data-sort="status" scope="col">STATUS</th>
                                <th class="sort text-end align-middle" data-sort="time" scope="col">TIME</th>
                                <th class="sort text-end pe-0 align-middle" scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="table-latest-review-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="fs--1 align-middle ps-0">
                                    <div class="form-check mb-0 fs-0">
                                        <!--                                        <input class="form-check-input" type="checkbox"/>-->
                                    </div>
                                </td>
                                <td class="align-middle product white-space-nowrap py-0">
                                    <div class="rounded-2 border"><img alt=""
                                                                       src="{% static 'img/products/1.png' %}"
                                                                       width="53"/></div>
                                </td>
                                <td class="align-middle product white-space-nowrap"><a class="fw-semi-bold"
                                                                                       href="apps/e-commerce/landing/product-details.html">
                                    INDOLENS - Grey Metallic spects </a></td>
                                <td class="align-middle customer white-space-nowrap"><a
                                        class="d-flex align-items-center" href="#!">
                                    <div class="avatar avatar-l">
                                        <div class="avatar-name rounded-circle"><span>J</span></div>
                                    </div>
                                    <h6 class="mb-0 ms-3 text-900">John Doe</h6>
                                </a></td>
                                <td class="align-middle customer white-space-nowrap">
                                    <h6 class="mb-0 ms-3 text-900">Nelamangala store</h6>
                                </td>

                                <td class="align-middle text-start ps-5 status"><span
                                        class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                        class="badge-label">Delivered</span><span class="ms-1" data-feather="check"
                                                                                  style="height:12.8px;width:12.8px;"></span></span>
                                </td>
                                <td class="align-middle text-end time white-space-nowrap">
                                    <div class="hover-hide">
                                        <h6 class="text-1000 mb-0">Just now</h6>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap text-end pe-0">
                                    <div class="position-relative">
                                        <div class="hover-actions">
                                            <button class="btn btn-sm btn-phoenix-secondary me-1 fs--2"><span
                                                    class="fas fa-check"></span></button>
                                            <button class="btn btn-sm btn-phoenix-secondary fs--2"><span
                                                    class="fas fa-trash"></span></button>
                                        </div>
                                    </div>
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                                                             href="#!">View</a><a
                                                class="dropdown-item" href="#!">Export</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#!">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center py-1">
                        <div class="pagination d-none"></div>
                        <div class="col d-flex fs--1">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less</a>
                        </div>
                        <div class="col-auto d-flex">

                            <button class="btn btn-link px-1 me-1" data-list-pagination="prev" title="Previous"
                                    type="button"><span class="fas fa-chevron-left me-2"></span>Previous
                            </button>
                            <button class="btn btn-link px-1 ms-1" data-list-pagination="next" title="Next"
                                    type="button">Next<span class="fas fa-chevron-right ms-2"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendors/chart/chart.min.js' %}"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6O2CG9zBAksJH4SCgCZlbx3XRWVwzY1E&callback=revenueMapInit"></script>
<script src="{% static 'js/ecommerce-dashboard.js' %}"></script>

</body>

</html>