<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Create Marketing Head</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- Favicon and Manifest -->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <!-- JavaScript Dependencies -->
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }








    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">

            <h2 class="mb-4">Edit Marketing Head</h2>
            <div class="row mb-4">
                <div class="col-xl-9">
                    <form action="/admin/lol" class="row g-3 needs-validation" method="post" novalidate="">
                        <div class="dz-preview-cover d-flex align-items-center justify-content-center mb-2 mb-md-0">
                            <div class="avatar avatar-4xl"><img alt="..."
                                                                class="rounded-circle avatar-placeholder"
                                                                data-dz-thumbnail="data-dz-thumbnail" id="previewImage"
                                                                src="/static/img/team/avatar.png"/></div>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" for="profilePic">Upload profile pic</label>
                            <input accept="image/*" class="form-control" id="profilePic" name="profilePic" required
                                   type="file"/>
                        </div>

                        <div class="col-md-6">

                            <label class="form-label" for="storeName">Name</label>

                            <input class="form-control" id="storeName" name="storeName" required="" type="text"
                                   value=""/>
                            <div class="invalid-feedback">Please provide a valid Name.</div>
                        </div>
                        <div class="col-md-6">

                            <label class="form-label" for="storeDisplayName">Email</label>

                            <input class="form-control" id="storeDisplayName" name="storeDisplayName" required=""
                                   type="text" value=""/>
                            <div class="invalid-feedback">Please provide a valid store display name.</div>
                        </div>

                        <div class="col-md-6">

                            <label class="form-label" for="storePhone">Phone</label>

                            <input class="form-control" id="storePhone" name="storePhone" required="" type="text"
                                   value=""/>
                            <div class="invalid-feedback">Please provide a valid phone number.</div>
                        </div>
                        <div class="col-md-6">

                            <label class="form-label" for="storeGSTIN">Password</label>

                            <input class="form-control" id="storeGSTIN" name="storeGSTIN" required="" type="text"
                                   value=""/>
                            <div class="invalid-feedback">Please provide a valid Password.</div>
                        </div>

                        <div class="col-md-12">

                            <label class="form-label" for="storeGSTIN">Confirm Password</label>

                            <input class="form-control" id="confirmPassword" name="storeGSTIN" required="" type="text"
                                   value=""/>
                            <div class="invalid-feedback">Please provide a valid Password.</div>
                        </div>

                        <div class="col-12">

                            <label class="form-label" for="completeAddress">Complete Address</label>

                            <textarea class="form-control" id="completeAddress" name="completeAddress" required
                                      rows="3"> </textarea>
                            <div class="invalid-feedback">Please provide a valid address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="document1">Document 1 Type</label>
                            <select aria-label="Default select example" class="form-select">
                                <option selected="">Open this select menu</option>
                                <option value="1">Aadhar</option>
                                <option value="2">Driving Licence</option>
                                <option value="3">Ration Card</option>
                                <option value="3">Voter Id</option>
                            </select>
                        </div>
                        <div class="mb-3">

                            <label class="form-label" for="document1">Document 1 Upload (Can choose
                                multiple)</label>

                            <input class="form-control" id="document1" multiple="multiple" type="file"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="document1">Document 2 Type</label>

                            <select aria-label="Default select example" class="form-select">
                                <option selected="">Open this select menu</option>
                                <option value="1">Pan Card</option>
                            </select>
                        </div>
                        <div class="mb-3">

                            <label class="form-label" for="document2">Document 2 Upload (Can choose
                                multiple)</label>

                            <input class="form-control" id="document2" multiple="multiple" type="file"/>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {% include 'footer.html' %}

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'vendors/dropzone/dropzone.min.js' %}"></script>

</body>

</html>