<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage Own Stores</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }

    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">
            <div class="mb-9">
                <div data-list='{"valueNames":["slno","storeName","displayName","storeAdmin","date","city","status","action"],"page":20,"pagination":true}'
                     id="ownStoresList">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Own Stores<span
                                    class="fw-normal text-700 ms-3">({{own_store_list|length}})</span></h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">
                        <div class="mb-1">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="search-box">
                                        <form class="position-relative" data-bs-display="static"
                                              data-bs-toggle="search">
                                            <input aria-label="Search" class="form-control search-input search"
                                                   placeholder="Search" type="search"/>
                                            <span class="fas fa-search search-box-icon"></span>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                                    <div class="btn-group position-static" role="group">
                                        <div class="btn-group position-static text-nowrap">
                                            <button id="sortStatus" aria-expanded="false"
                                                    aria-haspopup="true"
                                                    class="btn btn-phoenix-secondary px-7 flex-shrink-0"
                                                    data-boundary="window"
                                                    data-bs-reference="parent" data-bs-toggle="dropdown"
                                                    type="button">{{status}}<span class="fas fa-angle-down ms-2"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'manage_own_stores' 'All' %}">All</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider"/>
                                                </li>
                                                <li><a class="dropdown-item text-success"
                                                       href="{% url 'manage_own_stores' 'Active' %}">Active Only</a>
                                                </li>
                                                <li><a class="dropdown-item text-danger"
                                                       href="{% url 'manage_own_stores' 'Inactive' %}">Inactive Only</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="btn btn-primary px-5"
                                                         href="{% url 'create_own_store' %}"><i
                                        class="fa-solid fa-plus me-2"></i>Add Own Store</a></div>
                                <div class="col-auto">
                                    <button id="btnExport" class="btn btn-link text-900 me-4 px-0"><span
                                            class="fa-solid fa-file-export fs--1 me-2"></span>Export
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200" id="myTable">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="slno"
                                    scope="col">SL NO
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="storeName"
                                    scope="col">STORE NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="displayName" scope="col">
                                    DISPLAY NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="storeAdmin" scope="col">
                                    STORE MANAGER
                                </th>
                                <th class="sort align-middle ps-3" data-sort="date" scope="col">
                                    CREATED DATE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="city" scope="col">
                                    CITY
                                </th>
                                <th class="sort align-middle ps-3" data-sort="status" scope="col">STATUS
                                </th>


                                <th class="sort align-middle ps-3"  scope="col">ACTION
                                </th>
                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for store in own_store_list %}
                            <tr class="position-static">
                                <td class="order align-middle white-space-nowrap py-0 slno"></td>
                                <td class="align-middle time white-space-nowrap ps-0 storeName py-4"><a
                                        class="text-decoration-none fw-bold fs-0"
                                        href="{% url 'view_own_store' store.os_store_id %}">{{store.os_store_name}}</a>
                                </td>

                                <td class="align-middle white-space-nowrap displayName ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">{{store.os_store_display_name}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap storeAdmin ">
                                    {% if store.ose_name != None %}
                                    <a class="text-decoration-none fw-bold fs-0"
                                       href="{% url 'view_store_manager' store.ose_employee_id %}">{{store.ose_name}}</a>
                                    {% else %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-danger">UNASSIGNED</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle white-space-nowrap date ps-3 py-4 date">
                                    <p class="mb-0 fs--1 text-900">{{store.os_created_on|date:"d/m/Y h:i A"}}</p>
                                </td>
                                <td class="align-middle white-space-nowrap task ps-3 py-4 city">
                                    <p class="fw-bo text-900 fs--1 mb-0">{{store.os_store_city}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap text-center status">
                                    {% if store.os_status == 0 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-danger">InActive</span>
                                    {% elif store.os_status == 1 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-success">Active</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false" aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window" data-bs-reference="parent"
                                                data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end py-2">
                                            <a class="dropdown-item"
                                               href="{% url 'view_own_store' store.os_store_id %}">View</a>
                                            <a class="dropdown-item"
                                               href="{% url 'edit_own_store' store.os_store_id %}">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            {% if store.os_status == 0 %}
                                            <a class="dropdown-item text-success" type="button" data-bs-role="Own Store"
                                               data-bs-toggle="modal" data-bs-target="#operations_modal"
                                               data-employee-id="{{ store.os_store_id }}"
                                               data-employee-name="{{ store.os_store_name }}" data-action-type="enable"
                                               data-action-url="{% url 'enable_disable_own_store' store.os_store_id 1 status %}">Make
                                                Active</a>
                                            {% elif store.os_status == 1 %}
                                            <a class="dropdown-item text-danger" type="button" data-bs-role="Own Store"
                                               data-bs-toggle="modal" data-bs-target="#operations_modal"
                                               data-employee-id="{{ store.os_store_id }}"
                                               data-employee-name="{{ store.os_store_name }}" data-action-type="disable"
                                               data-action-url="{% url 'enable_disable_own_store' store.os_store_id 0 status %}">Make
                                                Inactive</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
                {% include 'modal_warning.html' %}
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }

    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/csvExport.js' %}"></script>
<script src="{% static 'js/custom_modals.js' %}"></script>
</body>

</html>