<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - View Own Stores</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/dhtmlx-gantt/dhtmlxgantt.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }




    








    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        {% for store in store_data %}
        <div class="content">
            <div class="row gy-3 mb-3 justify-content-between">
                <div class="col-md-9 col-auto">
                    <h2 class="mb-2 text-1100">{{store.store_display_name}} - {{store.store_name}}</h2>
                    <h5 class="text-700 fw-semi-bold mb-3 mt-3"><b>Address: </b>{{store.store_address}}</h5>
                    <!--                    <h5 class="text-700 fw-semi-bold">Here’s what’s going on at this store right now</h5>-->
                </div>
                <!--                <div class="col-md-3 col-auto">-->
                <!--                    <div class="flatpickr-input-container">-->
                <!--                        <input class="form-control ps-6 datetimepicker"-->
                <!--                               data-options='{"dateFormat":"M j, Y","disableMobile":true,"defaultDate":"Mar 1, 2022"}'-->
                <!--                               id="datepicker"-->
                <!--                               type="text"/><span-->
                <!--                            class="uil uil-calendar-alt flatpickr-icon text-700"></span>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

            <div class="col-12 col-xxl-2">
                <div class="row align-items-center g-3 g-xxl-0 h-100 align-content-between">
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                        <span
                                                class="fs-1 fw-semi-bold text-900">{{store.store_gst}}</span>
                                </div>
                                <p class="text-800 fs--1 mb-0">Store GSTIN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <a href="{% url 'view_sub_admin' 1 %}" class="fs-1 fw-semi-bold ">
                                        {{store.creator}}</a>
                                </div>
                                <p class="text-800 fs--1 mb-0">Created By </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <span class="fs-1 fw-semi-bold text-900">{{store.created_on}}</span>
                                </div>
                                <p class="text-800 fs--1 mb-0">Created On</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <a href="{% url 'view_sub_admin' 1 %}"
                                       class="fs-1 fw-semi-bold ">{{store.updater}}</a>
                                </div>
                                <p class="text-800 fs--1 mb-0">Updated By</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <span class="fs-1 fw-semi-bold text-900">{{store.last_updated_on}}</span>
                                </div>
                                <p class="text-800 fs--1 mb-0">Updated On</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <span class="fs-1 fw-semi-bold text-900">{{store.store_phone}}</span>
                                </div>
                                <p class="text-800 fs--1 mb-0">Store Phone</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <div class="d-flex align-items-end">
                                    <span class="fs-1 fw-semi-bold text-900">{{store.store_email}}</span>
                                </div>
                                <p class="text-800 fs--1 mb-0">Store Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 mt-3 gy-6">
                <div class="col-12 col-xxl-2">
                    <div class="row align-items-center g-3 g-xxl-0 h-100 align-content-between">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                            <div class="d-flex align-items-center"><span
                                    class="fs-4 lh-1 uil uil-books text-primary-500"></span>
                                <div class="ms-2">
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 me-2">{{sales_data|length}}</h2><span
                                            class="fs-1 fw-semi-bold text-900">Sales</span>
                                    </div>
                                    <p class="text-800 fs--1 mb-0">Sales completed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                            <div class="d-flex align-items-center"><span
                                    class="fs-4 lh-1 uil uil-users-alt text-success-500"></span>
                                <div class="ms-2">
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 me-2">{{total_employee_count}}</h2><span
                                            class="fs-1 fw-semi-bold text-900">Members</span>
                                    </div>
                                    <p class="text-800 fs--1 mb-0">Working hard</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                            <div class="d-flex align-items-center"><span
                                    class="fs-4 lh-1 uil uil-invoice text-warning-500"></span>
                                <div class="ms-2">
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 me-2">{{total_customer_count}}</h2><span
                                            class="fs-1 fw-semi-bold text-900">Customers</span>
                                    </div>
                                    <p class="text-800 fs--1 mb-0">Served till now</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                            <div class="d-flex align-items-center"><span
                                    class="fs-4 lh-1 uil uil-refresh text-danger-500"></span>
                                <div class="ms-2">
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 me-2">₹{{revenue_generated}}</h2><span
                                            class="fs-1 fw-semi-bold text-900"></span>
                                    </div>
                                    <p class="text-800 fs--1 mb-0">Revenue generated</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-xl-12 col-xxl-5">
                    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 pb-3 border-y border-300">
                        <div class="row">
                            <div class="col-12 col-xl-6 col-xxl-6">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2" class="text-1100 text-nowrap">Economics</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2" class="text-700 mb-md-7">Analytics of this store
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mb-0 fw-bold">Type</td>
                                        <td class="mb-0 fw-bold">Amount</td>
                                    </tr>
                                    <tr>
                                        <td class="mb-0 fw-semi-bold text-900">
                                            <img alt="" height="8" src="../assets/img/icons/green.png"/>
                                            Sales
                                        </td>
                                        <td style="color:green">₹{{revenue_generated}}</td>
                                    </tr>
                                    <tr>
                                        <td class="mb-0 fw-semi-bold text-900">
                                            <img alt="" height="8" src="../assets/img/icons/blue.png"/>
                                            Expenses
                                        </td>
                                        <td style="color:red">₹{{store_expense}}</td>
                                    </tr>
                                    <tr>
                                        <td class="mb-0 fw-semi-bold text-900">
                                            <img alt="" height="8" src="../assets/img/icons/blue.png"/>
                                            Net Income
                                        </td>
                                        <td style="color:green">₹{{net_income}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="position-relative mb-sm-4 mb-xl-0">
                                    <div class="echart-issue-chart" style="min-height:390px;width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-1">
                    <div class="row g-3 mb-4">
                        <div class="col-auto">
                            <h2 class="mb-0">Products ({{products_list|length}})</h2>
                        </div>
                    </div>
                    <div data-list='{"valueNames":["product","price","category","brand","inStock","publishedOn"],"page":10,"pagination":true}'
                         id="products">
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="search-box">
                                        <form class="position-relative" data-bs-display="static"
                                              data-bs-toggle="search">
                                            <input aria-label="Search" class="form-control search-input search"
                                                   placeholder="Search products" type="search"/>
                                            <span class="fas fa-search search-box-icon"></span>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <table class="table fs--1 mb-0">
                                    <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle " data-sort="product"
                                            scope="col" style="width:350px;">PRODUCT NAME
                                        </th>
                                        <th class="sort align-middle  " data-sort="price" scope="col"
                                            style="width:150px;">PRICE
                                        </th>
                                        <th class="sort align-middle" data-sort="category" scope="col"
                                            style="width:150px;">CATEGORY
                                        </th>
                                        <th class="sort align-middle " data-sort="brand" scope="col"
                                            style="width:150px;">BRAND
                                        </th>

                                        <th class="sort align-middle " data-sort="inStock" scope="col"
                                            style="width:250px;">IN STOCK
                                        </th>
                                        <th class="sort align-middle " data-sort="publishedOn" scope="col"
                                            style="width:50px;">PUBLISHED ON
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="products-table-body">
                                    {% for stock in products_list %}
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                        data-category="{{ stock.category_name }}">

                                        <td class="product align-middle "><a
                                                class="fw-semi-bold line-clamp-3 mb-0"
                                                href="{% url 'view_products' stock.product_id %}">
                                            {{stock.product_name}}</a>
                                        </td>
                                        <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                            ₹{{stock.sale_price}}
                                        </td>
                                        <td class="category align-middle white-space-nowrap text-600 fs--1  fw-semi-bold">
                                            {{stock.category_name}}
                                        </td>
                                        <td class="brand align-middle white-space-nowrap text-600 fs--1  fw-semi-bold">
                                            {{stock.brand_name}}
                                        </td>

                                        <td class="inStock align-middle white-space-nowrap  fw-bold text-700 ">
                                            {% if stock.store_product_quantity == None%}
                                            0
                                            {% else %}
                                            {{stock.store_product_quantity}}
                                            {% endif %}
                                        </td>

                                        <td class="publishedOn align-middle white-space-nowrap text-600 ">
                                            {{stock.store_product_created_on}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                                <div class="col-auto d-flex">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                       data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*"
                                                                              href="#!">View all<span
                                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                        class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                                </div>
                                <div class="col-auto d-flex">
                                    <button class="page-link" data-list-pagination="prev"><span
                                            class="fas fa-chevron-left"></span></button>
                                    <ul class="mb-0 pagination"></ul>
                                    <button class="page-link pe-0" data-list-pagination="next"><span
                                            class="fas fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 border-y border-300">
                        <div data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","createdby","created_on","updated_by","updated_on","date"],"page":6}'>
                            <div class="row align-items-end justify-content-between pb-5 g-3">
                                <div class="col-auto">
                                    <h3>Sales ({{sales_data|length}}) </h3>
                                    <p class="text-700 lh-sm mb-0">sales in this Store</p>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <div class="row g-2 gy-3">
                                        <div class="col-auto flex-1">
                                            <div class="search-box">
                                                <form class="position-relative" data-bs-display="static"
                                                      data-bs-toggle="search">
                                                    <input aria-label="Search"
                                                           class="form-control search-input search form-control-sm"
                                                           placeholder="Search" type="search"/>
                                                    <span class="fas fa-search search-box-icon"></span>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mx-n1 px-1 scrollbar">
                                <table class="table table-sm fs--1 mb-0">
                                    <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle pe-3" data-sort="order"
                                            scope="col"
                                            style="width:5%;">ORDER ID
                                        </th>
                                        <th class="sort align-middle " data-sort="total" scope="col"
                                            style="width:6%;">TOTAL
                                        </th>
                                        <th class="sort align-middle ps-8" data-sort="customer" scope="col"
                                            style="width:28%; min-width: 250px;">CUSTOMER
                                        </th>
                                        <th class="sort align-middle pe-3" data-sort="payment_status" scope="col"
                                            style="width:10%;">PAYMENT STATUS
                                        </th>
                                        <th class="sort align-middle text-start pe-3" data-sort="fulfilment_status"
                                            scope="col" style="width:12%; min-width: 200px;">ORDER
                                            STATUS
                                        </th>
                                        <th class="sort align-middle text-start" data-sort="createdby" scope="col"
                                            style="width:30%;">CREATED BY
                                        </th>
                                        <th class="sort align-middle text-start" data-sort="created_on" scope="col"
                                            style="width:30%;">CREATED ON
                                        </th>
                                        <th class="sort align-middle text-start" data-sort="updated_by" scope="col"
                                            style="width:30%;">UPDATED BY
                                        </th>
                                        <th class="sort align-middle text-start" data-sort="updated_on" scope="col"
                                            style="width:30%;">UPDATED ON
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody class="list" id="order-table-body">
                                    {% for order in sales_data %}
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                        data-category="{{ order.order_status }}">
                                        <td class="order align-middle white-space-nowrap py-0"><a class="fw-semi-bold"
                                                                                                  href="{% url 'order_details' order.order_id %}">#{{order.order_id}}</a>
                                        </td>
                                        <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                            ₹{{order.total_cost}}
                                        </td>
                                        <td class="customer align-middle white-space-nowrap ps-8">
                                            <a class="d-flex align-items-center"
                                               href="{% url 'customer_details' order.customer_id %}">
                                                <div class="avatar avatar-m">
                                                    <div class="avatar-name rounded-circle">
                                                        <span>{{order.customer_name.0}}</span></div>
                                                </div>
                                                <h6 class="mb-0 ms-3 text-900">{{order.customer_name}}</h6>
                                            </a>
                                        </td>
                                        <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                            {% if order.payment_status == 1 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                    class="badge-label">PENDING</span><span class="ms-1"
                                                                                            data-feather="check"
                                                                                            style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.payment_status == 2 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                    class="badge-label">COMPLETE</span><span class="ms-1"
                                                                                             data-feather="check"
                                                                                             style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.payment_status == 3 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-warning"><span
                                                    class="badge-label">REFUNDED</span><span class="ms-1"
                                                                                             data-feather="check"
                                                                                             style="height:12.8px;width:12.8px;"></span></span>
                                            {% endif %}
                                        </td>
                                        <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                            {% if order.order_status == 1 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                    class="badge-label">NEW</span><span class="ms-1"
                                                                                        data-feather="check"
                                                                                        style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 2 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                    class="badge-label">PROCESSING</span><span class="ms-1"
                                                                                               data-feather="check"
                                                                                               style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 3 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                    class="badge-label">READY</span><span class="ms-1"
                                                                                          data-feather="check"
                                                                                          style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 4 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                    class="badge-label">DISPATCHED</span><span class="ms-1"
                                                                                               data-feather="check"
                                                                                               style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 5 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                    class="badge-label">DELIVERED STORE</span><span class="ms-1"
                                                                                                    data-feather="check"
                                                                                                    style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 6 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                    class="badge-label">DELIVERED CUSTOMER</span><span class="ms-1"
                                                                                              data-feather="check"
                                                                                              style="height:12.8px;width:12.8px;"></span></span>
                                            {% elif order.order_status == 7 %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                    class="badge-label">CANCELLED</span><span class="ms-1"
                                                                                              data-feather="check"
                                                                                              style="height:12.8px;width:12.8px;"></span></span>
                                            {% endif %}

                                        </td>
                                        <td class="createdby align-middle white-space-nowrap text-900 fs--1 text-start">
                                            <a href="{% url 'view_order_creator' order.created_by order.created_by_store_type %}">{{order.creator_name}}</a>
                                        </td>
                                        <td class="created_on align-middle white-space-nowrap text-700 fs--1  ">
                                            {{order.created_on}}
                                        </td>
                                        <td class="updated_by align-middle white-space-nowrap text-900 fs--1 text-start">
                                            <a href="{% url 'view_order_creator' order.updated_by order.created_by_store_type %}">
                                                {{order.updater_name}} </a>
                                        </td>
                                        <td class="updated_on align-middle white-space-nowrap text-700 fs--1  ">
                                            {{order.updated_on}}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center py-1">
                                <div class="pagination d-none"></div>
                                <div class="col d-flex fs--1">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                       data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*"
                                                                              href="#!">View
                                    all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                        class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less</a>
                                </div>
                                <div class="col-auto d-flex">

                                    <button class="btn btn-link px-1 me-1" data-list-pagination="prev" title="Previous"
                                            type="button"><span class="fas fa-chevron-left me-2"></span>Previous
                                    </button>
                                    <button class="btn btn-link px-1 ms-1" data-list-pagination="next" title="Next"
                                            type="button">Next<span
                                            class="fas fa-chevron-right ms-2"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 border-y border-300">
                        <div data-list='{"valueNames":["id","reason","amount","date","createdBy","createdOn"],"page":6}'>
                            <div class="row align-items-end justify-content-between pb-5 g-3">
                                <div class="col-auto">
                                    <h3>Expense ({{store_expense_list|length}}) </h3>
                                    <p class="text-700 lh-sm mb-0">expense in this Store</p>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <div class="row g-2 gy-3">
                                        <div class="col-auto flex-1">
                                            <div class="search-box">
                                                <form class="position-relative" data-bs-display="static"
                                                      data-bs-toggle="search">
                                                    <input aria-label="Search"
                                                           class="form-control search-input search form-control-sm"
                                                           placeholder="Search" type="search"/>
                                                    <span class="fas fa-search search-box-icon"></span>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mx-n1 px-1 scrollbar">
                                <table class="table table-sm fs--1 mb-0">
                                    <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle pe-3" data-sort="id"
                                            scope="col"
                                            style="width:10%;">EXPENSE ID
                                        </th>
                                        <th class="sort align-middle" data-sort="reason" scope="col"
                                            style="width:20%;">REASON
                                        </th>
                                        <th class="sort align-middle" data-sort="amount" scope="col"
                                            style="width:20%;">AMOUNT
                                        </th>
                                        <th class="sort align-middle pe-3" data-sort="date" scope="col"
                                            style="width:15%;">DATE
                                        </th>
                                        <th class="sort align-middle text-start pe-3" data-sort="createdBy"
                                            scope="col" style="width:20%;">CREATED BY
                                        </th>
                                        <th class="sort align-middle text-start" data-sort="createdOn" scope="col"
                                            style="width:20%;">CREATED ON
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="oexpense-table-body">
                                    {% for expense in store_expense_list %}
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                        data-category="{{ order.order_status }}">
                                        <td class="id align-middle white-space-nowrap py-0">
                                            #{{expense.store_expense_id}}</a>
                                        </td>
                                        <td class="reason align-middle fw-semi-bold text-1000">
                                            {{expense.expense_reason}}
                                        </td>
                                        <td class="amount align-middle fw-semi-bold text-1000">
                                            ₹{{expense.expense_amount}}
                                        </td>
                                        <td class="date align-middle fw-semi-bold text-1000">
                                            {{expense.expense_date}}
                                        </td>
                                        <td class="createdBy align-middle fw-semi-bold text-1000">
                                            <a href="{% url 'view_order_creator' expense.created_by expense.store_type %}">
                                                {{expense.creator_name}}</a>
                                        </td>
                                        <td class="createdOn align-middle fw-semi-bold text-1000">
                                            {{expense.created_on}}
                                        </td>

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center py-1">
                                <div class="pagination d-none"></div>
                                <div class="col d-flex fs--1">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                       data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*"
                                                                              href="#!">View
                                    all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                        class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less</a>
                                </div>
                                <div class="col-auto d-flex">

                                    <button class="btn btn-link px-1 me-1" data-list-pagination="prev" title="Previous"
                                            type="button"><span class="fas fa-chevron-left me-2"></span>Previous
                                    </button>
                                    <button class="btn btn-link px-1 ms-1" data-list-pagination="next" title="Next"
                                            type="button">Next<span
                                            class="fas fa-chevron-right ms-2"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% include 'footer.html' %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }




    








    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendors/dhtmlx-gantt/dhtmlxgantt.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<!--<script src="{% static 'js/projectmanagement-dashboard.js' %}"></script>-->
<script src="{% static 'js/csvExport.js' %}"></script>

<script src="{% static 'js/breadcrumbs.js' %}"></script>

<script>
      const { merge } = window._;

  // form config.js
  const echartSetOption = (chart, userOptions, getDefaultOptions) => {
    const themeController = document.body;
    // Merge user options with lodash
    chart.setOption(merge(getDefaultOptions(), userOptions));

    themeController.addEventListener(
      'clickControl',
      ({ detail: { control } }) => {
        if (control === 'phoenixTheme') {
          chart.setOption(window._.merge(getDefaultOptions(), userOptions));
        }
      }
    );
  };

</script>
<script>
    const { getColor, getData, resize } = window.phoenix.utils;
    const issuesDiscoveredChartEl = document.querySelector('.echart-issue-chart');

    const userOptions = getData(issuesDiscoveredChartEl, 'echarts');
      const chart = window.echarts.init(issuesDiscoveredChartEl);

      const getDefaultOptions = () => ({
        color: [
          getColor('info-300'),
          getColor('warning-300'),
          getColor('danger-300'),
          getColor('success-300'),
          getColor('primary')
        ],
        tooltip: {
          trigger: 'item'
        },
        responsive: true,
        maintainAspectRatio: false,

        series: [
          {
<!--            name: 'Tasks assigned to me',-->
            type: 'pie',
            radius: ['48%', '90%'],
            startAngle: 30,
            avoidLabelOverlap: false,
            // label: {
            //   show: false,
            //   position: 'center'
            // },

            label: {
              show: false,
              position: 'center',
              formatter: '{x|{d}%} \n {y|{b}}',
              rich: {
                x: {
                  fontSize: 31.25,
                  fontWeight: 800,
                  color: getColor('gray-700'),
                  padding: [0, 0, 5, 15]
                },
                y: {
                  fontSize: 12.8,
                  color: getColor('gray-700'),
                  fontWeight: 600
                }
              }
            },
            emphasis: {
              label: {
                show: true
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: {{store_expense}}, name: 'Expenses' },
              { value: {{net_income}}, name: 'Net income' },
            ]
          }
        ],
        grid: {
          bottom: 0,
          top: 0,
          left: 0,
          right: 0,
          containLabel: false
        }
      });

      echartSetOption(chart, userOptions, getDefaultOptions);

      resize(() => {
        chart.resize();
      });

</script>
</body>

</html>