<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Make sale - own store</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/prism/prism-okaidia.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }






































    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar_store.html' %}

        {{customers_list}}
        <div class="content">
            <form id="saleForm">
                <input name="cartData">
                <input name="customerData">
                <input name="billingDetailsData">
            </form>
            <div class="col-12 col-xxl-6">
                <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                    <div class="card-header p-4 border-bottom border-300 bg-soft">
                        <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                                <h4 class="text-900 mb-0" data-anchor="data-anchor">Make a sale</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-4 code-to-copy">
                            <div class="card theme-wizard mb-5" data-theme-wizard="data-theme-wizard">
                                <div class="card-header bg-100 pt-3 pb-2 border-bottom-0">
                                    <ul class="nav justify-content-between nav-wizard">
                                        <li class="nav-item"><a class="nav-link active fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab1"
                                                                data-bs-toggle="tab" data-wizard-step="1">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-shopping-cart"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Products</span></div>
                                        </a></li>

                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab2"
                                                                data-bs-toggle="tab" data-wizard-step="2">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-user"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Customer</span></div>
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab3"
                                                                data-bs-toggle="tab" data-wizard-step="3">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-file-invoice-dollar"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Billing details</span></div>
                                        </a></li>

                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab4"
                                                                data-bs-toggle="tab" data-wizard-step="4">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-eye"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Review</span></div>
                                        </a></li>
                                    </ul>
                                </div>

                                <div class="card-body pt-4 pb-0">
                                    <div class="tab-content">
                                        <!--                            tab 1-->
                                        <div class="tab-pane active" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab1"
                                             id="bootstrap-wizard-validation-tab1">
                                            <form class="needs-validation" id="wizardValidationForm1"
                                                  novalidate="novalidate" data-wizard-form="1">
                                                <div id="products_container">
                                                    <!-- product card starts here generated dynamically -->
                                                    <!-- product card ends here-->
                                                </div>

                                                <div class="flex-1 text-end">
                                                    <a class="btn btn-primary px-6 px-sm-6"
                                                       onclick="createProductCard()">Add product
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab2"
                                             id="bootstrap-wizard-validation-tab2">
                                            <form class="needs-validation" id="wizardValidationForm2"
                                                  novalidate="novalidate" data-wizard-form="2">
                                                <div class="card-header bg-100 mb-4">
                                                    <h5 class="mb-3">Old customer? Choose from Below</h5>
                                                    <select onchange="updateCustomerFields(this)"
                                                            class="form-select" data-choices="data-choices"
                                                            data-options='{"removeItemButton":true,"placeholder":true}'
                                                            name="product" required="required">
                                                        <option value="">Select Customer</option>
                                                        {% for customer in customers_list %}
                                                        <option value="{{customer.customer_id}}">
                                                            {{customer.phone}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <h5 class="mb-3">New customer? Continue adding them</h5>
                                                    <div id="product_info" class="row g-3 mb-3">
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Name</h5>
                                                            <input class="form-control"
                                                                   name="customer_name"
                                                                   placeholder="Name"
                                                                   required="required"
                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Email</h5>
                                                            <input class="form-control"
                                                                   name="customer_email"
                                                                   placeholder="Email"
                                                                   required="required"
                                                                   type="email" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Phone</h5>
                                                            <input class="form-control"
                                                                   name="customer_phone"
                                                                   placeholder="Phone"
                                                                   required="required"
                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Age</h5>
                                                            <input class="form-control"
                                                                   name="customer_age"
                                                                   placeholder="Age"
                                                                   required="required"
                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Gender</h5>
                                                            <select name="customer_gender" class="form-select"
                                                                    aria-label="Default select example"
                                                                    required="required">
                                                                <option value="" selected>Please select Gender</option>
                                                                <option value="M">Male</option>
                                                                <option value="F">Female</option>
                                                                <option value="Others">Others</option>
                                                            </select>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">City</h5>
                                                            <input class="form-control"
                                                                   name="customer_city"
                                                                   placeholder="City"
                                                                   required="required"
                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-12">
                                                            <h5 class="mb-3">Language</h5>
                                                            <select name="customer_language" class="form-select"
                                                                    aria-label="Default select example"
                                                                    required="required">
                                                                <option value="" selected="selected">Please select
                                                                    Language
                                                                </option>
                                                                <option value="English">English</option>
                                                                <option value="Kannada">Kannada</option>
                                                                <option value="Hindi">Hindi</option>
                                                                <option value="Tamil">Tamil</option>
                                                                <option value="Telugu">Telugu</option>
                                                                <option value="Malayalam">Malayalam</option>
                                                                <option value="Marathi">Marathi</option>
                                                                <option value="Gujarati">Gujarati</option>
                                                            </select>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-12">
                                                            <h5 class="mb-3">Customer Address</h5>
                                                            <textarea name="customer_address" class="form-control"
                                                                      rows="3" required="required"></textarea>
                                                        </div>


                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab3"
                                             id="bootstrap-wizard-validation-tab3">
                                            <form class="mb-2 needs-validation" id="wizardValidationForm3"
                                                  novalidate="novalidate" data-wizard-form="3">
                                                <h1>2</h1>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab4"
                                             id="bootstrap-wizard-validation-tab4">
                                            <div class="row flex-center pb-8 pt-4 gx-3 gy-4">
                                                <div class="col-12 col-sm-auto">
                                                    <div class="text-center text-sm-start"><img class="d-dark-none"
                                                                                                src="../../assets/img/spot-illustrations/34.png"
                                                                                                alt="" width="220"/><img
                                                            class="d-light-none"
                                                            src="../../assets/img/spot-illustrations/dark_34.png" alt=""
                                                            width="220"/></div>
                                                </div>
                                                <div class="col-12 col-sm-auto">
                                                    <div class="text-center text-sm-start">
                                                        <h5 class="mb-3">You are all set!</h5>
                                                        <p class="text-1100 fs--1">Now you can access your account<br/>anytime
                                                            anywhere</p><a class="btn btn-primary px-6"
                                                                           href="../../modules/forms/wizard.html">Start
                                                        Over</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer border-top-0" data-wizard-footer="data-wizard-footer">
                                    <div class="d-flex pager wizard list-inline mb-0">
                                        <button class="d-none btn btn-link ps-0" type="button"
                                                data-wizard-prev-btn="data-wizard-prev-btn"><span
                                                class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span>Previous
                                        </button>
                                        <div class="flex-1 text-end">
                                            <button class="btn btn-primary px-6 px-sm-6" type="submit"
                                                    data-wizard-next-btn="data-wizard-next-btn">Next<span
                                                    class="fas fa-chevron-right ms-1"
                                                    data-fa-transform="shrink-3"> </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}

        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }



    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/prism/prism.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
{# Include the JSON-encoded stocks_list data #}
{{ stocks_list|json_script:"stocksList" }}


{# Include the JSON-encoded stocks_list data #}
{{ customers_list|json_script:"customersList" }}

<script>

let productCardCount = 1;
var stocks_list = JSON.parse(document.getElementById('stocksList').textContent);
createProductCard();
function createProductCard() {
    // Create a new product card element
    let productCard = document.createElement("div");
    productCard.classList.add("product_widget", "card-header", "bg-100", "mb-4");

    // Build the product card structure dynamically
    productCard.innerHTML = `
         <div class="col text-end">
              <a type="button" class="text-danger" onclick="removeProductCard(this)">
                Remove <i class="fas fa-trash"></i>
              </a>
         </div>
        <div class="mb2 col-12">
          <h5 class="mb-3">Select Product</h5>
          <select onchange="updateProductFields(this, ${productCardCount})"
            class="form-select" data-choices="data-choices"
            data-options='{"removeItemButton":true,"placeholder":true}'
            name="product" required="required">
            <option value="">Select product</option>
            <!-- Populate options dynamically, e.g., from stocks_list -->
            {% for product in stocks_list %}
            <option value="{{product.product_id}}">{{product.product_name}}</option>
            {% endfor %}
          </select>
          <div class="custom-error" style="color: red;"></div>
        </div>
        <div id="product_info" class="row g-3 mb-3">
          <div class="mb2 col-4">
            <h5 class="mb-3">Product Category</h5>
            <input class="form-control" name="product_category[${productCardCount}]"
              placeholder="Category"
              required="required"
              type="text" value="" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="mb2 col-4">
            <h5 class="mb-3">Product Brand</h5>
            <input class="form-control" name="product_brand[${productCardCount}]"
              placeholder="Brand"
              required="required"
              type="text" value="" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <!-- Add the rest of your product card HTML structure here -->
          <div class="mb2 col-4">
            <h5 class="mb-3">Product HSN</h5>
            <input class="form-control" name="product_hsn[${productCardCount}]"
              placeholder="HSN"
              required="required"
              type="text" value="" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="mb2 col-6">
            <h5 class="mb-3">Available Quantity</h5>
            <input class="form-control" name="available_qty[${productCardCount}]"
              placeholder="Available Quantity"
              required="required"
              type="text" value="" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="mb2 col-6">
            <h5 class="mb-3">Unit Price</h5>
            <input class="form-control" name="unit_price[${productCardCount}]"
              placeholder="Unit Price"
              required="required"
              type="text" value="" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="mb2 col-6">
            <h5 class="mb-3">Purchase Quantity</h5>
            <input class="form-control" name="purchase_qty[${productCardCount}]"
              placeholder="Purchase quantity"
              required="required"
              type="number"
              min="1"
              type="text" value=""/>
            <div class="invalid-feedback">This field should be 1 in minimum and should be less than available quantity.</div>
          </div>
          <div class="mb2 col-6">
            <h5 class="mb-3">Product Total</h5>
            <input class="form-control" name="product_total[${productCardCount}]"
              placeholder="Product Total"
              required="required"
              type="text" value="0" readonly/>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div id="discount_check_div[${productCardCount}]" class="form-check" style="display:none">
                 <input  id="discount_value_field[${productCardCount}]" type="hidden" name="discount_percentage[${productCardCount}]" required="required" readonly/>
                 <input class="form-check-input" type="checkbox" name="discount_checked[${productCardCount}]" id="bootstrap-wizard-validation-wizard-checkbox" />
                 <label id="discount_value[${productCardCount}]" class="form-check-label text-900" for="bootstrap-wizard-validation-wizard-checkbox"></label>
          </div>
        </div>
      `;

    // Append the product card to the products container
    document.querySelector("#products_container").appendChild(productCard);

    // Optionally, you can now initialize any JavaScript plugins for the new card
    // For example, if you're using Choices.js:
    let choicesInstance = new Choices(productCard.querySelector("[name='product']"), {
        // Pass any necessary options for Choices.js
        removeItemButton: true,
        placeholder: true,
    });

    productCardCount++;
    let jsonData = getFormData();

}

function updateProductFields(selectElement, cardIndex) {
    removePowerBoxes(cardIndex);
    // Update duplicated product categories and brands within the same segment
    let selectedIndex = selectElement.selectedIndex;

    let selectedProduct = stocks_list.find(product => product.product_id == selectElement.value);

    let productCategoryField = document.querySelector(`[name='product_category[${cardIndex}]']`);
    let productBrandField = document.querySelector(`[name='product_brand[${cardIndex}]']`);
    let productSkuField = document.querySelector(`[name='product_hsn[${cardIndex}]']`);
    let productAvailableQtyField = document.querySelector(`[name='available_qty[${cardIndex}]']`);
    let productUnitPriceField = document.querySelector(`[name='unit_price[${cardIndex}]']`);
    let productPurchaseQtyField = document.querySelector(`[name='purchase_qty[${cardIndex}]']`);
    let productProductTotalField = document.querySelector(`[name='product_total[${cardIndex}]']`);
    let productDiscountCheckedField = document.querySelector(`[name='discount_checked[${cardIndex}]']`);
    let discountCheckDiv = document.getElementById('discount_check_div[' + cardIndex + ']');
    let discountValueText = document.getElementById('discount_value[' + cardIndex + ']');
    let discountValueField = document.getElementById('discount_value_field[' + cardIndex + ']');
    let discountCheckbox = document.querySelector(`[name='discount_checked[${cardIndex}]']`);



    productCategoryField.value = selectedProduct.category_name;
    productBrandField.value = selectedProduct.brand_name;
    productSkuField.value = selectedProduct.hsn;
    productAvailableQtyField.value = selectedProduct.product_quantity;
    productUnitPriceField.value = selectedProduct.sale_price;
    productPurchaseQtyField.value = '';
    productPurchaseQtyField.max = selectedProduct.product_quantity;
    productProductTotalField.value = '';

    if (selectedProduct.discount > 0) {
        discountCheckDiv.style.display = 'block';
        discountValueText.innerHTML = '<h5>Discount available !</h5> Apply discount : ' + selectedProduct.discount + '%';
        discountValueField.value = selectedProduct.discount;
    } else {
        discountCheckDiv.style.display = 'none';
    }

    productPurchaseQtyField.addEventListener('input', function () {
        let purchaseQty = parseFloat(productPurchaseQtyField.value) || 0;
        let productTotal;
        if (discountCheckbox.checked) {
            // Apply discount if the checkbox is checked
            let discountPercentage = parseFloat(discountValueField.value) || 0;
            let discountedPrice = selectedProduct.sale_price * (1 - discountPercentage / 100);
            productTotal = purchaseQty * discountedPrice;
        } else {
            // No discount, use the original sale price
            productTotal = purchaseQty * parseFloat(selectedProduct.sale_price) || 0;
        }
        productProductTotalField.value = productTotal.toFixed(2);
        let jsonData = getFormData();
        generatePowerCards(cardIndex, purchaseQty);
    });

    discountCheckbox.addEventListener('change', function () {
        let isChecked = discountCheckbox.checked;
        if (isChecked) {
            let discountPercentage = parseFloat(discountValueField.value) || 0;
            let discountedPrice = selectedProduct.sale_price * (1 - discountPercentage / 100);
            productProductTotalField.value = (discountedPrice * productPurchaseQtyField.value).toFixed(2);
        } else {
            productProductTotalField.value = (selectedProduct.sale_price * productPurchaseQtyField.value).toFixed(2);
            productProductTotalField.innerHTML = '';
        }
        let jsonData = getFormData();

    });
    let jsonData = getFormData();

}
function removeProductCard(removeButton) {
    // Find the parent product card and remove it
    let productCard = removeButton.closest(".product_widget");
    if (productCard) {
        productCard.remove();
    }
    let jsonData = getFormData();
}

function getFormData() {
    let formData = [];
    let cartDataField = document.querySelector(`[name='cartData']`);
    // Iterate through all product cards
    let productCards = document.querySelectorAll('.product_widget');
    productCards.forEach((productCard, index) => {
        let productData = {};

        // Iterate through all form elements within the product card
        let formElements = productCard.querySelectorAll('input, select');
        formElements.forEach((element) => {
            let key = element.name;
            let value = element.value;

         
            if (element.name.startsWith('power[')) {
                // Handle power checkboxes separately
                if (element.checked) {
                    // Add power value only if the checkbox is checked
                    productData[key] = value;
                }
            } else {
                // Handle other form elements
                if (key !== undefined && key !== null && key !== "") {
                    if (element.type === 'checkbox' && !element.checked && !element.name.startsWith('power[')) {
                        productData[key] = 'off';
                    } else {
                        productData[key] = value;
                    }
                }
            }
        });
        // Add productData to formData array
        formData.push(productData);
    });
    // Convert formData array to JSON string
    let jsonData = JSON.stringify(formData);
    // Set the JSON string as the value of cartDataField
    cartDataField.value = jsonData;
    return formData;
}



function generatePowerCards(cardIndex, quantity) {
    // Remove existing power cards before generating new ones
    removePowerBoxes(cardIndex);
    let productWidget = document.querySelector(`.product_widget:nth-child(${cardIndex})`);

    // Create power card elements based on the specified quantity
    for (let i = 0; i < quantity; i++) {
        let powerCard = document.createElement("div");
        powerCard.classList.add(`power_card_${cardIndex}`, "power_card", "mb-3");
        // Build the power card structure dynamically
        powerCard.innerHTML = `
            <h5>Power Card ${i + 1}</h5>
            <div class="row g-3 mb-3">
            <div class="col-12 col-lg-2 form-check">
                <input class="form-check-input" type="checkbox" name="power[${cardIndex}][${i}]" value="Stock" id="power_stock_${cardIndex}_${i}" onchange="handleCheckboxChange(this)">
                <label class="form-check-label" for="power_stock_${cardIndex}_${i}">Stock</label>
            </div>
            <div class="col-12 col-lg-2 form-check">
                <input class="form-check-input" type="checkbox" name="power[${cardIndex}][${i}]" value="Rx" id="power_rx_${cardIndex}_${i}" onchange="handleCheckboxChange(this)">
                <label class="form-check-label" for="power_rx_${cardIndex}_${i}">Rx</label>
            </div>
            <div class="col-12 col-lg-2 form-check">
                <input class="form-check-input" type="checkbox" name="power[${cardIndex}][${i}]" value="No Lens" id="power_no_lens_${cardIndex}_${i}" onchange="handleCheckboxChange(this)" checked="checked">
                <label class="form-check-label" for="power_no_lens_${cardIndex}_${i}">No Lens</label>
            </div>
            </div>
            <div class="row mb-3 stock_power_card[${cardIndex}][${i}] d-none">
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Power</h5>
                                    <select name="LensPowerStock[${cardIndex}][${i}]" onchange="getFormData();" class="form-select" aria-label="Default select example">
                                        <option >Choose Power</option>
                                        <option value="1.50">1.50</option>
                                        <option value="1.56">1.56</option>
                                        <option value="1.59">1.59</option>
                                        <option value="1.61">1.61</option>
                                        <option value="1.67">1.67</option>
                                        <option value="1.74">1.74</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">BC</h5>
                                    <select name="LensBCStock[${cardIndex}][${i}]" onchange="getFormData();" class="form-select" aria-label="Default select example">
                                        <option>Select Value</option>
                                        <option value="-3.5">-3.5</option>
                                            <option value="-3.0">-3.0</option>
                                            <option value="-2.5">-2.5</option>
                                            <option value="-2.0">-2.0</option>
                                            <option value="-1.5">-1.5</option>
                                            <option value="-1.0">-1.0</option>
                                            <option value="-0.5">-0.5</option>
                                            <option value="0.0">0.0</option>
                                            <option value="0.5">0.5</option>
                                            <option value="1.0">1.0</option>
                                            <option value="1.5">1.5</option>
                                            <option value="2.0">2.0</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3.0">3.0</option>
                                            <option value="3.5">3.5</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Dia</h5>
                                    <select name="LensDiaStock[${cardIndex}][${i}]" class="form-select" onchange="getFormData()" aria-label="Default select example">
                                        <option>Select Value</option>
                                        <option value="-3.5">-3.5</option>
                                            <option value="-3.0">-3.0</option>
                                            <option value="-2.5">-2.5</option>
                                            <option value="-2.0">-2.0</option>
                                            <option value="-1.5">-1.5</option>
                                            <option value="-1.0">-1.0</option>
                                            <option value="-0.5">-0.5</option>
                                            <option value="0.0">0.0</option>
                                            <option value="0.5">0.5</option>
                                            <option value="1.0">1.0</option>
                                            <option value="1.5">1.5</option>
                                            <option value="2.0">2.0</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3.0">3.0</option>
                                            <option value="3.5">3.5</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Cylinder</h5>
                                    <select name="LensCylinderStock[${cardIndex}][${i}]" onchange="getFormData()" class="form-select" aria-label="Default select example">
                                        <option>Select Value</option>
                                        <option value="-3.5">-3.5</option>
                                            <option value="-3.0">-3.0</option>
                                            <option value="-2.5">-2.5</option>
                                            <option value="-2.0">-2.0</option>
                                            <option value="-1.5">-1.5</option>
                                            <option value="-1.0">-1.0</option>
                                            <option value="-0.5">-0.5</option>
                                            <option value="0.0">0.0</option>
                                            <option value="0.5">0.5</option>
                                            <option value="1.0">1.0</option>
                                            <option value="1.5">1.5</option>
                                            <option value="2.0">2.0</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3.0">3.0</option>
                                            <option value="3.5">3.5</option>
                                    </select>
                                </div>

                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Axis</h5>
                                    <select name="LensAxisStock[${cardIndex}][${i}]" onchange="getFormData()" class="form-select" aria-label="Default select example">
                                        <option>Choose Axis</option>
                                        <option value="1.50">1.50</option>
                                        <option value="1.56">1.56</option>
                                        <option value="1.59">1.59</option>
                                        <option value="1.61">1.61</option>
                                        <option value="1.67">1.67</option>
                                        <option value="1.74">1.74</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 rx_power_card[${cardIndex}][${i}] d-none">
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Power</h5>
                                    <input name="LensPowerRx[${cardIndex}][${i}]" class="form-control" oninput="getFormData()"/>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">BC</h5>
                                    <input name="LensBCRx[${cardIndex}][${i}]" class="form-control" oninput="getFormData()"/>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Dia</h5>
                                    <input name="LensDiaRx[${cardIndex}][${i}]" class="form-control" oninput="getFormData()"/>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Cylinder</h5>
                                    <input name="LensCylinderRx[${cardIndex}][${i}]" class="form-control" oninput="getFormData()"/>
                                </div>
                                <div class="col-12 col-lg-3 g-3">
                                    <h5 class="mb-2 text-1000">Axis</h5>
                                    <input name="LensAxisRx[${cardIndex}][${i}]" class="form-control" oninput="getFormData()"/>
                                </div>
                            </div>
        `;

        // Append the power card to the products container
        productWidget.appendChild(powerCard);
        let jsonData = getFormData();
    }
}

function handleCheckboxChange(checkbox) {
    // Uncheck all other checkboxes in the same group
    let checkboxes = document.querySelectorAll(`[name='${checkbox.name}']`);

    checkboxes.forEach((cb) => {
        if (cb !== checkbox) {
            cb.checked = false;
        }
    });

    // Get the index from the checkbox name attribute
    const [cardIndex, i] = checkbox.name.match(/\d+/g).map(Number);

    // Show or hide specific divs based on the checkbox value
    const stockPowerCard = document.querySelector(`.stock_power_card\\[${cardIndex}\\]\\[${i}\\]`);
    const rxPowerCard = document.querySelector(`.rx_power_card\\[${cardIndex}\\]\\[${i}\\]`);

    if (checkbox.value === "Stock") {
        stockPowerCard.classList.remove('d-none');
        rxPowerCard.classList.add('d-none');
    } else if (checkbox.value === "Rx") {
        rxPowerCard.classList.remove('d-none');
        stockPowerCard.classList.add('d-none');
    } else {
        stockPowerCard.classList.add('d-none');
        rxPowerCard.classList.add('d-none');
    }

    let jsonData = getFormData();
}


function removePowerBoxes(cardIndex) {
    // Remove existing power card elements
    let powerCards = document.querySelectorAll(`.power_card_${cardIndex}`);
    powerCards.forEach((powerCard) => {
        powerCard.remove();
    });
    let jsonData = getFormData();
}


function updateCustomerFields(selectCustomerField) {
    var customers_list = JSON.parse(document.getElementById('customersList').textContent);
    let selectCustomer = customers_list.find(customer => customer.customer_id == selectCustomerField.value);

    var customerNameInput = document.getElementsByName("customer_name")[0];
    var customerEmailInput = document.getElementsByName("customer_email")[0];
    var customerPhoneInput = document.getElementsByName("customer_phone")[0];
    var customerAgeInput = document.getElementsByName("customer_age")[0];
    var customerGenderSelect = document.getElementsByName("customer_gender")[0];
    var customerCityInput = document.getElementsByName("customer_city")[0];
    var customerLanguageSelect = document.getElementsByName("customer_language")[0];
    var customerAddressTextarea = document.getElementsByName("customer_address")[0];

    customerNameInput.value = selectCustomer.name;
    customerEmailInput.value = selectCustomer.email;
    customerPhoneInput.value = selectCustomer.phone;
    customerAgeInput.value = selectCustomer.age;
    customerGenderSelect.value = selectCustomer.gender;
    customerCityInput.value = selectCustomer.city;
    customerLanguageSelect.value = selectCustomer.language;
    customerAddressTextarea.value = selectCustomer.address;
}



</script>

</body>

</html>