<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Make sale - own store</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/prism/prism-okaidia.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }

    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar_store.html' %}

        <div class="content">
            <form id="saleForm" action="/makeSale" method="post">
                <input name="cartData">
                <input name="customerData">
                <input name="billingDetailsData">
            </form>
            <div class="col-12 col-xxl-6">
                <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                    <div class="card-header p-4 border-bottom border-300 bg-soft">
                        <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                                <h4 class="text-900 mb-0" data-anchor="data-anchor">Make a sale</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-4 code-to-copy">
                            <div class="card theme-wizard mb-5" data-theme-wizard="data-theme-wizard">
                                <div class="card-header bg-100 pt-3 pb-2 border-bottom-0">
                                    <ul class="nav justify-content-between nav-wizard">
                                        <li class="nav-item"><a class="nav-link active fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab1"
                                                                data-bs-toggle="tab" data-wizard-step="1">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-shopping-cart"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Products</span></div>
                                        </a></li>

                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab2"
                                                                data-bs-toggle="tab" data-wizard-step="2">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-user"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Customer</span></div>
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab3"
                                                                data-bs-toggle="tab" data-wizard-step="3">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-file-invoice-dollar"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Billing details</span></div>
                                        </a></li>

                                        <li class="nav-item"><a class="nav-link fw-semi-bold"
                                                                href="#bootstrap-wizard-validation-tab4"
                                                                data-bs-toggle="tab" data-wizard-step="4">
                                            <div class="text-center d-inline-block"><span
                                                    class="nav-item-circle-parent"><span class="nav-item-circle"><span
                                                    class="fas fa-eye"></span></span></span><span
                                                    class="d-none d-md-block mt-1 fs--1">Review</span></div>
                                        </a></li>
                                    </ul>
                                </div>

                                <div class="card-body pt-4 pb-0">
                                    <div class="tab-content">
                                        <!--                            tab 1-->
                                        <div class="tab-pane active" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab1"
                                             id="bootstrap-wizard-validation-tab1">
                                            <form class="needs-validation" id="wizardValidationForm1"
                                                  novalidate="novalidate" data-wizard-form="1">
                                                <div id="products_container">
                                                    <!-- product card starts here generated dynamically -->
                                                    <!-- product card ends here-->
                                                </div>

                                                <div class="flex-1 text-end">
                                                    <a class="btn btn-primary px-6 px-sm-6"
                                                       onclick="createProductCard()">Add product
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab2"
                                             id="bootstrap-wizard-validation-tab2">
                                            <form class="needs-validation" id="wizardValidationForm2"
                                                  novalidate="novalidate" data-wizard-form="2">
                                                <div class="card-header bg-100 mb-4">
                                                    <h5 class="mb-3">Old customer? Choose from Below</h5>
                                                    <select onchange="updateCustomerFields(this)"
                                                            class="form-select" data-choices="data-choices"
                                                            data-options='{"removeItemButton":true,"placeholder":true}'
                                                            name="product" required="required">
                                                        <option value="">Select Customer</option>
                                                        {% for customer in customers_list %}
                                                        <option value="{{customer.phone}}">
                                                            {{customer.phone}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <h5 class="mb-3">New customer? Continue adding them</h5>
                                                    <div id="customer_info" class="row g-3 mb-3">
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Name</h5>
                                                            <input class="form-control"
                                                                   name="customer_name"
                                                                   placeholder="Name"
                                                                   required="required"
                                                                   onchange="genCustomerObject()"
                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Email</h5>
                                                            <input class="form-control"
                                                                   name="customer_email"
                                                                   placeholder="Email"
                                                                   required="required"
                                                                   onchange="genCustomerObject()"
                                                                   type="email" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Phone</h5>
                                                            <input class="form-control"
                                                                   name="customer_phone"
                                                                   placeholder="Phone"
                                                                   required="required"
                                                                   onchange="genCustomerObject()"

                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Customer Age</h5>
                                                            <input class="form-control"
                                                                   name="customer_age"
                                                                   placeholder="Age"
                                                                   required="required"
                                                                   onchange="genCustomerObject()"

                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">Gender</h5>
                                                            <select
                                                                    onchange="genCustomerObject()"
                                                                    name="customer_gender" class="form-select"
                                                                    aria-label="Default select example"
                                                                    required="required">
                                                                <option value="" selected>Please select Gender</option>
                                                                <option value="M">Male</option>
                                                                <option value="F">Female</option>
                                                                <option value="Others">Others</option>
                                                            </select>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-6">
                                                            <h5 class="mb-3">City</h5>
                                                            <input class="form-control"
                                                                   name="customer_city"
                                                                   placeholder="City"
                                                                   required="required"
                                                                   onchange="genCustomerObject()"

                                                                   type="text" value=""/>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-12">
                                                            <h5 class="mb-3">Language</h5>
                                                            <select

                                                                    onchange="genCustomerObject()"

                                                                    name="customer_language" class="form-select"
                                                                    aria-label="Default select example"
                                                                    required="required">
                                                                <option value="" selected="selected">Please select
                                                                    Language
                                                                </option>
                                                                <option value="English">English</option>
                                                                <option value="Kannada">Kannada</option>
                                                                <option value="Hindi">Hindi</option>
                                                                <option value="Tamil">Tamil</option>
                                                                <option value="Telugu">Telugu</option>
                                                                <option value="Malayalam">Malayalam</option>
                                                                <option value="Marathi">Marathi</option>
                                                                <option value="Gujarati">Gujarati</option>
                                                            </select>
                                                            <div class="invalid-feedback">This field is required.</div>
                                                        </div>
                                                        <div class="mb2 col-12">
                                                            <h5 class="mb-3">Customer Address</h5>
                                                            <textarea
                                                                    onchange="genCustomerObject()"

                                                                    name="customer_address" class="form-control"
                                                                    rows="3" required="required"></textarea>
                                                        </div>


                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab3"
                                             id="bootstrap-wizard-validation-tab3">
                                            <form class="mb-2 needs-validation" id="wizardValidationForm3"
                                                  novalidate="novalidate" data-wizard-form="3">
                                                <div id="billing_info" class="row g-3 mb-3">

                                                    <div class="mb2 col-6">
                                                        <h5 class="mb-3">Order Placed By</h5>
                                                        <select
                                                                onchange="genBillingInfoObject()"
                                                                name="orderByEmployee" class="form-select"
                                                                aria-label="Default select example"
                                                                required="required">
                                                            <option value="" selected>Please select employee</option>
                                                            <option value="EmpId1">Emp1</option>
                                                            <option value="EmpId2">Emp2</option>
                                                            <option value="EmpId3">Emp3</option>
                                                        </select>
                                                        <div class="invalid-feedback">This field is required.</div>
                                                    </div>
                                                    <div class="mb2 col-6">
                                                        <h5 class="mb-3">Choose Lab</h5>
                                                        <select
                                                                onchange="genBillingInfoObject()"
                                                                name="assignedLab" class="form-select"
                                                                aria-label="Default select example"
                                                                required="required">
                                                            <option value="" selected>Please select lab</option>
                                                            <option value="lab1">lab1</option>
                                                            <option value="lab2">lab2</option>
                                                            <option value="lab3">lab3</option>
                                                        </select>
                                                        <div class="invalid-feedback">This field is required.</div>
                                                    </div>

                                                    <div class="mb2 col-6">
                                                        <h5 class="mb-3">Estimated Delivery Date</h5>


                                                        <input
                                                                onchange="genBillingInfoObject()"
                                                                name="estDeliveryDate"
                                                                class="form-control datetimepicker flatpickr-input"
                                                                id="datePicker" type="text" placeholder="dd/mm/yyyy"
                                                                data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}"
                                                                readonly="readonly">
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel"
                                             aria-labelledby="bootstrap-wizard-validation-tab4"
                                             id="bootstrap-wizard-validation-tab4">
                                            <h5 class="mb-3">Draft Invoice</h5>
                                            <!--                                            customer details start-->
                                            <div class="bg-soft p-4 mb-4 rounded-2">
                                                <div class="row g-4">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="row g-4 g-lg-2">
                                                            <div class="col-12 col-sm-6 col-lg-12">
                                                                <div class="row align-items-center g-0">
                                                                    <div class="d-flex align-items-center"><img
                                                                            alt="phoenix"
                                                                            src="{% static 'img/icons/logo.png' %}"
                                                                            width="50"/>

                                                                        <p class="logo-text ms-2 d-none d-sm-block">
                                                                            Indolens</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-lg-12">
                                                                <div class="row align-items-center g-0">
                                                                    <div class="col-auto col-lg-6 col-xl-5">
                                                                        <h6 class="me-3">Invoice Date :</h6>
                                                                    </div>
                                                                    <div class="col-auto col-lg-6 col-xl-7">
                                                                        <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                            19/06/2023</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center g-0">
                                                                    <div class="col-auto col-lg-6 col-xl-5">
                                                                        <h6 class="me-3">Email :</h6>
                                                                    </div>
                                                                    <div class="col-auto col-lg-6 col-xl-7">
                                                                        <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                            indolensstore@indlens.com</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center g-0">
                                                                    <div class="col-auto col-lg-6 col-xl-5">
                                                                        <h6 class="me-3">Phone :</h6>
                                                                    </div>
                                                                    <div class="col-auto col-lg-6 col-xl-7">
                                                                        <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                            1234567890</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-lg-6">
                                                        <div class="row g-4 gy-lg-5">
                                                            <div class="col-12 col-lg-8">
                                                                <h6 class="mb-2 me-3">Draft invoice by :</h6>
                                                                <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                    store name<br/>Store Address Goes Here
                                                                </p>
                                                            </div>
                                                            <div class="col-12 col-lg-4">
                                                                <h6 class="mb-2"> PAN No :</h6>
                                                                <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                    XVCJ9637820</p>
                                                            </div>
                                                            <div class="col-12 col-lg-4">
                                                                <h6 class="mb-2"> GST Reg No :</h6>
                                                                <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                    IX9878123TC</p>
                                                            </div>
                                                            <div class="col-12 col-lg-4">
                                                                <h6 class="mb-2"> Order Date :</h6>
                                                                <p class="fs--1 text-800 fw-semi-bold mb-0">
                                                                    19/06/2023</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                            customer details end-->

                                            <button id="confirmSale">Confirm Sale</button>

                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer border-top-0" data-wizard-footer="data-wizard-footer">
                                    <div class="d-flex pager wizard list-inline mb-0">
                                        <button class="d-none btn btn-link ps-0" type="button"
                                                data-wizard-prev-btn="data-wizard-prev-btn"><span
                                                class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span>Previous
                                        </button>
                                        <div class="flex-1 text-end">
                                            <button class="btn btn-primary px-6 px-sm-6" type="submit"
                                                    data-wizard-next-btn="data-wizard-next-btn">Next<span
                                                    class="fas fa-chevron-right ms-1"
                                                    data-fa-transform="shrink-3"> </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}

        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }















    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/prism/prism.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
{# Include the JSON-encoded stocks_list data #}
{{ stocks_list|json_script:"stocksList" }}


{# Include the JSON-encoded stocks_list data #}
{{ customers_list|json_script:"customersList" }}
<script>
    let productCardCount = 1;
    var stocks_list = JSON.parse(document.getElementById('stocksList').textContent);

    function updateCustomerFields(selectCustomerField) {
        var customers_list = JSON.parse(document.getElementById('customersList').textContent);
        let selectCustomer = customers_list.find(customer => customer.phone == selectCustomerField.value);

        var customerNameInput = document.getElementsByName("customer_name")[0];
        var customerEmailInput = document.getElementsByName("customer_email")[0];
        var customerPhoneInput = document.getElementsByName("customer_phone")[0];
        var customerAgeInput = document.getElementsByName("customer_age")[0];
        var customerGenderSelect = document.getElementsByName("customer_gender")[0];
        var customerCityInput = document.getElementsByName("customer_city")[0];
        var customerLanguageSelect = document.getElementsByName("customer_language")[0];
        var customerAddressTextarea = document.getElementsByName("customer_address")[0];
        //customerDataField
        var customerDataTextarea = document.getElementsByName("customerData")[0];

        customerNameInput.value = selectCustomer.name;
        customerEmailInput.value = selectCustomer.email;
        customerPhoneInput.value = selectCustomer.phone;
        customerAgeInput.value = selectCustomer.age;
        customerGenderSelect.value = selectCustomer.gender;
        customerCityInput.value = selectCustomer.city;
        customerLanguageSelect.value = selectCustomer.language;
        customerAddressTextarea.value = selectCustomer.address;
        customerDataTextarea.value = selectCustomer.address;

        var customerdata = {
            name: selectCustomer.name,
            email: selectCustomer.email,
            phone: selectCustomer.phone,
            age: selectCustomer.age,
            gender: selectCustomer.gender,
            city: selectCustomer.city,
            language: selectCustomer.language,
            address: selectCustomer.address
        };

        // Convert customerdata to JSON string and assign it to customerDataTextarea
        customerDataTextarea.value = JSON.stringify(customerdata, null, 2);
    }

    function genCustomerObject() {
        var customerNameInput = document.getElementsByName("customer_name")[0];
        var customerEmailInput = document.getElementsByName("customer_email")[0];
        var customerPhoneInput = document.getElementsByName("customer_phone")[0];
        var customerAgeInput = document.getElementsByName("customer_age")[0];
        var customerGenderSelect = document.getElementsByName("customer_gender")[0];
        var customerCityInput = document.getElementsByName("customer_city")[0];
        var customerLanguageSelect = document.getElementsByName("customer_language")[0];
        var customerAddressTextarea = document.getElementsByName("customer_address")[0];
        //customerDataField
        var customerDataTextarea = document.getElementsByName("customerData")[0];

        var customerData = {
            name: customerNameInput.value,
            email: customerEmailInput.value,
            phone: customerPhoneInput.value,
            age: customerAgeInput.value,
            gender: customerGenderSelect.value,
            city: customerCityInput.value,
            language: customerLanguageSelect.value,
            address: customerAddressTextarea.value
        };
        customerDataTextarea.value = JSON.stringify(customerData, null, 2);
    }

    function genBillingInfoObject() {
        var estDeliveryDateInput = document.getElementsByName("estDeliveryDate")[0];
        var assignedLabInput = document.getElementsByName("assignedLab")[0];
        var orderByEmployeeInput = document.getElementsByName("orderByEmployee")[0];
        var billingDetailsDataTextarea = document.getElementsByName("billingDetailsData")[0];
        var billingInfoData = {
            estDeliveryDate: estDeliveryDateInput.value,
            assignedLab: assignedLabInput.value,
            orderByEmployee: orderByEmployeeInput.value,
        };
        billingDetailsDataTextarea.value = JSON.stringify(billingInfoData, null, 2);
    }

    document.getElementById('confirmSale').addEventListener('click', function () {
        // Assuming you have input fields within the form, adjust as needed
        var form = document.getElementById('saleForm');
        form.submit();
    });

</script>
</body>

</html>