<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens {{request.session.store_name}} - Order details</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }














    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">

        {% include 'nav_bar_store.html' %}

        <div class="content">

            <div class="mb-9">
                <h2 class="mb-0">Order : <span>{{order_detail.0.order_id}}</span></h2>
                <div class="d-flex flex-wrap flex-between-center mb-1">
                    {% if lab_details.0.lab_name != None %}
                    <p class="text-800 lh-sm mb-0">Lab : {{lab_details.0.lab_name}}
                    </p>
                    {% else %}
                    <p class="text-800 lh-sm mb-0">
                    </p>
                    {% endif %}
                    <div class="d-flex">
                        <button class="btn pe-3 ps-0 text-900"><a target="_blank"
                                                                  href="{% url 'order_invoice_store' order_detail.0.order_id %}"><span
                                class="fas fa-file-invoice"></span> Invoice</a></button>
                    </div>
                </div>
                <div class="row g-5 gy-7">
                    <div class="col-12 col-xl-8 col-xxl-9">
                        <div data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":10}'
                             id="orderTable">
                            <div class="table-responsive scrollbar">
                                <table class="table fs--1 mb-0 border-top border-200">
                                    <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle fs--2" scope="col"></th>
                                        <th class="sort white-space-nowrap align-middle" data-sort="products"
                                            scope="col" style="min-width:200px;">PRODUCTS
                                        </th>
                                        <th class="sort align-middle ps-4" data-sort="color" scope="col"
                                            style="width:150px;">SALE PRICE
                                        </th>
                                        <th class="sort align-middle ps-4" data-sort="size" scope="col"
                                            style="width:300px;">DISCOUNT
                                        </th>
                                        <th class="sort align-middle ps-4" data-sort="size" scope="col"
                                            style="width:300px;">GST
                                        </th>
                                        <th class="sort align-middle  ps-4" data-sort="quantity" scope="col"
                                            style="width:200px;">QUANTITY
                                        </th>

                                        <th class="sort align-middle text-end" data-sort="total" scope="col"
                                            style="width:250px;">TOTAL
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="order-table-body">
                                    {% for order in order_detail %}

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                        <td class="align-middle white-space-nowrap py-2">
                                        </td>
                                        <td class="products align-middle py-0">
                                            <a class="fw-semi-bold line-clamp-2 mb-0 "
                                               href="{% url 'view_central_inventory_products' order.product_id %}">
                                                {{order.product_name}}</a>
                                        </td>
                                        <td class="color align-middle white-space-nowrap text-900 py-0 text-end ps-4">₹
                                            {{order.unit_sale_price}}
                                        </td>
                                        <td class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4">
                                            {{order.discount_percentage}}%
                                        </td>
                                        <td class="size align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4">
                                            {{order.product_gst}}%
                                        </td>
                                        <td class="quantity align-middle  py-0 ps-4 text-700 text-end">
                                            {{order.purchase_quantity}}
                                        </td>
                                        <td class="price align-middle text-900 fw-semi-bold  py-0 ps-4 text-end">₹
                                            {{order.product_total_cost}}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex flex-between-center py-3 border-bottom mb-7">
                            <p class="text-1100 fw-semi-bold lh-sm mb-0">Items subtotal :</p>
                            <p class="text-1100 fw-bold lh-sm mb-0">₹ {{order_detail.0.discount_cost}}</p>
                        </div>
                        <div class="row gx-4 gy-6 g-xl-7 justify-content-sm-center justify-content-xl-start">
                            <div class="col-12 col-sm-auto">
                                <h4 class="mb-5">Billing details</h4>
                                <div class="row g-4 flex-sm-column">
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="user"
                                                                                          style="stroke-width:2.5;"></span>
                                            <h6 class="mb-0">Customer</h6>
                                        </div>
                                        <a class="fs--1 ms-4"
                                           href="{% url 'view_store_customer_details' order_detail.0.customer_id %}">{{order_detail.0.customer_name}}</a>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="mail"
                                                                                          style="stroke-width:2.5;"></span>
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <a class="fs--1 ms-4"
                                           href="mailto:shatinon@jeemail.com:">{{order_detail.0.email}}</a>
                                    </div>
                                    <div class="col-6 col-sm-12 order-sm-1">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="home"
                                                                                          style="stroke-width:2.5;"></span>
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="ms-4" style="max-width: 200px;">
                                            <p class="text-800 mb-0 fs--1">{{order_detail.0.address}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="phone"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <a class="fs--1 ms-4" href="tel:{{order_detail.0.phone}}">{{order_detail.0.phone}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-auto">
                                <h4 class="mb-5">Shipping details</h4>
                                <div class="row g-4 flex-sm-column">
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="mail"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <a class="fs--1 ms-4"
                                           href="mailto:shatinon@jeemail.com:">{{order_detail.0.email}}</a>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="phone"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <a class="fs--1 ms-4" href="tel:{{order_detail.0.phone}}">{{order_detail.0.phone}}</a>
                                    </div>
                                    <div class="col-6 col-sm-12 order-sm-1">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="home"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="ms-4" style="max-width: 200px;">
                                            <p class="text-800 mb-0 fs--1">{{order_detail.0.address}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="calendar"
                                                                                          style="stroke-width:2.5;"></span>
                                            <h6 class="mb-0">Shipping Date</h6>
                                        </div>
                                        <p class="mb-0 text-800 fs--1 ms-4">
                                            {{order_detail.0.estimated_delivery_date}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-auto">
                                <h4 class="mb-5">Other details</h4>
                                <div class="row g-4 flex-sm-column">
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="shopping-bag"
                                                                                          style="stroke-width:2.5;"></span>
                                            <h6 class="mb-0">Gift order</h6>
                                        </div>
                                        <a class="mb-0 text-800 fs--1 ms-4">N/A</a>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="package"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Wrapping</h6>
                                        </div>
                                        <p class="mb-0 text-800 fs--1 ms-4">N/A</p>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="file-text"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Recipient</h6>
                                        </div>
                                        <p class="mb-0 text-800 fs--1 ms-4">N/A</p>
                                    </div>
                                    <div class="col-6 col-sm-12">
                                        <div class="d-flex align-items-center mb-1"><span class="me-2"
                                                                                          data-feather="mail"
                                                                                          style="stroke-width:2.5;">  </span>
                                            <h6 class="mb-0">Gift Message</h6>
                                        </div>
                                        <div class="ms-4">
                                            <p class="text-800 fs--1 mb-0">N/A</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-list='{"valueNames":["slno","amount","mode","type","createdBy","createdOn"],"page":10}'
                             id="paymentTable">
                            <div class="table-responsive scrollbar mt-3">
                                <h4 class="mb-5">Payments History</h4>
                                <table class="table fs--1 mb-0 border-top border-200" id="myTable">
                                    <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle" data-sort="slno" scope="col">SLNO</th>
                                        <th class="sort align-middle ps-4" data-sort="amount" scope="col"
                                            style="width:150px;">Payment Amount
                                        </th>
                                        <th class="sort align-middle ps-4" data-sort="mode" scope="col"
                                            style="width:300px;">Payment Mode
                                        </th>
                                        <th class="sort align-middle ps-4" data-sort="type" scope="col"
                                            style="width:300px;">Payment Type
                                        </th>
                                        <th class="sort align-middle  ps-4" data-sort="createdBy" scope="col"
                                            style="width:250px;">Created By
                                        </th>
                                        <th class="sort align-middle  ps-4" data-sort="createdOn" scope="col"
                                            style="width:250px;">Created On
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="payments_log">
                                    {% for log in payment_logs %}

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                        <td class="align-middle white-space-nowrap py-2 slno">
                                        </td>
                                        <td class="amount align-middle white-space-nowrap text-900 py-0 text-end">
                                            ₹{{log.payment_amount}}
                                        </td>
                                        <td class="mode align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4">
                                            {% if log.payment_mode == 1%}
                                            CASH
                                            {% elif log.payment_mode == 2%}
                                            UPI
                                            {% elif log.payment_mode == 3%}
                                            CREDIT CARD
                                            {% elif log.payment_mode == 4%}
                                            DEBIT CARD
                                            {% endif %}
                                        </td>
                                        <td class="type align-middle white-space-nowrap text-700 fw-semi-bold py-0 ps-4">
                                            {% if log.payment_type == 1%}
                                            ADVANCE
                                            {% elif log.payment_type == 2%}
                                            DUE CLEARANCE
                                            {% elif log.payment_type == 3%}
                                            REFUND
                                            {% endif %}
                                        </td>
                                        <td class="createdBy align-middle  py-0 ps-4 text-700">
                                                {{log.created_by_name}}
                                        </td>
                                        <td class="createdOn align-middle text-900 fw-semi-bold  py-0 ps-4">
                                            {{log.created_on}}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 col-xxl-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4">Summary</h3>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-900 fw-semi-bold">Total Amount :</p>
                                                <p id="total_amount" class="text-1100 fw-semi-bold">
                                                    ₹{{order_detail.0.total_cost }}</p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-900 fw-semi-bold">Discount Amount :</p>
                                                <p id="discount_amount" class="text-1100 fw-semi-bold"></p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-900 fw-semi-bold">Shipping Cost :</p>
                                                <p class="text-1100 fw-semi-bold">₹0</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between border-top border-dashed pt-4">
                                            <h4 class="mb-0">Total :</h4>
                                            <h4 class="mb-0" id="totalCost">₹{{order_detail.0.discount_cost}}</h4>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between mt-3">
                                                <p class="text-900 fw-semi-bold">Amount Paid :</p>
                                                <p class="text-1100 fw-semi-bold" id="amountPaid">
                                                    ₹{{order_detail.0.amount_paid}}</p>
                                            </div>
                                            <div class="d-flex justify-content-between border-top border-dashed pt-4">
                                                <h4 class="mb-0">Balance :</h4>
                                                <h4 class="mb-0" id="balance"></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4">Order Status</h3>
                                        <h6 class="mb-2">Payment status </h6>
                                        <select onchange="changePaymentStatus(this,'{{order_detail.0.order_id}}')"
                                                aria-label="delivery type" class="form-select mb-4"
                                                id="paymentStatusSelect">
                                            <option value="1">Pending</option>
                                            <option value="2">Complete</option>
                                            {% if order_detail.0.order_status != 6 %}
                                            <option value="3">Refund</option>
                                            {% endif %}
                                        </select>

                                        <h6 class="mb-2">Order status </h6>
                                        {% if order_detail.0.assigned_lab == 0 %}
                                        <select onchange="changeOrderStatus(this,'{{order_detail.0.order_id}}')"
                                                aria-label="delivery type" class="form-select" id="orderStatusSelect">
                                            <option value="1">New</option>
                                            <option value="2">Processing</option>
                                            <option value="3">Ready</option>
                                            <option value="6">Delivered to customer</option>
                                            <option value="7">Cancel</option>
                                        </select>
                                        {% else %}
                                        <select onchange="changeOrderStatus(this,'{{order_detail.0.order_id}}')"
                                                aria-label="delivery type" class="form-select" id="orderStatusSelect1">
                                            <option value="1" style="display:none;"
                                                    {% if order_detail.0.order_status == 1 %}selected{% endif %}>
                                                New
                                            </option>
                                            <option value="2" style="display:none;"
                                                    {% if order_detail.0.order_status == 2 %}selected{% endif %}>
                                                Processing
                                            </option>
                                            <option value="3" style="display:none;"
                                                    {% if order_detail.0.order_status == 3 %}selected{% endif %}>Ready
                                            </option>
                                            <option value="4" style="display:none;"
                                                    {% if order_detail.0.order_status == 4 %}selected{% endif %}>
                                                Dispatched to store
                                            </option>
                                            <option value="5"
                                                    {% if order_detail.0.order_status == 5 %}selected{% endif %}>
                                                Delivered to store
                                            </option>
                                            <option value="6"
                                                    {% if order_detail.0.order_status == 6 %}selected{% endif %}>
                                                Delivered to customer
                                            </option>
                                            <option value="7"
                                                    {% if order_detail.0.order_status == 7 %}selected{% endif %}>Cancel
                                            </option>
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="order_status_change_modal" tabindex="-1"
                 aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="modal_title"></h5>
                            <button class="btn p-1" type="button" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span class="fas fa-times fs--1 text-white"></span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal_content">
                            <!-- Form for Allocate Store -->
                            <form action="{% url 'order_payment_status_change' %}" class="row g-3 needs-validation"
                                  method="post" novalidate="">
                                {% csrf_token %}
                                 <input class="form-control" id="orderId" maxlength="256" required
                                           name="orderId"
                                           type="hidden" >
                                 <input class="form-control" id="orderPaymentStatus" maxlength="256" required
                                           name="orderPaymentStatus"
                                           type="hidden" >
                                 <input class="form-control" id="orderPaymentAmount" maxlength="256" required
                                           name="orderPaymentAmount"
                                           type="hidden" >
                                <div class="col-12">
                                    <h5 class="mb-3">Payment mode</h5>
                                    <select
                                            name="payment_mode" class="form-select"
                                            aria-label="Default select example"
                                            required="required">
                                        <option value="" selected>Please select payment mode</option>
                                        <option value="1"> CASH</option>
                                        <option value="2"> UPI</option>
                                        <option value="3"> DEBIT CARD</option>
                                        <option value="4"> CREDIT CARD</option>
                                    </select>
                                </div>
                                <div id="footer_div" class="modal-footer">
                                    <button class="btn btn-primary modal-submit" type="submit"
                                            id="modal_submit">Confirm
                                    </button>
                                    <button class="btn btn-outline-primary" type="reset" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}

        </div>
    </div>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/breadcrumbs.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
<script>
   function changeOrderStatus(statusWidget, order_id) {
    console.log(statusWidget.value);
    console.log(order_id);

    const url = `/own_store/order_details_store/order_status_change/orderId=${order_id}/status=${statusWidget.value}`;
    window.location.href = url; // Redirect to the constructed URL
}
   function changePaymentStatus(statusWidget, order_id) {
    console.log(statusWidget.value);
    console.log(order_id);
     $('#orderId').val(order_id);
     $('#orderPaymentStatus').val(statusWidget.value);

     var totalCost = {{ order_detail.0.total_cost }};
    var discountCost = {{ order_detail.0.discount_cost }};
    var amountPaid = {{order_detail.0.amount_paid}};

    var balanceAmount = discountCost - amountPaid;

    console.log(balanceAmount);

     if(statusWidget.value==2){
            $('#orderPaymentAmount').val(balanceAmount);
            $('#modal_title').html('Complete payment?');

     }else if(statusWidget.value==3){
            $('#orderPaymentAmount').val(amountPaid);
            $('#modal_title').html('Refund payment?');
     }
     $('#order_status_change_modal').modal('show');

}



</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var status = "{{order_detail.0.payment_status}}";
        var select = document.getElementById("paymentStatusSelect");

        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].value === status) {
                select.selectedIndex = i;

                // Disable options before the selected option
                for (var j = 0; j < i; j++) {
                    select.options[j].disabled = true;
                }

                // Enable options after the selected option
                for (var k = i + 1; k < select.options.length; k++) {
                    select.options[k].disabled = false;
                }
                break;
            }
        }

        // Add an event listener to handle future changes
        select.addEventListener("change", function () {
            var selectedIndex = select.selectedIndex;

            // Disable options before the selected option
            for (var i = 0; i < selectedIndex; i++) {
                select.options[i].disabled = true;
            }

            // Enable options after the selected option
            for (var j = selectedIndex + 1; j < select.options.length; j++) {
                select.options[j].disabled = false;
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        var status = {{ order_detail.0.order_status }};
        console.log(status);

        var select = document.getElementById("orderStatusSelect");

        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].value == status) {
                select.selectedIndex = i;

                // Disable all options
                for (var j = 0; j < select.options.length; j++) {
                    select.options[j].disabled = true;
                }

                // Enable the next option from the selected one
                if (i < select.options.length - 1) {
                    select.options[i + 1].disabled = false;
                    if (status != "6"){
                    select.options[4].disabled = false;
                    }
                    if (status == "6"){
                    select.options[4].disabled = true;
                    }
                }

                // Add event listener to update options dynamically
                select.addEventListener("change", function() {
                    var selectedIndex = this.selectedIndex;

                    // Disable all options
                    for (var k = 0; k < this.options.length; k++) {
                        this.options[k].disabled = true;
                    }

                    // Enable the next option from the selected one
                    if (selectedIndex < this.options.length - 1) {
                        this.options[selectedIndex + 1].disabled = false;

                    }
                });

                break;
            }
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var orderStatusSelect = document.getElementById("orderStatusSelect1");
        var orderStatus = {{ order_detail.0.order_status }};

        // Disable all options by default
        for (var i = 0; i < orderStatusSelect.options.length; i++) {
            orderStatusSelect.options[i].disabled = true;
        }

        // Enable the next option based on the order status
        if (orderStatus <= 3) {
            // Enable options based on order status
            for (var i = 0; i < orderStatusSelect.options.length; i++) {
                var optionValue = parseInt(orderStatusSelect.options[i].value);
                if (optionValue <= orderStatus) {
                    orderStatusSelect.options[i].disabled = false;
                    orderStatusSelect.options[6].disabled = false;
                }
            }
        } else if (orderStatus === 4) {
            orderStatusSelect.options[4].disabled = false;
            orderStatusSelect.options[6].disabled = false;
        } else if (orderStatus === 5) {
            orderStatusSelect.options[5].disabled = false;
            orderStatusSelect.options[6].disabled = false;
        }
    });


    document.addEventListener('DOMContentLoaded', function() {
        var totalCost = {{ order_detail.0.total_cost }};
        var discountCost = {{ order_detail.0.discount_cost }};
        var amountPaid = {{order_detail.0.amount_paid}};

        var discountedAmount = totalCost - discountCost;
        var balanceAmount = discountCost - amountPaid;

        document.getElementById('discount_amount').textContent = '₹ ' + discountedAmount;
        document.getElementById('balance').textContent = '₹ ' + balanceAmount;




    });






</script>
</html>