<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens Area Head - Reset Password</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% load static %}

    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        <div class="container">
            <div class="row flex-center min-vh-100 py-5">
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a
                        class="d-flex flex-center text-decoration-none mb-4" href="#">
                    <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                        <img alt="phoenix" src="{% static 'img/icons/logo.png' %}" width="100"/>

                    </div>
                </a>
                    <div class="text-center mb-6">
                        <h4 class="text-1000">Reset new password</h4>
                        <p class="text-700">Type your new password</p>
                        {% if message %}
                        <div class="alert alert-soft-danger alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>

                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                    type="button"></button>
                        </div>
                        {% else %}
                        <form class="mt-5 needs-validation needs-password-validation"
                              action="{% url 'reset_password_area_head' code %}"
                              method="post" novalidate="">
                            {% csrf_token %}

                            <div class="mb-3 text-start">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="password" id="password" name="password"
                                           placeholder="Password" required="required" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,120}$">
                                    <button id="togglePassword" type="button" class="input-group-text"><i
                                            class="far fa-eye" id="togglePasswordIcon"></i></button>
                                    <div class="invalid-feedback">Password should have 8 characters with at least 1 uppercase, 1 lowercase, and 1 special character.</div>
                                </div>
                            </div>


                            <div class="mb-3 text-start">
                                <label class="form-label" for="password">Re enter password</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="password" id="confirmPassword"
                                           name="confirmPassword"
                                           placeholder="Confirm Password" required="required">
                                    <button id="toggleConfirmPassword" type="button" class="input-group-text"><i
                                            class="far fa-eye" id="toggleConfirmPasswordIcon"></i></button>
                                    <div class="invalid-feedback">Password and Confirm Password should match.</div>
                                </div>
                            </div>

                            <input type="hidden" name="email" value="{{email}}">
                            <button class="btn btn-primary w-100" type="submit">Set Password</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->

<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>

</body>

</html>