<div class="modal fade" id="viewModal" tabindex="-1"
     aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="modal_title">Details</h5>
                <button class="btn p-1" type="button" data-bs-dismiss="modal"
                        aria-label="Close">
                    <span class="fas fa-times fs--1 text-white"></span>
                </button>
            </div>
            <div class="modal-body" id="modal_content">
                <p id="viewCategoryID"></p>
                <!-- Form for Allocate Store -->
            </div>
            <div id="footer_div" class="modal-footer">
                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>