{% load static %}

<nav class="navbar navbar-vertical navbar-expand-lg">
    <script>
            var navbarStyle = localStorage.getItem("phoenixNavbarStyle");
            if (navbarStyle && navbarStyle !== 'transparent') {
              document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
            }

    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Find the active item
        const activeItem = document.querySelector(".nav-link.active");

        if (activeItem) {
            // Scroll to the active item's parent element
            const parent = activeItem.closest("li");
            if (parent) {
                parent.scrollIntoView();
            }
        }
    });
    </script>

    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                <!--                dashboard nav items-->
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'dashboard' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'dashboard' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="monitor"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Dashboard</span></span>
                        </div>
                    </a>
                    </div>
                </li>
                <!--                ownStore nav items-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Stores
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-controls="own_store_management"
                                                     aria-expanded="false" asd="index"
                                                     class="nav-link dropdown-indicator label-1"
                                                     data-bs-toggle="collapse" href="#own_store_management"
                                                     role="button">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="home"></span></span><span
                                class="nav-link-text">Own Stores</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <!--                            show after parent will expand-->
                            <ul class="nav collapse parent {% if 'manage_own_stores' in request.path or 'create_own_store' in request.path or 'view_own_store' in request.path or 'edit_own_store' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="own_store_management">
                                <li class="collapsed-nav-item-title d-none">Own Stores
                                </li>
                                <!--                                active after nav link will activate-->
                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'create_own_store' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'create_own_store' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Create own store</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'manage_own_stores' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'manage_own_stores' 'All' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Manage own stores</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="nav-item-wrapper"><a aria-controls="franchise_store_management"
                                                     aria-expanded="false" asd="index"
                                                     class="nav-link dropdown-indicator label-1"
                                                     data-bs-toggle="collapse" href="#franchise_store_management"
                                                     role="button">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="shopping-bag"></span></span><span
                                class="nav-link-text">Franchise Stores</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent {% if 'create_franchise_store' in request.path or 'manage_Franchise_stores' in request.path or 'view_franchise_store' in request.path or 'edit_franchise_store' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="franchise_store_management">
                                <li class="collapsed-nav-item-title d-none">Franchise Stores
                                </li>
                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'create_franchise_store' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'create_franchise_store' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Create Franchise store</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'manage_Franchise_stores' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'manage_Franchise_stores' 'All' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Manage Franchise stores</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>

                <!--                inventory nav items-->

                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Inventory
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-controls="central_inventory_management"
                                                     aria-expanded="false" asd="index"
                                                     class="nav-link dropdown-indicator label-1"
                                                     data-bs-toggle="collapse" href="#central_inventory"
                                                     role="button">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="archive"></span></span><span
                                class="nav-link-text">Central Inventory</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent {% if 'manage_out_of_stock' in request.path or 'manage_central_inventory_products' in request.path or 'manageMoveStocks' in request.path or 'add_products' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="central_inventory">
                                <li class="collapsed-nav-item-title d-none">Central Inventory
                                </li>

                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'manage_out_of_stock' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'manage_out_of_stock' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Out Of Stock</span>
                                    </div>
                                </a>
                                </li>
                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'add_products' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'add_products' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Add Products</span>
                                    </div>
                                </a>
                                </li>
                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'manage_central_inventory_products' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'manage_central_inventory_products' 'All' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Manage Products</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>

                                <li class="nav-item"><a aria-expanded="false"
                                                        asd="index"
                                                        class="nav-link {% if 'manageMoveStocks' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'manageMoveStocks' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Stock Movement</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-item-wrapper"><a aria-controls="stock_requests"
                                                     aria-expanded="false" asd="index"
                                                     class="nav-link dropdown-indicator label-1"
                                                     data-bs-toggle="collapse" href="#stock_requests"
                                                     role="button">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="box"></span></span><span
                                class="nav-link-text">Stock Requests</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent {% if 'all_stock_requests' in request.path or 'pending_stock_requests' in request.path or 'completed_stock_requests' in request.path or 'rejected_stock_requests' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="stock_requests">
                                <li class="collapsed-nav-item-title d-none">Stock Requests
                                </li>
                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'all_stock_requests' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'all_stock_requests' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">All Requests</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>

                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'pending_stock_requests' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'pending_stock_requests' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Pending Requests</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>

                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'completed_stock_requests' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'completed_stock_requests' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Completed Requests</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a aria-expanded="false" asd="index"
                                                        class="nav-link {% if 'rejected_stock_requests' in request.path %}active{% endif %}"
                                                        data-bs-toggle=""
                                                        href="{% url 'rejected_stock_requests' %}">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Rejected Requests</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>


                            </ul>
                        </div>
                    </div>
                </li>

                <!--Eye Test nav item-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Eye Test
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'eye_test' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'eye_test' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon">
                            <i class="fas fa-eye"></i>
                        </span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">View Eye Test</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <!--                orders management nav item-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">ORDERS
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'all_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'all_orders' 'All' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="shopping-bag"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">All Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>


                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'new_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'new_orders' 'All' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="check-circle"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">New Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'processing_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'processing_orders' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="activity"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Processing Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'ready_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'ready_orders' 'All' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="check-square"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Ready Orders in Lab</span></span>
                        </div>
                    </a>
                    </div>
                </li>


                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'Dispatched_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'Dispatched_orders' 'All' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="clock"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Dispatched Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'store_delivered_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'store_delivered_orders' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="check"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Ready Order in Store</span></span>
                        </div>
                    </a>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'completed_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'completed_orders' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="check"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Delivered Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>



                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'cancelled_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'cancelled_orders' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="x-circle"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Cancelled Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'refunded_orders' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'refunded_orders' 'All' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="refresh-cw"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Refunded Orders</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">CUSTOMERS
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'view_customers' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'view_customers' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="users"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">View Customers</span></span>
                        </div>
                    </a>
                    </div>
                </li>


                <!--                Employee management nav item-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Employees
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->


                    <div class="nav-item-wrapper">
                        <a aria-controls="own_store_employees_management"
                           aria-expanded="false" asd="index"
                           class="nav-link dropdown-indicator label-1"
                           data-bs-toggle="collapse" href="#own_store_employees_management"
                           role="button">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="user-check"></span></span><span
                                    class="nav-link-text">Own Store Employees</span>
                            </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <!--                            show after parent will expand-->
                            <ul class="nav collapse parent {% if 'manage_store_managers' in request.path or 'manage_store_optimetry' in request.path or 'manage_store_sales_executives' in request.path or 'manage_store_other_employees' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="own_store_employees_management">
                                <li class="collapsed-nav-item-title d-none">Own Store Employees
                                </li>
                                <!--                                active after nav link will activate-->
                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_store_managers' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_store_managers' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Store Managers</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_store_optimetry' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_store_optimetry' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Optometry</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_store_sales_executives' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_store_sales_executives' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Sales Executives</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false"
                                                                     asd="index"
                                                                     class="nav-link label-1 {% if 'manage_store_other_employees' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_store_other_employees' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span class="nav-link-text-wrapper"><span
                                                class="nav-link-text">House Keeping & Others</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="nav-item-wrapper">
                        <a aria-controls="own_store_employees_management"
                           aria-expanded="false" asd="index"
                           class="nav-link dropdown-indicator label-1"
                           data-bs-toggle="collapse" href="#franchise_store_employees_management"
                           role="button">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="user"></span></span><span
                                    class="nav-link-text">Franchise Store Employees</span>
                            </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <!--                            show after parent will expand-->
                            <ul class="nav collapse parent {% if 'manage_franchise_owners' in request.path or 'manage_franchise_optimetry' in request.path or 'manage_franchise_sales_executives' in request.path or 'manage_franchise_other_employees' in request.path %}show{% endif %}"
                                data-bs-parent="#navbarVerticalCollapse"
                                id="franchise_store_employees_management">
                                <li class="collapsed-nav-item-title d-none">Franchise Store Employees
                                </li>
                                <!--                                active after nav link will activate-->
                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_franchise_owners' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_franchise_owners' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Franchise Manager</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_franchise_optimetry' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_franchise_optimetry' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Optometry</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                                     class="nav-link label-1 {% if 'manage_franchise_sales_executives' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_franchise_sales_executives' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text">Manage Sales Executives</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a aria-expanded="false"
                                                                     asd="index"
                                                                     class="nav-link label-1 {% if 'manage_franchise_other_employees' in request.path %}active{% endif %}"
                                                                     data-bs-toggle=""
                                                                     href="{% url 'manage_franchise_other_employees' 'All' %}"
                                                                     role="button">
                                        <div class="d-flex align-items-center"><span class="nav-link-text-wrapper"><span
                                                class="nav-link-text">House Keeping & Others</span></span>
                                        </div>
                                    </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>


                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_sub_admins' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_sub_admins' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="user-plus"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Admins</span></span>
                        </div>
                    </a>
                    </div>
                </li>


                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_area_head' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_area_head' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="users"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Area Heads</span></span>
                        </div>
                    </a>
                    </div>
                </li>

<!--                <li class="nav-item">-->
<!--                    &lt;!&ndash; parent pages&ndash;&gt;-->
<!--                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"-->
<!--                                                     class="nav-link label-1 {% if 'manage_marketing_head' in request.path %}active{% endif %}"-->
<!--                                                     data-bs-toggle="" href="{% url 'manage_marketing_head' 'All' %}"-->
<!--                                                     role="button">-->
<!--                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span-->
<!--                                data-feather="target"></span></span><span class="nav-link-text-wrapper"><span-->
<!--                                class="nav-link-text">Manage Marketing Heads</span></span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    </div>-->
<!--                </li>-->


                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_accountant' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_accountant' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="dollar-sign"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Accountant</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_lab_technician' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_lab_technician' 'All' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="clipboard"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Lab Technician</span></span>
                        </div>
                    </a>
                    </div>
                </li>


                <!--                lab nav items-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">LABS
                    </p>
                    <hr class="navbar-vertical-line"/>
                    <!-- parent pages-->

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_labs' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_labs' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="cpu"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Labs</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <!--                Masters start-->
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">MASTERS
                    </p>
                    <hr class="navbar-vertical-line"/>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_category' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'manage_central_inventory_category' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="archive"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Categories</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_brands' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'manage_central_inventory_brands' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="shield"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Brands</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_shapes' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'manage_central_inventory_shapes' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="layers"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Frame Shapes</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_frame_types' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'manage_central_inventory_frame_types' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="layers"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Frame Types</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_color' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_central_inventory_color' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="droplet"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Color</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_materials' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'manage_central_inventory_materials' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="box"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Materials</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'manage_central_inventory_units' in request.path %}active{% endif %}"
                                                     data-bs-toggle="" href="{% url 'manage_central_inventory_units' %}"
                                                     role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="grid"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Units</span></span>
                        </div>
                    </a>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">ADMIN SETTINGS
                    </p>
                    <hr class="navbar-vertical-line"/>

                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a aria-expanded="false" asd="index"
                                                     class="nav-link label-1 {% if 'indolens_admin_setting' in request.path %}active{% endif %}"
                                                     data-bs-toggle=""
                                                     href="{% url 'indolens_admin_setting' %}" role="button">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                data-feather="settings"></span></span><span class="nav-link-text-wrapper"><span
                                class="nav-link-text">Manage Settings</span></span>
                        </div>
                    </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar-vertical-footer">
        <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 text-start white-space-nowrap">
            <span class="uil uil-left-arrow-to-left fs-0"></span><span
                class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span>
        </button>
    </div>
</nav>
{% include 'top_bar.html' %}

