<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Customer details</title>
    {% load static %}


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }











    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        {% for customer in customer %}

        <div class="content">

            <div class="mb-9">
                <div class="row align-items-center justify-content-between g-3 mb-4">
                    <div class="col-auto">
                        <h2 class="mb-0">Customer Details</h2>
                    </div>
                    <div class="col-auto">
                        <div class="row g-3">
                            <!--                           -->
                            <!--                            <div class="col-auto">-->
                            <!--                                <button class="btn btn-phoenix-secondary"><span class="fas fa-key me-2"></span>Reset-->
                            <!--                                    password-->
                            <!--                                </button>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-12 ">
                        <div class="row g-3 g-xxl-0 h-100">
                            <div class="col-12 col-md-7  mb-xxl-3">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column justify-content-between pb-3">
                                        <div class="row align-items-center g-5 mb-3 text-center text-sm-start">
                                            <div class="col-12 col-sm-auto mb-sm-2">
                                                <div class="avatar avatar-xl align-items-center m-3"
                                                     style="display: flex; justify-content: center; align-items: center;">
                                                    <span class="avatar-name rounded-circle avatar-initial first-letter"
                                                          style="display: inline-block; width: 80px; height: 80px; text-align: center; line-height: 80px; border-radius: 50%; background-color: #e0e0e0;">A</span>
                                                </div>

                                            </div>

                                            <div class="col-12 col-sm-auto flex-1">
                                                <h3 class="name">{{ customer.name }}</h3>
                                                <p class="text-800">Joined on {{ customer.created_on }}</p>
                                                <h4>{{membership}} Member</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5  mb-xxl-3">
                                <div class="card h-100">
                                    <div class="card-body pb-3">
                                        <div class="d-flex align-items-center mb-3">
                                            <h3 class="me-1">Default Address</h3>
                                            <button class="btn btn-link p-0"></button>
                                        </div>
                                        <h5 class="text-800">Address</h5>
                                        <p class="text-800">{{customer.address}}
                                        </p>
                                        <div class="mb-3">
                                            <h5 class="text-800">Email</h5><a href="mailto:shatinon@jeemail.com">
                                            {{customer.email}}
                                        </a>
                                        </div>
                                        <h5 class="text-800">Phone</h5><a class="text-800"
                                                                          href="tel:{{customer.phone}}">{{customer.phone}}</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-xxl-8">
                        <div class="mb-6">
                            <h3 class="mb-4">Orders <span class="text-700 fw-normal">({{sales_data|length}})</span></h3>
                            <div class="border-top border-bottom border-200"
                                 data-list='{"valueNames":["order","total","store","payment_status","fulfilment_status","delivery_type","date"],"page":6,"pagination":true}'
                                 id="customerOrdersTable">
                                <div class="table-responsive scrollbar">
                                    <table class="table table-sm fs--1 mb-0">
                                        <thead>
                                        <tr>
                                            <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                                            </th>
                                            <th class="sort white-space-nowrap align-middle pe-3" data-sort="order"
                                                scope="col"
                                                style="width:5%;">ORDER ID
                                            </th>
                                            <th class="sort align-middle text-end" data-sort="total" scope="col"
                                                style="width:6%; min-width: 100px;">TOTAL
                                            </th>
                                            <th class="sort align-middle " data-sort="store" scope="col"
                                                style="width:28%; min-width: 250px;">STORE
                                            </th>
                                            <th class="sort align-middle pe-3" data-sort="payment_status" scope="col"
                                                style="width:10%;">PAYMENT STATUS
                                            </th>
                                            <th class="sort align-middle text-start pe-3" data-sort="fulfilment_status"
                                                scope="col" style="width:12%; min-width: 200px;">ORDER
                                                STATUS
                                            </th>
                                            <th class="sort align-middle text-start" data-sort="delivery_type"
                                                scope="col"
                                                style="width:30%;">CREATED BY
                                            </th>
                                            <th class="sort align-middle text-start" data-sort="delivery_type"
                                                scope="col"
                                                style="width:30%;">CREATED ON
                                            </th>
                                            <th class="sort align-middle text-start" data-sort="delivery_type"
                                                scope="col"
                                                style="width:30%;">UPDATED BY
                                            </th>
                                            <th class="sort align-middle text-start" data-sort="delivery_type"
                                                scope="col"
                                                style="width:30%;">UPDATED ON
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody class="list" id="order-table-body">
                                        {% for order in sales_data %}
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                            <td class="fs--1 align-middle px-0 py-3">
                                            </td>
                                            <td class="order align-middle white-space-nowrap py-0"><a
                                                    class="fw-semi-bold"
                                                    href="{% url 'order_details' order.order_id %}">#{{order.order_id}}</a>
                                            </td>
                                            <td class="total align-middle  fw-semi-bold text-1000 text-end">
                                                ₹{{order.total_cost}}
                                            </td>
                                            <td class="store align-middle white-space-nowrap ">
                                                {% if order.created_by_store_type == 1%}
                                                <a class="fw-semi-bold"
                                                   href="{% url 'view_own_store' order.created_by_store %}">
                                                    {{order.store_name}}
                                                </a>
                                                {% else %}
                                                <a class="fw-semi-bold"
                                                   href="{% url 'view_franchise_store' order.created_by_store %}">
                                                    {{order.store_name}}
                                                </a>
                                                {% endif %}
                                            </td>
                                            <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                                {% if order.payment_status == 1 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                        class="badge-label">PENDING</span><span class="ms-1"
                                                                                                data-feather="check"
                                                                                                style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.payment_status == 2 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                        class="badge-label">COMPLETE</span><span class="ms-1"
                                                                                                 data-feather="check"
                                                                                                 style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.payment_status == 3 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                        class="badge-label">REFUNDED</span><span class="ms-1"
                                                                                                 data-feather="check"
                                                                                                 style="height:12.8px;width:12.8px;"></span></span>
                                                {% endif %}
                                            </td>
                                            <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                                {% if order.order_status == 1 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">NEW</span><span class="ms-1"
                                                                                            data-feather="check"
                                                                                            style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 2 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">PROCESSING</span><span class="ms-1"
                                                                                                   data-feather="check"
                                                                                                   style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 3 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">READY</span><span class="ms-1"
                                                                                              data-feather="check"
                                                                                              style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 4 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">DISPATCHED</span><span class="ms-1"
                                                                                                   data-feather="check"
                                                                                                   style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 5 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">DELIVERED STORE</span><span class="ms-1"
                                                                                                        data-feather="check"
                                                                                                        style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 6 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">DELIVERED CUSTOMER</span><span class="ms-1"
                                                                                                           data-feather="check"
                                                                                                           style="height:12.8px;width:12.8px;"></span></span>
                                                {% elif order.order_status == 7 %}
                                                <span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span
                                                        class="badge-label">CANCELLED</span><span class="ms-1"
                                                                                                  data-feather="check"
                                                                                                  style="height:12.8px;width:12.8px;"></span></span>
                                                {% endif %}

                                            </td>
                                            <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">
                                                {{order.creator_name}}
                                            </td>
                                            <td class="date align-middle white-space-nowrap text-700 fs--1  ">
                                                {{order.created_on}}
                                            </td>
                                            <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">
                                                {{order.updater_name}}
                                            </td>
                                            <td class="date align-middle white-space-nowrap text-700 fs--1  ">
                                                {{order.updated_on}}
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                                    <div class="col-auto d-flex">
                                        <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                           data-list-info="data-list-info"></p><a class="fw-semi-bold"
                                                                                  data-list-view="*"
                                                                                  href="#!">View all<span
                                            class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                            class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                            class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                                    </div>
                                    <div class="col-auto d-flex">
                                        <button class="page-link" data-list-pagination="prev"><span
                                                class="fas fa-chevron-left"></span></button>
                                        <ul class="mb-0 pagination"></ul>
                                        <button class="page-link pe-0" data-list-pagination="next"><span
                                                class="fas fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% include 'footer.html' %}

        </div>
        {% endfor %}
    </div>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script>
document.addEventListener("DOMContentLoaded", function () {
    var avatarInitials = document.querySelectorAll(".avatar-initial");
    var customerNames = document.querySelectorAll(".name");

    avatarInitials.forEach(function (avatar, index) {
        var customerName = customerNames[index].textContent.trim();
        var firstLetter = customerName[0].toUpperCase();
        avatar.textContent = firstLetter;
    });
});




</script>
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/breadcrumbs.js' %}"></script>

</body>

</html>