<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens {{request.session.store_name}} - Eye Test</title>

    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }








    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar_store.html' %}

        <div class="content">


            <div class="mb-9">
                <div class="row g-2 mb-4">
                    <div class="col-auto">
                        <h2 class="mb-0">Eye Tests ({{eye_test_list|length}})</h2>
                    </div>
                </div>

                <div data-list='{"valueNames":["slNo","testId", "customer","customerphone", "createdBy","createdOn"],"page":10,"pagination":true}'
                     id="products">
                    <div class="mb-4">
                        <div class="row g-3">
                            <div class="col-auto">
                                <div class="search-box">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search tests" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>

                                    </form>
                                </div>
                            </div>

                            <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                                <div class="btn-group position-static" role="group">

                                </div>
                            </div>
                            <div class="col-auto">
                                <button id="btnExport" class="btn btn-link text-900 me-4 px-0"><span
                                        class="fa-solid fa-file-export fs--1 me-2"></span>Export
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                        <div class="table-responsive scrollbar-overlay mx-n1 px-1">
                            <table class="table table-sm fs--1 mb-0" id="myTable">
                                <thead>
                                <tr>
                                    <th class="sort white-space-nowrap align-middle pe-3" data-sort="slNo" scope="col"
                                        style="width:10%;">SL NO
                                    </th>
                                    <th class="sort white-space-nowrap align-middle pe-3" data-sort="testId" scope="col"
                                        style="width:10%;">Test NO
                                    </th>
                                    <th class="sort align-middle pe-5" data-sort="customer" scope="col"
                                        style="width:20%;">CUSTOMER NAME
                                    </th>
                                    <th class="sort align-middle pe-5" data-sort="customerphone" scope="col"
                                        style="width:20%;">CUSTOMER PHONE
                                    </th>
                                    <th class="sort align-middle pe-5" data-sort="createdBy" scope="col"
                                        style="width:20%;">
                                        CREATED BY
                                    </th>
                                    <th class="sort align-middle " data-sort="createdOn" scope="col"
                                        style="width:10%">CREATED ON
                                    </th>

                                    <th class="sort text-end align-middle pe-0 ps-4" scope="col">ACTION</th>

                                </tr>
                                </thead>
                                <tbody class="list" id="tests-table-body">
                                {% for test in eye_test_list %}
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="fs--1 align-middle px-0 py-3 slNo"></td>
                                    <td class="fs--1 align-middle px-0 py-3 testId ">TEST{{test.eye_test_id}}
                                    </td>
                                    <td class="customer align-middle white-space-nowrap pe-5"><a
                                            class="d-flex align-items-center"
                                            href="{% url 'view_store_customer_details' test.customer_id %}">
                                        <div class="avatar avatar-m">
                                            <div class="avatar-name rounded-circle"><span class="first-letter"></span>
                                            </div>
                                        </div>
                                        <p class="mb-0 ms-3 text-1100 fw-bold name">{{test.customer_name}}</p>
                                    </a></td>
                                    <td class="customerphone align-middle white-space-nowrap pe-5">
                                        {{test.customer_phone}}
                                    </td>

                                    <td class="createdBy align-middle white-space-nowrap fw-semi-bold text-1000">
                                        {% if test.created_by_store_type == 1%}
                                        <a href="{% url 'view_employee' test.created_by %}">{{test.creator_name}}</a>
                                        {% else %}
                                        <a href="{% url 'view_franchise_employee' test.created_by %}">{{test.creator_name}}</a>
                                        {% endif %}
                                    </td>

                                    <td class="createdOn align-middle white-space-nowrap fw-semi-bold text-1000">
                                        {{test.created_on}}
                                    </td>
                                    <td class="align-middle text-end white-space-nowrap pe-0 action">
                                        <div class="font-sans-serif btn-reveal-trigger position-static">
                                            <button aria-expanded="false"
                                                    aria-haspopup="true"
                                                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                    data-boundary="window"
                                                    data-bs-reference="parent" data-bs-toggle="dropdown"
                                                    type="button">
                                                <span class="fas fa-ellipsis-h fs--2"></span></button>
                                            <div class="dropdown-menu dropdown-menu-end py-2">
                                                <a class="dropdown-item view-button" data-bs-toggle="modalView"
                                                   type="button"
                                                   style="display: block; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                                   data-category-info="{{ test.power_attributes | safe }}"
                                                >View Lens Powers</a>
                                                <a class="dropdown-item view-button" target="_blank"
                                                   href="{% url 'own_store_eye_test_print' test.eye_test_id %}"
                                                   type="button">Print Eye Test</a>

                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                            <div class="col-auto d-flex">
                                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                   data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*"
                                                                          href="#!">View all<span
                                    class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                    class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                    class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                            </div>
                            <div class="col-auto d-flex">
                                <button class="page-link" data-list-pagination="prev"><span
                                        class="fas fa-chevron-left"></span></button>
                                <ul class="mb-0 pagination"></ul>
                                <button class="page-link pe-0" data-list-pagination="next"><span
                                        class="fas fa-chevron-right"></span></button>
                            </div>
                        </div>
                    </div>
                    {% include 'modal_master_view.html' %}
                </div>
            </div>
            {% include 'footer.html' %}

        </div>
    </div>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/csvExport.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>
<script src="{% static 'js/custom_modals.js' %}"></script>

</body>

</html>