<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Indolens admin - Manage Lab Technicians</title>

    {% load static %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link href="{% static 'img/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'img/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'img/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'img/favicons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'img/favicons/manifest.json' %}" rel="manifest">
    <meta content="{% static 'img/favicons/mstile-150x150.png' %}" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <link href="{% static 'css/theme-rtl.min.css' %}" id="style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/theme.min.css' %}" id="style-default" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user-rtl.min.css' %}" id="user-style-rtl" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user.min.css' %}" id="user-style-default" rel="stylesheet" type="text/css">

    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }

    </script>
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid px-0">
        {% include 'nav_bar.html' %}
        <div class="content">
            <div class="mb-9">
                <div data-list='{"valueNames":["slno","name","phone","email","status","assignedLab","createdDate","createdBy","updatedDate","updatedBy","address","action"],"page":20,"pagination":true}'
                     id="projectSummary">
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Lab Technician<span class="fw-normal text-700 ms-3">({{lab_technician_list|length}})</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative" data-bs-display="static" data-bs-toggle="search">
                                        <input aria-label="Search" class="form-control search-input search"
                                               placeholder="Search Lab Technician" type="search"/>
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>
                                <div class="col-auto scrollbar overflow-hidden-y flex-grow-1 me-4">
                                    <div class="btn-group position-static" role="group">
                                        <div class="btn-group position-static text-nowrap">
                                            <button id="sortStatus" aria-expanded="false"
                                                    aria-haspopup="true"
                                                    class="btn btn-phoenix-secondary px-7 flex-shrink-0"
                                                    data-boundary="window"
                                                    data-bs-reference="parent" data-bs-toggle="dropdown"
                                                    type="button">{{status}}<span class="fas fa-angle-down ms-2"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'manage_lab_technician' 'All' %}">All</a></li>
                                                <li>
                                                    <hr class="dropdown-divider"/>
                                                </li>
                                                <li><a class="dropdown-item text-success"
                                                       href="{% url 'manage_lab_technician' 'Active' %}">Active Only</a>
                                                </li>
                                                <li><a class="dropdown-item text-danger"
                                                       href="{% url 'manage_lab_technician' 'Inactive' %}">Inactive
                                                    Only</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="btn btn-primary px-5"
                                                         href="{% url 'create_lab_technician' %}"><i
                                        class="fa-solid fa-plus me-2"></i>Add a lab technician</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200" id="myTable">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle pe-3" data-sort="slno" scope="col"
                                        style="width:5%;">SL NO
                                    </th>
                                <th class="sort align-middle text-end" scope="col" style="width:5%;">PROFILE</th>

                                <th class="sort white-space-nowrap align-middle ps-0" data-sort="name"
                                    scope="col" style="width:30%;">NAME
                                </th>
                                <th class="sort align-middle ps-3" data-sort="phone" scope="col" style="width:20%;">
                                    PHONE
                                </th>
                                <th class="sort align-middle ps-3" data-sort="email" scope="col" style="width:10%;">
                                    EMAIL
                                </th>
                                <th class="sort align-middle ps-3" data-sort="status" scope="col"
                                    style="width:5%;">STATUS
                                </th>

                                <th class="sort align-middle ps-3" data-sort="assignedLabs" scope="col"
                                    style="width:5%;">ASSIGNED LAB
                                </th>

<!--                                <th class="sort align-middle ps-3" data-sort="createdDate" scope="col"-->
<!--                                    style="width:10%;">-->
<!--                                    CREATED ON-->
<!--                                </th>-->
<!--                                <th class="sort align-middle ps-3" data-sort="createdBy" scope="col" style="width:15%;">-->
<!--                                    CREATED BY-->
<!--                                </th>-->
<!--                                <th class="sort align-middle ps-3" data-sort="updatedDate" scope="col"-->
<!--                                    style="width:5%;">UPDATED ON-->
<!--                                </th>-->

<!--                                <th class="sort align-middle ps-3" data-sort="updatedBy" scope="col"-->
<!--                                    style="width:5%;">UPDATED BY-->
<!--                                </th>-->

                                <th class="sort align-middle ps-3" data-sort="address" scope="col"
                                    style="width:5%;">ADDRESS
                                </th>
                                <th class="sort align-middle ps-3" scope="col"
                                    style="width:5%;">ACTION
                                </th>


                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            {% for lab_technician in lab_technician_list%}
                            <tr class="position-static">
                                <td class="fs--1 align-middle px-0 py-3 slno"></td>
                                <td>
                                    <a href="{{MEDIA_URL}}{{lab_technician.lt_profile_pic}}" target="_blank">
                                        <div class="avatar avatar-m">
                                            <img alt="" class="rounded-circle"
                                                 src="{{MEDIA_URL}}{{lab_technician.lt_profile_pic}}"/>
                                        </div>
                                    </a>
                                </td>
                                <td class="align-middle time white-space-nowrap ps-0 name py-4"><a
                                        class="text-decoration-none fw-bold fs-0"
                                        href="{% url 'view_lab_technician' lab_technician.lt_lab_technician_id %}">{{lab_technician.lt_name}}</a>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4 phone">
                                    <p class="mb-0 fs--1 text-900">{{lab_technician.lt_phone}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap start ps-3 py-4 email">
                                    <p class="mb-0 fs--1 text-900">{{lab_technician.lt_email}}</p>
                                </td>

                                <td class="align-middle white-space-nowrap text-end status">
                                    {% if lab_technician.lt_status == 0 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-danger">InActive</span>
                                    {% elif lab_technician.lt_status == 1 %}
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-success">Active</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle white-space-nowrap start ps-3 py-4 assignedLab">
                                    {% if lab_technician.lab_name|length != 0 %}
                                    <a class="text-decoration-none fw-semi-bold fs-0"
                                       href="{% url 'view_lab' lab_technician.lt_assigned_lab_id %}">
                                        {{lab_technician.lab_name}}
                                    </a>
                                    {% else %}
                                    <span
                                            class="badge badge-phoenix fs--2 badge-phoenix-danger">UNASSIGNED</span>
                                    {% endif %}
                                </td>

<!--                                <td class="align-middle white-space-nowrap ps-3 py-4 createdDate">-->
<!--                                    <p class="mb-0 fs&#45;&#45;1 text-900">{{lab_technician.lt_created_on}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap ps-3 py-4 createdBy">-->
<!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{lab_technician.lt_creator_name}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap ps-3 py-4 updatedDate">-->
<!--                                    <p class="mb-0 fs&#45;&#45;1 text-900">{{lab_technician.lt_last_updated_on}}</p>-->
<!--                                </td>-->
<!--                                <td class="align-middle white-space-nowrap ps-3 py-4 updatedBy">-->
<!--                                    <p class="fw-bo text-900 fs&#45;&#45;1 mb-0">{{lab_technician.lt_updater_name}}</p>-->
<!--                                </td>-->
                                <td class="align-middle white-space-nowrap ps-3 py-4 address"
                                style="max-width: 200px; word-wrap: break-word; overflow: hidden;">
                                    <p class="fw-bo text-900 fs--1 mb-0">{{lab_technician.lt_address}}</p>
                                </td>

                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                data-boundary="window"
                                                data-bs-reference="parent" data-bs-toggle="dropdown" type="button">
                                            <span class="fas fa-ellipsis-h fs--2"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                                                             href="{% url 'view_lab_technician' lab_technician.lt_lab_technician_id %}">View</a>
                                            {% if lab_technician.lt_status == 1 %}
                                            {% if lab_technician.lt_assigned_lab_id == 0 %}
                                            <a class="dropdown-item"
                                               type="button"
                                               data-bs-role="Manager"
                                               data-bs-toggle="modal"
                                               data-bs-target="#allocate_lab_modal"
                                               data-employee-id="{{ lab_technician.lt_lab_technician_id }}"
                                               data-employee-name="{{ lab_technician.lt_name }}"
                                               data-action-type="allocate">
                                                Allocate Lab
                                            </a>
                                            {% else %}
                                            <a class="dropdown-item"
                                               type="button"
                                               data-bs-role="Manager"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ lab_technician.lt_lab_technician_id }}"
                                               data-employee-name="{{ lab_technician.lt_name }}"
                                               data-store-name="{{lab_technician.lt_lab_name}}"
                                               data-action-type="unallocate"
                                               data-action-url="{% url 'un_assign_lab_technician' status lab_technician.lt_lab_technician_id lab_technician.lt_assigned_lab_id %}">
                                                Un allocate Lab
                                            </a>

                                            {% endif %}
                                            {% endif %}

                                            <a class="dropdown-item"
                                               href="{% url 'edit_lab_technician' lab_technician.lt_lab_technician_id %}">Update
                                                Profile</a>
                                            <a class="dropdown-item"
                                               href="{% url 'update_lab_technician_documents' lab_technician.lt_lab_technician_id %}">Update
                                                Documents</a>
                                            <div class="dropdown-divider"></div>


                                            {% if lab_technician.lt_status == 0 %}
                                            <a class="dropdown-item text-success"
                                               type="button"
                                               data-bs-role="Lab Technician"
                                               data-bs-toggle="modal"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ lab_technician.lt_lab_technician_id }}"
                                               data-employee-name="{{ lab_technician.lt_name }}"
                                               data-action-type="enable"
                                               data-action-url="{% url 'enable_disable_lab_technician' status lab_technician.lt_lab_technician_id 1 %}">
                                                Make Active
                                            </a>

                                            {% elif lab_technician.lt_status == 1 %}
                                            <a class="dropdown-item text-danger"
                                               type="button"
                                               data-bs-toggle="modal"
                                               data-bs-role="Lab Technician"
                                               data-bs-target="#operations_modal"
                                               data-employee-id="{{ lab_technician.lt_lab_technician_id }}"
                                               data-employee-name="{{ lab_technician.lt_name }}"
                                               data-action-type="disable"
                                               data-action-url="{% url 'enable_disable_lab_technician' status lab_technician.lt_lab_technician_id 0 %}">
                                                Make Inactive
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                               data-list-info="data-list-info"></p><a class="fw-semi-bold" data-list-view="*" href="#!">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semi-bold d-none" data-list-view="less" href="#!">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="allocate_lab_modal" tabindex="-1"
                     aria-labelledby="verticallyCenteredModalLabell" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="allocate_modal_title text-white" id="allocate_modal_title2"></h5>
                                <button class="btn p-1" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span class="fas fa-times fs--1 text-white"></span>
                                </button>
                            </div>
                            <div class="modal-body" id="modal_content2">
                                <!-- Form for Allocate Store -->
                                <form class="row g-3 needs-validation allocate-store-form2" method="post"
                                      action="{% url 'assign_lab_technician' status %}"
                                      novalidate="novalidate">
                                    {% csrf_token %}
                                    <input type="hidden" name="lab_technician_id" id="emp_id">
                                    <h5 class="mb-3">Select Lab (Only active labs appear
                                        here)</h5>
                                    <select class="form-select" data-choices="data-choices"
                                            data-options='{"placeholder":true}' name="lab_id"
                                            required="required">
                                        <option value="">Select a lab</option>
                                        {% for lab in lab_list %}
                                        <option value="{{lab.lab_id}}">{{lab.lab_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="custom-error" style="color: red;"></div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary modal-submit" type="submit">Submit
                                        </button>
                                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                  {% include 'modal_warning.html' %}
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }

    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'js/phoenix.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    var modal = document.querySelector('#operations_modal');
    var modalTitle = document.querySelector('#modal_title');
    var modalContent = document.querySelector('#modal_content');
    var modalSubmit = document.querySelector('#modal_submit');

    document.body.addEventListener('click', function (event) {
        if (event.target.matches('[data-bs-target="#operations_modal"]')) {
            var empId = event.target.getAttribute('data-employee-id');
            var empName = event.target.getAttribute('data-employee-name');
            var actionType = event.target.getAttribute('data-action-type');
            var actionUrl = event.target.getAttribute('data-action-url');
            var role = event.target.getAttribute('data-bs-role');

            // Clear previous content
            modalContent.innerHTML = '';

            if (actionType === 'enable' || actionType === 'disable') {
                modalTitle.textContent = actionType === "enable" ? "Enable " + role + " - " + empName : "Disable " + role + " - " + empName;
                modalContent.innerHTML = `Are you sure you want to ${actionType} ?<br><strong>${empName}</strong>`;
                modalSubmit.href = actionUrl;
                // Hide the form for non-"Allocate" actions

            } else if (actionType === 'accept' || actionType === 'reject') {
                modalTitle.textContent = actionType === "accept" ? "" + role + " - " + empName : "" + role + " - " + empName;
                modalContent.innerHTML = `Are you sure you want to ${actionType} ?<br><strong>${empName}</strong><br>Requested by store : <strong>${event.target.getAttribute('data-action-by')}</strong><br>Requested by store type : <strong>${event.target.getAttribute('data-action-store-type') === "1" ? 'Own store' : 'Franchise store'}</strong>`;
                modalSubmit.href = actionUrl;
                // Hide the form for non-"Allocate" actions

            }  else if (actionType === 'unallocate') {
                modalTitle.textContent = "Unallocate Lab - " + empName;
                modalContent.innerHTML = `Are you sure you want to unallocate the Lab <br><strong>${event.target.getAttribute('data-store-name')}</strong> for <strong>${empName}</strong>?`;
                modalSubmit.href = actionUrl;
                // Hide the form for "Unallocate" action
            }

            // Use data-bs-toggle and data-bs-target attributes to trigger the modal
            var targetModal = event.target.getAttribute('data-bs-target');
            var backdrop = event.target.getAttribute('data-bs-backdrop');
            modal.setAttribute('data-bs-target', targetModal);
            modal.setAttribute('data-bs-backdrop', backdrop);
        }
    });
});

</script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
    var modal = document.querySelector('#allocate_lab_modal');
    var modalTitle = document.querySelector('#allocate_modal_title2');
    var modalContent = document.querySelector('#modal_content2');
    var modalSubmit = document.querySelector('#modal_submit2');
    var modalForm = document.querySelector('.allocate-store-form2'); // Select the existing form

    document.body.addEventListener('click', function (event) {
        if (event.target.matches('[data-bs-target="#allocate_lab_modal"]')) {
            var empId = event.target.getAttribute('data-employee-id');
            var empName = event.target.getAttribute('data-employee-name');
            var actionType = event.target.getAttribute('data-action-type');
            var actionUrl = event.target.getAttribute('data-action-url');
            var formAction = event.target.getAttribute('data-bs-action');
            var role = event.target.getAttribute('data-bs-role');

          if (actionType === 'allocate') {
                modalTitle.textContent = "Allocate lab for - " + empName;
                document.getElementById('emp_id').value = empId;
            }

            // Use data-bs-toggle and data-bs-target attributes to trigger the modal
            var targetModal = event.target.getAttribute('data-bs-target');
            var backdrop = event.target.getAttribute('data-bs-backdrop');
            modal.setAttribute('data-bs-target', targetModal);
            modal.setAttribute('data-bs-backdrop', backdrop);
        }
    });
});

</script>


</body>

</html>